<template>
    <div id="main-container">
      <div id="view-container">
        <div class="view scrollable" ref="view">
          <div id="template-container" class="template-container floor">
            <div id="floor" class="page in-margins full" style="width: 100%;">
              <div class="page-wrapper row">
                <div id="floor-content-wrapper" class="col-2 col-md-9 col-xs-12 row">
                  <!-- <div class="floor-details-container col-md-8 col-xs-6 in-grid-margins-sub">
                    <h2>Floor Details </h2>
                    <div class="floor-details row">
                      <h3 class="col-6 col-md-6 col-xs-12"> Model types </h3>
                        <p class="col-6 col-md-6 col-xs-12"><span v-for="(name, idx) in floor.models" :key="idx">{{name.name}}</span></p>
                    </div>
                    <div class="floor-details row">
                      <h3 class="col-6 col-md-6 col-xs-12"> Models available </h3>
                      
                      <p class="col-6 col-md-6 col-xs-12" v-if="models">{{floorcount}}/{{Object.keys(models).length}}</p>
                    </div>
                  </div>
                   -->
                  <div id="compass-image-wrapper" class="in-grid-margins-sub">
                    <img id="compass-image" src="@/assets/img/compass.svg" alt="Compass">
                  </div>
                </div>        
                <floorplan-keyplate :fpClass="getClass" />
                <div id="floor-scroller-wrapper" class="col-2 col-md-3 col-xs-12">
                  <div id="floor-scroller" class="dragdealer">
                    <div id="floors-wrapper" class="handle" style="perspective: 1000px; backface-visibility: hidden; transform: translate3d(0px, -132px, 0px);">
                      <p class="floor-number" v-for="(item, index) in numberOfFloors" :key="item.index" :class="{active:currentFloor == index+1}">{{index+1}}</p>
                    </div>
                    <h4 class="vertical-title right">
                      <p>Floor Number </p>
                    </h4>
                  </div>
                  <div id="floor-switcher-arrows-container">
                    <button class="arrow up" @click="scrollByFloors(-1)" :class="{disabled:currentFloor==1}">
                      <svg viewBox="0 0 30 17" id="floor-arrow-up" width="100%" height="100%">
                        <title>floor-arrow-up</title>
                        <g id="floor-arrow-up-XMLID_33_">
                          <polygon id="floor-arrow-up-XMLID_16_" points="1.5,17 0,15.5 15,0 30,15.5 28.5,17 15,3  "></polygon>
                        </g>
                      </svg>
                    </button>
                    <button class="arrow down" @click="scrollByFloors(1)" :class="{disabled:currentFloor==numberOfFloors}">
                      <svg viewBox="0 0 30 17" id="floor-arrow-down" width="100%" height="100%">
                        <title>floor-arrow-down</title>
                        <g id="floor-arrow-down-XMLID_33_">
                          <polygon id="floor-arrow-down-XMLID_16_" points="28.5,0 30,1.5 15,17 0,1.5 1.5,0 15,14  "></polygon>
                        </g>
                      </svg>
                    </button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import Dragdealer from "../../../static/libs/dragdealer.js";
import FloorPlanKeyplate from '@/components/Floor/FloorPlanKeyplate';
import {mapState} from 'vuex';
export default {
  components:{
    'floorplan-keyplate' : FloorPlanKeyplate
  },
  data() {
    return {
      getClass: 'col-8 col-md-9 col-xs-12 in-grid-margins',
      numberOfFloors: 14,
      currentFloor: this.$route.params.id,
      scrolled: false,
      backgroundAnimationHandler: {
        buildingScrollProgress: 0,
        landingFirstScreenVisible: true
      },
      onFirstLoad: true,
      flooravailable: '',
    };
  },
    watch: {
      '$route': {
        handler: 'onUrlChange',
        immediate: true,
        deep: true
      }
    },
    computed: {
      ...mapState({
        floor: state => state.floor,
        models: state => state.floor.models,
        floorcount: state => state.floorcount
      }),
    },
  methods: {
    initDragDealer: function(e) {
      var vm = this;
      this.dragDealer = new Dragdealer("floor-scroller", {
        steps: this.numberOfFloors,
        speed: 0.35,
        loose: true,
        requestAnimationFrame: true,
        vertical: true,
        horizontal: false,
        slide: true,
        animationCallback: function(x, y) {
          if (this.disabled) {
            return;
          }
          if (y < 0) {
            //This disables elastic scroll
            y = 0;
            this.setValue(x, y, true);
            return;
          }
          if (y > 1) {
            //This disables elastic scroll
            y = 1;
            this.setValue(x, y, true);
            return;
          }
          if (vm.currentFloor != this.getStep()[1]) {
            if (!vm.onFirstLoad) {
                // vm.$route.params.id=vm.currentFloor
                vm.updateFloor(this.getStep()[1]);
                vm.$router.push({ name: 'FloorID', params: { id: vm.currentFloor }});
            } else {
              this.setStep(0, vm.currentFloor, true);
              vm.onFirstLoad = false;
            }
          }
        },
        callback: function(x, y) {
          if (vm.currentFloor != this.getStep()[1]) {
            vm.updateFloor(this.getStep()[1]);
          }
        }
      });
    },
    updateFloor: function(num) {
      if (this.currentFloor !== num && typeof num != "undefined") {
        this.currentFloor = num;
      }
    },
    scrollByFloors: function(amountOfFloor){
      this.dragDealer.setStep(0, this.dragDealer.getStep()[1] + amountOfFloor);
      this.$router.push({ name: 'FloorID', params: { id: this.currentFloor }});
    },
    onUrlChange: function () {
      if(this.$route.fullPath == '/floor/1'){
        setTimeout(() => {
          this.dragDealer.setStep(1);
        }, 500);
      }
      this.$store.dispatch('fetchFloor', "" + this.$route.params.id);
    }
  },
};
</script>

<style scoped>

</style>
