<template>

  <div id="floor-plan" :class="fpClass" :floor="fpFloor" :model="fpModel">
      <!--FLOOR 1 -->
      <transition name="slide-fade">
      <svg v-if="floor.keyplate == 'floor1'" key="floor1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 828 1285" class="active">
            <image overflow="visible" width="828" height="1285" xlink:href="@/assets/img/floor-plans/floor1-new.jpg"></image>
            <router-link  :to="'/model/'+models[0].name | lowercase"><polygon class="flat-group" v-if="models[0]" :class="[!models[0].available ? 'sold' : '', models[0].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="30.6296,331.4117 267.6296,330.4117 266.963,165.745 238.2963,166.0783 238.2963,82.0783 
                  80.6296,81.4117 80.7546,99.7867 72.3796,99.6617 72.3796,147.1617 80.7129,147.0783 80.8796,166.0367 73.2129,165.8283 
                  73.2129,167.1617 30.5463,167.1617 "/>
                  <text transform="matrix(1 0 0 1 100 206.4117)" v-if="models[0]"><tspan x="0" y="0" class="st0 st1 st2">{{models[0].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[0].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
            </router-link>
            <router-link  :to="'/model/'+models[1].name | lowercase"><polygon class="flat-group"  v-if="models[1]" :class="[!models[1].available ? 'sold' : '', models[1].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="410.1296,29.4117 410.3796,299.6617 315.1296,299.9117 314.6296,291.4117 
                  276.1296,291.4117 275.8796,158.6617 246.1296,158.9117 247.1296,81.9117 331.1296,82.4117 331.1296,29.9117 "/>
                  <text transform="matrix(1 0 0 1 260 120.8638)" v-if="models[1]"><tspan x="0" y="0" class="st0 st1 st2">{{models[1].name}}E</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[1].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>
            <router-link  :to="'/model/'+models[2].name | lowercase"><polygon class="flat-group"  v-if="models[2]" :class="[!models[2].available ? 'sold' : '', models[2].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="497.1296,25.4117 750.1296,25.4117 749.1296,60.9117 824.6296,61.4117 824.6296,159.6617 
                  802.6296,159.1617 802.6296,239.4117 671.8796,239.6617 671.6296,330.9117 559.9421,330.7711 559.9109,324.3336 561.1765,324.3179 
                  561.1921,287.1617 553.5671,287.0992 553.3796,324.4533 517.1713,324.495 517.1296,255.9117 454.3796,256.1617 454.6296,25.9117 "/>
                  <text transform="matrix(1 0 0 1 574 140.8638)" v-if="models[2]"><tspan x="0" y="0" class="st0 st1 st2">{{models[2].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[2].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>
            <router-link  :to="'/model/'+models[3].name | lowercase"><polygon class="flat-group"  v-if="models[3]" :class="[!models[3].available ? 'sold' : '', models[3].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="798.8796,246.0367 799.1296,344.6617 824.3796,344.4117 824.7546,496.5367 
                  798.8796,496.6617 798.8796,502.9117 560.0046,503.0367 560.0046,339.0367 677.7546,339.0367 677.8796,245.9117 "/>
                  <text transform="matrix(1 0 0 1 623 399.8638)" v-if="models[3]"><tspan x="0" y="0" class="st0 st1 st2">{{models[3].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[3].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>
            <router-link  :to="'/model/'+models[4].name | lowercase"><polygon class="flat-group"  v-if="models[4]" :class="[!models[4].available ? 'sold' : '', models[4].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="559.8796,767.4117 824.3796,767.1617 824.1296,682.4117 802.3796,682.6617 
                  802.8796,522.6617 799.0463,522.745 799.0463,510.0783 559.8796,510.1617 "/>
                  <text transform="matrix(1 0 0 1 623 617.8638)" v-if="models[4]"><tspan x="0" y="0" class="st0 st1 st2">{{models[4].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[4].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
            </router-link>
            <router-link  :to="'/model/'+models[5].name | lowercase"><polygon class="flat-group"  v-if="models[5]" :class="[!models[5].available ? 'sold' : '', models[5].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="559.963,775.4117 823.963,775.0783 823.963,1108.745 684.2963,1108.745 683.963,1064.4116 
                  559.963,1064.4116 "/> 
                  <text transform="matrix(1 0 0 1 623 912.8638)" v-if="models[5]"><tspan x="0" y="0" class="st0 st1 st2">{{models[5].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[5].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
           </router-link>
      </svg>


    <!--FLOOR 2-6 -->
      <svg v-if="floor.keyplate == 'floor2-6'" key="floor2-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 828 1334" class="active">
            <image overflow="visible" width="828" height="1334" xlink:href="@/assets/img/floor-plans/floor2-new.jpg"></image>











<router-link  :to="'/model/'+models[0].name | lowercase">
            <polyline class="flat-group" v-if="models[0]" :class="[!models[0].available ? 'sold' : '', models[0].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="329.7799,547.9124 329.7799,788.0791 279.7799,788.0791 279.6966,778.6624 
	248.6966,778.8291 248.6966,771.5791 228.7799,771.6624 228.7799,781.4124 147.4466,781.0791 71.7799,781.2457 4.6133,781.2457 
	4.2799,529.0791 8.1966,528.9957 8.1966,516.1624 258.9674,516.2041 258.9674,554.7041 308.9049,554.6624 308.9049,547.5374 
	329.7799,547.5791 "/>
<text transform="matrix(1 0 0 1 81.7079 659.4117)"><tspan x="0" y="0" class="st0 st1 st2">{{models[0].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[0].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[1].name | lowercase">
<rect x="8.2799" y="334.5791" class="flat-group" v-if="models[1]" :class="[!models[1].available ? 'sold' : '', models[1].name.toLowerCase() == fpModel? 'current' : 'not-current']" width="250.5" height="174"/>
<text transform="matrix(1 0 0 1 81.7079 421.7458)"><tspan x="0" y="0" class="st0 st1 st2">{{models[1].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[1].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[2].name | lowercase">
<polygon class="flat-group" v-if="models[2]" :class="[!models[2].available ? 'sold' : '', models[2].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="259.5299,327.3291 4.2799,327.0791 5.7799,61.3291 228.9049,61.4541 228.9049,152.0791 
	259.7799,152.2041 "/>
<text transform="matrix(1 0 0 1 81.7079 213.4117)"><tspan x="0" y="0" class="st0 st1 st2">{{models[2].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[2].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[3].name | lowercase">
<polygon class="flat-group" v-if="models[3]" :class="[!models[3].available ? 'sold' : '', models[3].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="411.1653,293.4124 411.4987,4.4124 233.582,4.6624 232.9049,55.5791 249.5299,55.7041 
	249.6549,64.2041 236.4049,64.2041 236.4049,145.0791 267.2799,145.0791 267.9987,285.1624 309.6653,284.9958 309.6653,293.5791 "/>
<text transform="matrix(1 0 0 1 267 101.4117)"><tspan x="0" y="0" class="st0 st1 st2">{{models[3].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[3].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[4].name | lowercase">
<polygon class="flat-group" v-if="models[4]" :class="[!models[4].available ? 'sold' : '', models[4].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="417.7799,293.4124 417.4466,4.4124 595.3633,4.6624 595.4987,55.7978 578.28,55.7666 
	578.28,64.0166 591.9987,64.0478 592.03,145.0791 560.9466,145.2458 560.9466,285.1624 519.28,284.9958 519.28,293.5791 "/>
<text transform="matrix(1 0 0 1 450 101.4118)"><tspan x="0" y="0" class="st0 st1 st2">{{models[4].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[4].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[5].name | lowercase">
<polygon class="flat-group" v-if="models[5]" :class="[!models[5].available ? 'sold' : '', models[5].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="568.53,327.3291 823.78,327.0791 822.28,61.3291 599.4466,62.0791 599.155,152.0791 
	568.28,152.2041 "/>
<text transform="matrix(1 0 0 1 636.4 199.4117)"><tspan x="0" y="0" class="st0 st1 st2">{{models[5].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[5].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[6].name | lowercase">
<rect x="569.28" y="334.5791" class="flat-group" v-if="models[6]" :class="[!models[6].available ? 'sold' : '', models[6].name.toLowerCase() == fpModel? 'current' : 'not-current']" width="250.5" height="174"/>
<text transform="matrix(1 0 0 1 636.4 421.7459)"><tspan x="0" y="0" class="st0 st1 st2">{{models[6].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[6].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[7].name | lowercase">
<polygon class="flat-group" v-if="models[7]" :class="[!models[7].available ? 'sold' : '', models[7].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="569.28,516.2457 569.1133,788.0791 821.1133,788.0791 819.9466,516.1624 "/>
<text transform="matrix(1 0 0 1 636.4 652.3708)"><tspan x="0" y="0" class="st0 st1 st2">{{models[7].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[7].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[8].name | lowercase">
<polygon class="flat-group" v-if="models[8]" :class="[!models[8].available ? 'sold' : '', models[8].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="574.6133,796.2457 573.78,970.0791 823.78,969.4124 825.28,796.1624 "/>
<text transform="matrix(1 0 0 1 636.4 883.1204)"><tspan x="0" y="0" class="st0 st1 st2">{{models[8].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[8].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[9].name | lowercase">
<polygon class="flat-group" v-if="models[9]" :class="[!models[9].available ? 'sold' : '', models[9].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="574.5925,977.0791 574.78,1151.2457 750.7794,1151.2755 750.78,1161.5791 
	825.78,1161.4125 825.9466,977.2457 "/>
<text transform="matrix(1 0 0 1 636.4 1055.4116)"><tspan x="0" y="0" class="st0 st1 st2">{{models[9].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[9].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[10].name | lowercase">
<polygon class="flat-group" v-if="models[10]" :class="[!models[10].available ? 'sold' : '', models[10].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="277.1966,1158.4957 276.9466,1242.3707 320.9466,1242.1207 320.6966,1319.1207 
	338.4466,1319.2457 338.4778,1328.5582 450.1966,1328.9125 450.2383,1325.9125 467.4883,1325.9125 467.4466,1319.2875 
	487.6549,1319.2457 487.6966,1325.9125 516.53,1325.9125 517.9466,1327.8707 557.6966,1302.3707 557.3216,1200.4957 
	524.1341,1200.4957 524.0716,1158.3707 "/>
<text transform="matrix(1 0 0 1 376 1243.6411)"><tspan x="0" y="0" class="st0 st1 st2">{{models[10].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[10].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[11].name | lowercase">
<polygon class="flat-group" v-if="models[11]" :class="[!models[11].available ? 'sold' : '', models[11].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="276.2799,976.5791 276.0299,1151.3291 524.28,1151.0791 524.28,977.0791 "/>
<text transform="matrix(1 0 0 1 352 1081.4116)"><tspan x="0" y="0" class="st0 st1 st2">{{models[11].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[11].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[12].name | lowercase">
<polygon class="flat-group" v-if="models[12]" :class="[!models[12].available ? 'sold' : '', models[12].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="519.28,795.4541 519.28,837.5791 524.03,837.5791 524.28,969.8291 276.6549,969.7041 
	277.1549,795.5791 "/>
      <text transform="matrix(1 0 0 1 352 883.1208)"><tspan x="0" y="0" class="st0 st1 st2">{{models[12].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[12].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>
      </svg>


    <!--FLOOR 7 -->
      <svg v-if="floor.keyplate == 'floor7'" key="floor7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 828 1360" class="active">
            <image overflow="visible" width="828" height="1360" xlink:href="@/assets/img/floor-plans/floor7-new.jpg"></image>




<router-link  :to="'/model/'+models[0].name | lowercase">
<polyline v-if="models[0]" :class="[!models[0].available ? 'sold' : '', models[0].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="257.6496,539.7178 257.6496,570.7178 227.6496,570.7178 227.6496,804.7178 
            4.6496,805.7178 5.6496,540.7178 "/>      
<text transform="matrix(1 0 0 1 58.7073 672.7179)"><tspan x="0" y="0" class="st0 st1 st2">{{models[0].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[0].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[1].name | lowercase">
<polygon class="flat-group" v-if="models[1]" :class="[!models[1].available ? 'sold' : '', models[1].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="257.6496,356.7178 257.6496,532.7178 4.6496,532.7178 2.6496,357.7178 "/>
<text transform="matrix(1 0 0 1 58.7074 429.718)"><tspan x="0" y="0" class="st0 st1 st2">{{models[1].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[1].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[2].name | lowercase">
<polygon class="flat-group" v-if="models[2]" :class="[!models[2].available ? 'sold' : '', models[2].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="258.6496,349.7178 259.6496,173.7178 228.6496,173.7178 227.6496,85.7178 
                  223.6496,85.7178 223.6496,82.7178 4.6496,83.7178 5.6496,349.7178 "/>
<text transform="matrix(1 0 0 1 58.7076 216.2179)"><tspan x="0" y="0" class="st0 st1 st2">{{models[2].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[2].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[3].name | lowercase">
<polygon v-if="models[3]" :class="[!models[3].available ? 'sold' : '', models[3].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="235.8163,86.3012 235.7329,167.6345 266.3996,167.7178 266.6496,308.2178 
            308.6496,308.2178 308.7329,316.7178 410.6496,316.8012 410.6496,29.2178 325.1496,29.6762 325.1496,46.6345 316.8163,46.5928 
            316.7746,26.1762 232.1496,26.0512 232.1496,77.3845 249.1496,77.4678 249.0663,86.2178 "/>
<text transform="matrix(1 0 0 1 269.6495 105.7179)"><tspan x="0" y="0" class="st0 st1 st2">{{models[3].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[3].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[4].name | lowercase">
<polygon v-if="models[4]" :class="[!models[4].available ? 'sold' : '', models[4].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="592.4829,85.8012 592.5663,167.1345 561.8996,167.2178 561.6496,307.7178 
            519.6496,307.7178 519.5663,316.2178 417.6496,316.3012 417.6496,28.7178 503.1496,29.1762 503.1496,46.1345 511.4829,46.0928 
            511.5246,25.6762 596.1496,25.5512 596.1496,76.8845 579.1496,76.9678 579.2329,85.7178 "/>
<text transform="matrix(1 0 0 1 440.7079 105.718)"><tspan x="0" y="0" class="st0 st1 st2">{{models[4].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[4].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[5].name | lowercase">
<polygon v-if="models[5]" :class="[!models[5].available ? 'sold' : '', models[5].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="569.6496,349.7178 568.6496,173.7178 599.6496,173.7178 600.6496,85.7178 604.6496,85.7178 
            604.6496,82.7178 823.6496,83.7178 822.6496,349.7178 "/>
<text transform="matrix(1 0 0 1 649.7079 220.7179)"><tspan x="0" y="0" class="st0 st1 st2">{{models[5].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[5].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[6].name | lowercase">
<polygon v-if="models[6]" :class="[!models[6].available ? 'sold' : '', models[6].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="824.6496,356.7178 824.6496,532.7178 569.6496,532.7178 569.6496,357.7178 "/>
<text transform="matrix(1 0 0 1 649.7078 429.718)"><tspan x="0" y="0" class="st0 st1 st2">{{models[6].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[6].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>
      
      
      </svg>

      <!--FLOOR 8 - 12 -->
      <svg v-if="floor.keyplate == 'floor8-12'" key="floor8-12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 828 878" class="active">
            <image overflow="visible" width="828" height="878" xlink:href="@/assets/img/floor-plans/floor8-new.jpg"></image>
           <router-link  :to="'/model/'+models[0].name | lowercase">
            <polygon v-if="models[0]" :class="[!models[0].available ? 'sold' : '', models[0].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="410.3366,567.2836 410.3366,863.9503 337.67,863.9503 337.045,859.6169 
            325.545,859.7003 325.5033,842.7003 317.17,842.7003 316.8366,863.6169 232.0033,864.4503 232.17,831.6169 232.0867,831.4503 
            232.2533,812.1169 249.3367,812.0336 249.5033,803.5336 235.8367,803.6169 235.67,577.4503 308.67,578.2836 308.67,571.2836 
            356.0294,571.1118 356.0294,574.2368 358.8419,574.1899 358.8731,567.5336 "/>
                  <text transform="matrix(1 0 0 1 259.5034 697.4114)"><tspan x="0" y="0" class="st0 st1 st2">{{models[0].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[0].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>


<router-link  :to="'/model/'+models[1].name | lowercase">
            <polyline v-if="models[1]" :class="[!models[1].available ? 'sold' : '', models[1].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="258.5866,539.4503 3.67,539.6169 4.17,805.7836 223.5867,804.4503 223.67,803.7836 
                  228.17,803.9503 228.0867,570.5753 258.8366,570.5753 "/>
<text transform="matrix(1 0 0 1 53.8365 674.4504)"><tspan x="0" y="0" class="st0 st1 st2">{{models[1].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[1].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
                  </router-link>

<router-link  :to="'/model/'+models[2].name | lowercase">
            <polyline v-if="models[2]" :class="[!models[2].available ? 'sold' : '', models[2].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="259.5033,531.7836 4.0033,532.6169 2.67,357.2836 259.5033,356.7836 "/>
            <text transform="matrix(1 0 0 1 53.8365 439.0001)"><tspan x="0" y="0" class="st0 st1 st2">{{models[2].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[2].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
            </router-link>
            
            <router-link  :to="'/model/'+models[3].name | lowercase">
            <polygon v-if="models[3]" :class="[!models[3].available ? 'sold' : '', models[3].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="258.42,350.867 259.42,174.117 228.17,174.367 228.17,86.117 223.6492,86.0545 
                  223.545,83.367 4.545,83.617 4.8367,350.2836 "/>
                  <text transform="matrix(1 0 0 1 53.8365 217.1171)"><tspan x="0" y="0" class="st0 st1 st2">{{models[3].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[3].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
            </router-link>
            
            <router-link  :to="'/model/'+models[4].name | lowercase">
            <polygon v-if="models[4]" :class="[!models[4].available ? 'sold' : '', models[4].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="232.0867,24.867 316.67,24.7003 316.7533,46.2003 325.0866,46.117 324.92,29.2836 
                  336.67,29.367 336.67,27.0336 398.5866,26.7003 398.5866,28.7836 410.5033,28.9503 410.42,316.7836 308.67,316.5336 
                  308.42,307.6586 266.67,307.7836 266.42,167.0336 235.67,167.2836 235.795,85.9086 248.795,85.9086 248.92,76.9086 
                  232.2533,76.9503 "/>
<text transform="matrix(1 0 0 1 259.5034 114.4117)"><tspan x="0" y="0" class="st0 st1 st2">{{models[4].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[4].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
                  </router-link>

                  <router-link  :to="'/model/'+models[5].name | lowercase">
            <polygon v-if="models[5]" :class="[!models[5].available ? 'sold' : '', models[5].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="596.5033,24.367 511.92,24.2003 511.8366,45.7003 503.5033,45.617 503.67,28.7836 
                  491.92,28.867 491.92,26.5336 430.0033,26.2003 430.0033,28.2836 418.0866,28.4503 418.17,316.2836 519.92,316.0336 
                  520.17,307.1586 561.92,307.2836 562.17,166.5336 592.92,166.7836 592.795,85.4086 579.795,85.4086 579.67,76.4086 
                  596.3367,76.4503 "/>
<text transform="matrix(1 0 0 1 434.8365 114.4119)"><tspan x="0" y="0" class="st0 st1 st2">{{models[5].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[5].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
                  </router-link>

<router-link  :to="'/model/'+models[6].name | lowercase">
            <polygon v-if="models[6]" :class="[!models[6].available ? 'sold' : '', models[6].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="570.17,350.5336 569.17,173.7836 600.42,174.0336 600.42,85.7836 604.9408,85.7211 
                  605.045,83.0336 824.045,83.2836 824.42,350.2836 "/>
<text transform="matrix(1 0 0 1 647.8365 217.1172)"><tspan x="0" y="0" class="st0 st1 st2">{{models[6].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[6].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
                  </router-link>

<router-link  :to="'/model/'+models[7].name | lowercase">
            <polyline v-if="models[7]" :class="[!models[7].available ? 'sold' : '', models[7].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="569.67,357.2836 824.3367,356.2836 824.3367,532.2836 569.67,532.2836 "/>
            <text transform="matrix(1 0 0 1 647.8365 434.4119)"><tspan x="0" y="0" class="st0 st1 st2">{{models[7].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[7].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
            </router-link>

<router-link  :to="'/model/'+models[8].name | lowercase">
            <polyline v-if="models[8]" :class="[!models[8].available ? 'sold' : '', models[8].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="569.795,539.7836 824.3367,539.2836 824.0033,809.6169 605.045,808.9086 604.92,803.9086 
                  600.42,804.0336 600.295,570.9086 569.545,570.9086 "/>
                  <text transform="matrix(1 0 0 1 647.8366 664.4117)"><tspan x="0" y="0" class="st0 st1 st2">{{models[8].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[8].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
            </router-link>
            
            <router-link  :to="'/model/'+models[9].name | lowercase">
            <polygon v-if="models[9]" :class="[!models[9].available ? 'sold' : '', models[9].name.toLowerCase() == fpModel? 'current' : 'not-current']" class="flat-group" points="418.3366,567.6169 418.3366,864.2836 491.0033,864.2836 491.6283,859.9503 
                  503.1283,860.0336 503.17,843.0336 511.5033,843.0336 511.67,864.4503 596.17,864.7836 596.67,864.9503 596.5867,831.7836 
                  596.42,812.4503 579.3367,812.3669 579.17,803.8669 592.8367,803.9503 593.0033,577.7836 519.5033,578.4503 519.5033,567.7836 "/>
                  <text transform="matrix(1 0 0 1 434.8365 697.4119)"><tspan x="0" y="0" class="st0 st1 st2">{{models[9].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[9].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
                  </router-link>
      
      
      

      
      </svg>





      <!--FLOOR PH1-->
    <svg v-if="floor.keyplate == 'ph1'" key="ph1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 828 889" class="active">
      <image overflow="visible" width="828" height="889" xlink:href="@/assets/img/floor-plans/floor-ph1-new.jpg"></image>

      <router-link  :to="'/model/'+models[0].name | lowercase">
      <path class="flat-group" v-if="models[0]" :class="[!models[0].available ? 'sold' : '', models[0].name.toLowerCase() == fpModel? 'current' : 'not-current']" d="M410.1583,567.554h-51.25c0,1,0,6.7083,0,6.7083l-3.2917-0.0416l-0.0417-3.125H307.95l0.25,12l-41.9167,0.1666
	l0.1667,43.5834l-38.375-0.125l0.0417,31.2916l-87.5,0.0834l-0.0417,93.875l80.0417-0.0417l0.1667,52.1667l10.9167-0.25
	l0.4167,60.25h84l94.0833-0.25L410.1583,567.554z"/>
      <text transform="matrix(1 0 0 1 255.6584 715.8248)"><tspan x="0" y="0" class="st0 st1 st2">{{models[0].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[0].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>

      </router-link>

<router-link  :to="'/model/'+models[1].name | lowercase">
      <polygon class="flat-group" v-if="models[1]" :class="[!models[1].available ? 'sold' : '', models[1].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="258.6166,448.429 81.2833,448.0957 81.45,532.429 6.95,532.5957 6.45,713.5957 48.45,712.5957 
            48.45,748.5957 133.7833,748.5957 133.95,651.3457 221.45,651.2623 221.45,619.7623 258.7833,619.679 "/>
            <text transform="matrix(1 0 0 1 46.7837 589.1171)"><tspan x="0" y="0" class="st0 st1 st2">{{models[1].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[1].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>

</router-link>

<router-link  :to="'/model/'+models[2].name | lowercase">
      <polygon class="flat-group" v-if="models[2]" :class="[!models[2].available ? 'sold' : '', models[2].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="258.1166,441.0957 81.7,441.3457 80.95,358.5957 4.95,358.0957 5.45,176.0957 46.6166,176.0957 
            46.7833,137.5957 133.95,137.8457 133.7833,238.429 221.45,238.429 221.6166,269.929 258.95,269.929 "/>
            <text transform="matrix(1 0 0 1 46.7833 289.4706)"><tspan x="0" y="0" class="st0 st1 st2">{{models[2].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[2].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>

</router-link>

<router-link  :to="'/model/'+models[3].name | lowercase">
      <polygon class="flat-group" v-if="models[3]" :class="[!models[3].available ? 'sold' : '', models[3].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="410.5333,25.7207 410.2833,317.4707 308.2833,315.9707 307.7833,306.9707 265.7833,306.9707 
            265.95,263.1374 227.95,262.6374 228.1166,231.6373 140.2833,231.804 140.45,136.9707 46.7833,136.3457 46.7833,80.9707 
            231.7,80.8457 231.825,24.8457 "/>
            <text transform="matrix(1 0 0 1 235.8365 149.1171)"><tspan x="0" y="0" class="st0 st1 st2">{{models[3].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[3].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>

</router-link>

<router-link  :to="'/model/'+models[4].name | lowercase">
      <polygon class="flat-group" v-if="models[4]" :class="[!models[4].available ? 'sold' : '', models[4].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="687.95,136.7623 687.45,231.5957 599.7833,231.7623 599.6166,262.7624 561.6166,263.0957 
            561.45,306.5957 519.6166,306.429 519.45,316.0957 417.6166,316.2624 417.7,25.0957 595.45,24.8457 595.95,79.8457 
            780.7833,81.0957 780.7833,136.7623 "/>
            <text transform="matrix(1 0 0 1 458.8365 149.1171)"><tspan x="0" y="0" class="st0 st1 st2">{{models[4].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[4].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>

</router-link>

<router-link  :to="'/model/'+models[5].name | lowercase">
      <polygon class="flat-group" v-if="models[5]" :class="[!models[5].available ? 'sold' : '', models[5].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="569.825,441.3457 745.95,441.3457 745.95,444.8874 779.4812,444.8144 780.1166,362.5957 
            823.95,363.0957 822.95,171.0957 780.95,171.0957 780.45,137.0957 694.1166,137.7623 694.2833,238.2623 606.45,238.429 
            606.2833,269.7624 568.8666,270.0124 "/>
            <text transform="matrix(1 0 0 1 609.8365 329.1171)"><tspan x="0" y="0" class="st0 st1 st2">{{models[5].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[5].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>

</router-link>

<router-link  :to="'/model/'+models[6].name | lowercase">
      <polygon class="flat-group" v-if="models[6]" :class="[!models[6].available ? 'sold' : '', models[6].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="569.6166,448.0124 568.5333,619.5123 605.95,619.429 605.7416,651.0957 693.6166,651.3457 
            694.1166,748.8457 776.7,748.7623 777.2416,712.8457 820.1166,712.8457 820.1166,531.8457 780.1166,532.8457 779.5333,444.8457 
            745.95,444.929 745.8666,448.0957 "/>
            <text transform="matrix(1 0 0 1 609.8367 532.1171)"><tspan x="0" y="0" class="st0 st1 st2">{{models[6].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[6].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>

</router-link>

<router-link  :to="'/model/'+models[7].name | lowercase">
      <path class="flat-group" v-if="models[7]" :class="[!models[7].available ? 'sold' : '', models[7].name.toLowerCase() == fpModel? 'current' : 'not-current']" d="M417.6166,567.554l51.0833,0.0417c1.0312-0.125,50.9375-0.0312,50.9375-0.0312L519.7,583.127l41.8125-0.0312
            l0.1875,43.375h38.125v31.5l87.625,0.125v91.4166l93.5833,0.5834l-0.25,54.8333l-173.625-0.25l-10.9166-0.25l-0.4167,60.25h-84
            l-94.0833-0.25L417.6166,567.554z"/>
            <text transform="matrix(1 0 0 1 444.8365 715.8248)"><tspan x="0" y="0" class="st0 st1 st2">{{models[7].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[7].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>

</router-link>


            
    </svg>

    <!--FLOOR PH2-->
    <svg v-if="floor.keyplate == 'ph2'" key="ph2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 828 939" class="active">
      <image overflow="visible" width="828" height="939" xlink:href="@/assets/img/floor-plans/floor-ph2-new.jpg"></image>
 <router-link  :to="'/model/'+models[0].name | lowercase">     
      <polygon class="flat-group" v-if="models[0]" :class="[!models[0].available ? 'sold' : '', models[0].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="410.1676,611.1964 410.1051,930.5089 330.8134,930.3839 213.3967,930.0505 
            212.9801,865.6339 207.9801,865.7589 208.2301,809.6339 119.6051,809.6339 119.4801,708.1339 213.9801,708.6339 213.9801,675.1339 
            255.2301,675.1339 255.3134,628.3839 300.3134,628.0505 300.1467,615.1339 351.3394,615.0245 351.3134,618.3839 354.8394,618.3839 
            354.8394,611.1964 "/>
            <text transform="matrix(1 0 0 1 242.8365 770.837)"><tspan x="0" y="0" class="st0 st1 st2">{{models[0].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[0].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[1].name | lowercase">
      <polygon class="flat-group" v-if="models[1]" :class="[!models[1].available ? 'sold' : '', models[1].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="246.4801,482.9672 247.1467,667.8005 206.8134,667.4672 206.8134,701.4672 112.3134,701.3005 
            112.4801,809.6339 20.8134,809.6339 21.3134,575.6339 5.4801,575.6339 5.6467,482.8005 "/>
            <text transform="matrix(1 0 0 1 71.8368 597.1338)"><tspan x="0" y="0" class="st0 st1 st2">{{models[1].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[1].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[2].name | lowercase">
      <polygon class="flat-group" v-if="models[2]" :class="[!models[2].available ? 'sold' : '', models[2].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="246.1467,475.3005 5.8134,475.1339 5.1467,382.4672 21.3134,382.4672 20.9801,151.4672 
            112.4801,151.6339 112.4801,256.8005 206.8134,256.6339 207.1467,290.8005 247.1467,290.8005 "/>
            <text transform="matrix(1 0 0 1 71.8364 373.1338)"><tspan x="0" y="0" class="st0 st1 st2">{{models[2].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[2].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[3].name | lowercase">
      <polygon class="flat-group" v-if="models[3]" :class="[!models[3].available ? 'sold' : '', models[3].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="409.9801,28.8005 410.4801,340.4672 300.3134,340.8005 300.3134,330.1339 255.3134,330.1339 
            255.3134,282.9672 213.8134,283.1339 213.9801,249.3005 119.6467,249.6339 119.6467,151.6339 208.3134,151.6339 208.1467,92.3005 
            212.8134,92.4672 213.3134,27.4672 308.8134,27.8005 "/>
            <text transform="matrix(1 0 0 1 253.8365 184.1339)"><tspan x="0" y="0" class="st0 st1 st2">{{models[3].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[3].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[4].name | lowercase">
      <polygon class="flat-group" v-if="models[4]" :class="[!models[4].available ? 'sold' : '', models[4].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="418.4801,340.6339 527.48,340.6339 528.98,329.1339 572.48,330.1339 572.98,281.6339 615.48,282.6339 
            614.98,247.1339 707.98,248.6339 708.48,151.1339 616.48,151.6339 610.48,27.6339 417.9801,30.6339 "/>
      <text transform="matrix(1 0 0 1 443.8365 184.1339)"><tspan x="0" y="0" class="st0 st1 st2">{{models[4].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[4].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[5].name | lowercase">
            <polygon class="flat-group" v-if="models[5]" :class="[!models[5].available ? 'sold' : '', models[5].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="581.98,474.6339 581.48,290.6339 621.48,290.6339 621.48,256.6339 719.48,256.1339 715.98,152.6339 
            805.48,152.1339 806.98,378.6339 824.48,379.1339 822.98,475.1339 "/>
            <text transform="matrix(1 0 0 1 626.8365 368.1338)"><tspan x="0" y="0" class="st0 st1 st2">{{models[5].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[5].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[6].name | lowercase">
      <polygon class="flat-group" v-if="models[6]" :class="[!models[6].available ? 'sold' : '', models[6].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="582.48,483.1339 822.98,483.1339 823.98,580.1339 805.98,580.6339 807.98,809.6339 716.355,809.6339 
            715.98,701.1339 621.6467,701.3005 621.48,667.3005 581.8134,667.3005 "/>
<text transform="matrix(1 0 0 1 626.8367 553.1338)"><tspan x="0" y="0" class="st0 st1 st2">{{models[6].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[6].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>

<router-link  :to="'/model/'+models[7].name | lowercase">
      <polygon class="flat-group" v-if="models[7]" :class="[!models[7].available ? 'sold' : '', models[7].name.toLowerCase() == fpModel? 'current' : 'not-current']" points="418.3134,611.1339 527.98,611.3005 527.98,627.9672 572.98,628.3005 573.1467,674.6339 
            613.98,674.9672 613.98,709.1339 707.98,709.1339 708.73,809.7589 618.98,809.7589 618.98,865.7589 610.855,865.7589 
            609.605,930.5089 418.1051,930.5089 "/>
<text transform="matrix(1 0 0 1 436.8365 770.837)"><tspan x="0" y="0" class="st0 st1 st2">{{models[7].name}}</tspan><tspan x="0" y="40" class="st0 st1 st2">{{models[7].sqft}} </tspan><tspan class="sqft">SQ.FT.</tspan></text>
</router-link>
            


    </svg> 
      </transition>
     </div>
</template>

<script>
  import {mapState} from 'vuex';
  export default {
      props: ['fpClass', 'fpFloor', 'fpModel'],
      data(){
            return{
                  getModel: ''
            }
      },
      computed: {
            ...mapState({
            floor: state => state.floor,
            models: state => state.floor.models,
            }),
      },
      watch: { 
            fpFloor: function() {
                  if (this.$props.fpFloor) {
                  this.$store.dispatch("fetchFloor", this.$props.fpFloor.toString());
                  }
            },
            'fpModel': function() {
                  return this.fpModel.toString().toUpperCase() 
            }      
      }
  }
</script>

<style scoped lang="scss">
.slide-fade-enter-active {
  transition: opacity .3s ease;
}
.slide-fade-leave-active {
  transition: opacity .1s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
text{
      fill : #fff;
      font-size: 35px;
}

text .sqft{
      font-size: 16px;
            fill: #231f20;

}
text tspan:nth-of-type(2){
      fill: #231f20;
}
</style>