.row {
    &::after {
      @extend %pseudo-clear;
    }
  }
  
  %col {
    float: left;
    box-sizing: border-box;
  }
  
  @for $i from 1 through 12 {
    .col-xs-#{$i},
    .col-sm-#{$i},
    .col-md-#{$i},
    .col-#{$i} {
      @extend %col;
      //width: ($i*100%/12);
    }
  }
  
  
  
  @for $i from 1 through 12 {
    .col-#{$i} {
      width: ($i*100%/12);
    }
  }
  
  
  
  @media (max-width: $breakpoint-md) {
  
    @for $i from 1 through 12 {
      .col-md-#{$i} {
        width: ($i*100%/12);
      }
    }
  
  }
  
  
  @media (max-width: $breakpoint-sm) {
  
    @for $i from 1 through 12 {
      .col-sm-#{$i} {
        width: ($i*100%/12);
      }
    }
  
  }
  
  
  
  @media (max-width: $breakpoint-xs) {
  
    @for $i from 1 through 12 {
      .col-xs-#{$i} {
        width: ($i*100%/12);
      }
    }
  
  }
  
  
  
  
  .in-grid-margins {
    padding: 0 1.5%;
  }
  
  
  
  @for $i from 1 through 12 {
    .col-#{$i} {
      .in-grid-margins-sub{
        padding: 0 (1.5%*(12/$i));
      }
    }
  }
  
  
  
  