@keyframes loading-blink{
    0%{
      opacity: $loading-animation-initial-opacity;
    }
    50%{
      opacity:1;
    }
    100%{
      opacity: $loading-animation-initial-opacity;
    }
  }
  @keyframes blink{
    0%{
      opacity: 1;
    }
    50%{
      opacity:0;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes loading-dots{
    0%{
      content:'';
    }
    25%{
      content:'.';
    }
    50%{
      content:'..';
    }
    75%{
      content:'...';
    }
  }
  
  @keyframes maskFromLeft {
    from {
      opacity:0;
      clip-path: polygon(0 0%, 0% 0%, 0% 100%, 0% 100%);
    }
  
    to {
      opacity:1;
      clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
  
  @keyframes compassRotation{
    0%{
      transform:rotate(0) translate3d(0,0,0);
    }
    8%{
      transform:rotate(-4deg) translate3d(0,0,0);
    }
    40%{
      transform:rotate(13deg) translate3d(0,0,0);
    }
    65%{
      transform:rotate(5deg) translate3d(0,0,0);
    }
    90%{
      transform:rotate(9deg) translate3d(0,0,0);
    }
    100%{
      transform:rotate(8deg) translate3d(0,0,0);
    }
  }
@keyframes spin { 
    from { 
        transform: translate(100, 100), rotate(45 60 60)
    } to { 
        transform: translate(100, 100), rotate(45 60 60)
    }
}
@keyframes move { 
  from { 
      transform: translateX(0px); 
  } to { 
      transform: translateX(-2270px); 
  }
}
@keyframes cycle {
  0%{ opacity:0;
      stroke-dashoffset: 700;
  }
  5%{
      opacity:1;
  }
  100%{
      opacity:1;
      stroke-dashoffset: 0;
  }
}