
@media (max-width: $breakpoint-md) {


    $list-space: (
            xs: 15,
            sm: 30,
            md: 40,
            lg: 65,
            xl: 100,
            xxl:150,
    );
  
    @each $key, $value in $list-space {
  
      .inner-margin-top-#{$key}{
        margin-top: em($value);
      }
  
    }
  
    @for $i from 1 through 12 {
      .col-md-#{$i} {
        .in-grid-margins-sub{
          padding: 0 (1.5%*(12/$i));
        }
      }
    }
  
    .hidden-md{
      display: none !important;
    }
  
    .visible-md{
      display: block !important;
    }
  
    .md-margin-clear{
      margin-top:0;
    }
  
    .md-margin{
      margin-top:em(80);
    }
    .md-margin-sm{
      margin-top:em(40);
    }
    .md-margin-xs{
      margin-top:em(5);
    }
  
    .in-grid-margins-md-clear{
      padding: 0 !important;
    }
  
    /*Inner Pages font-sizes*/
    .inner-title{
      html &{
        font-size: em(40);
        letter-spacing: letterSpacing(5,40);
      }
      html.ka &{
        font-size: em(40);
        letter-spacing: letterSpacing(5,40);
      }
    }
  
  
    .inner-title-small{
  
      html &{
        font-size: em(54);
      }
  
      html.ka &{
        font-size: em(36);
      }
  
    }
  
    .inner-caption{
  
      html &{
        font-size: em(29);
      }
      html.ka &{
        font-size: em(22);
      }
    }
  
    .inner-text{
      html &{
        font-size:em(16);
        line-height:em(18);
      }
      html.ka &{
        font-size:em(14);
        line-height:em(20);
      }
    }
  
  
    address{
      color:$brand-golden;
      p{
        html &{
          font-size: em(20);
        }
        html.ka &{
          font-size: em(16);
        }
      }
    }
  
  
    .contact-info{
      color:$brand-golden;
      font-size: em(20);
    }
  
    .contact-title{
      html &{
        
        font-weight: 800;
        font-size: em(20);
        svg{
          height:em(40,20);
        }
      }
  
      html.ka &{
        font-family: DejavuSansM;
        font-weight: bold;
        font-size: em(16);
        svg{
          height:em(40,16);
        }
      }
    }
  
    .inner-link{
      font-size: em(22);
    }
  
  
    .inner-quotes{
  
      html &{
        font-size: em(20);
      }
  
      html.ka &{
        font-size: em(16);
      }
  
    }
  
  
  
    /*Appartments*/
    .apartment-table{
      min-height:300px;
    }
  
  
    #apartment-image{
      width: 60%;
      max-width: initial;
      display: block;
      max-height: initial;
      position: relative;
      margin-top:em(40);
    }
  
    #image-row{
      display: none;
    }
  
  
    #apartment-type-title{
      width:25%;
      padding: 0 1.5%;
      padding-bottom:em(15);
      box-sizing: border-box;
      span{
        &:first-child{
          html &{
            font-size: em(18);
          }
          html.ka &{
            font-size: em(16);
          }
        }
        &:last-child{
          font-size:em(20);
        }
      }
    }
  
  
    .apartment-table{
      .cell-4{
        width:50%;
      }
      .cell-1{
        width: 25%;
  
        .in-grid-margins{
          padding:0;
        }
  
      }
    }
  
  
    .cell-table,
    .table{
      overflow:hidden;
      height:initial;
    }
  
    #apartment-info-floor-selector-container{
      height:auto;
  
      h2{
        padding: 0 6%;
        padding-top:em(2);
  
        html.ka &{
          font-size:em(30);
          margin-bottom: em(10,30);
        }
        html &{
          font-size:em(45);
          margin-bottom: em(10,35);
        }
      }
  
      h3{
        font-size:em(26);
        margin-bottom: em(15,26);
        padding: 0 6%;
      }
  
      h4{
        padding: 0 6%;
        font-size:em(23);
        margin-bottom: em(20,23);
      }
    }
  
  
    #same-type-on-other-floor-selector{
  
      html.ka &{
        font-size:em(13);
        height:em(65,13);
        padding:em(20,13);
        padding-top: em(25,13);
      }
      html &{
        font-size:em(18);
        
        height:em(65,18);
        padding:em(20,18);
      }
  
    }
  
  
    #rooms-container{
      margin:0 auto;
      width: 80%;
      max-height: initial;
  
      span{
        vertical-align: middle;
        display: inline-block;
      }
      .room-area{
        width:25%;
        font-size:em(15);
        
        font-weight: 200;
        text-align: right;
  
        b{
          font-weight: bold;
          display: inline-block;
          font-size: inherit;
          html.ka &{
            font-size:em(17,15);
          }
        }
  
        abbr{
          display: inline-block;
          margin-left:3px;
          html.ka &{
            font-family: DejavuSansCondensed;
          }
        }
      }
      li:last-child .room-number:after{
        display: none;
      }
  
    }
  
    #navigation-buttons-wrapper-cell{
      position: absolute;
      bottom: 0;
      height: initial;
      width: 100%;
    }
  
  
  
    #type-switchers-wrapper{
      width:100%;
    }
  
    .type-switcher{
      width:100%;
      height: 50px;
      &.next{
        border-top:none;
        border-left:1px solid;
      }
    }
  
  
    .b5-text{
      padding: 0 6%;
    }
  
  
  }
  
  @media (max-width: $breakpoint-sm) {
  
    /*Apartments*/
    .type-switcher{
      font-size: em(14);
    }
    #navigation-buttons-wrapper{
  
      .nav-button{
        html.ka &{
          font-size:em(14);
        }
        html &{
          font-size:em(18);
        }
      }
  
    }
  
  
  
  
    #technical-benefits,
    #safety,
    #assets{
      ul{
  
        li{
  
          &:nth-child(3n +1){
            clear:none !important;
          }
  
          &:nth-child(odd){
            clear:both !important;
          }
  
  
        }
  
      }
    }
  
    #contact-page{
  
      #gmaps {
        width:100%;
        position: relative;
        left:0;
        height:15em;
        height: 50vh;
      }
  
  
  
  
    }
  
  
  
    #footer-line{
      margin-top: em(45);
    }
  
  
  }
  
  
  @media (max-width: $breakpoint-xs) {
  
    $list-space: (
            xs: 10,
            sm: 20,
            md: 30,
            lg: 45,
            xl: 70,
            xxl:120,
    );
  
    @each $key, $value in $list-space {
  
      .inner-margin-top-#{$key}{
        margin-top: em($value);
      }
  
    }
  
  
  
    @for $i from 1 through 12 {
      .col-xs-#{$i} {
        .in-grid-margins-sub{
          padding: 0 (1.5%*(12/$i));
        }
      }
    }
  
  
    .xs-margin-xs{
      margin-top:em(10);
    }
    .xs-margin{
      margin-top:em(70);
    }
  
    .xs-margin-clear{
      margin-top:0;
    }
  
    .in-grid-margins-xs-clear{
      padding: 0 !important;
    }
  
    .hidden-xs{
      display: none !important;
    }
  
    .visible-xs{
      display: block !important;
    }
  
  
    /*Inner Pages font-sizes*/
    .inner-title{
      html &{
        font-size: em(30) !important;
        letter-spacing: letterSpacing(5,30);
      }
      html.ka &{
        font-size: em(30) !important;
        letter-spacing: letterSpacing(5,30);
      }
    }
  
  
    .inner-title-small{
  
      html &{
        font-size: em(28) !important;
        letter-spacing: letterSpacing(5,28);
      }
  
      html.ka &{
        font-size: em(28) !important;
        letter-spacing: letterSpacing(5,28);
      }
  
    }
  
    .inner-caption{
  
      html &{
        font-size: em(20) !important;
      }
      html.ka &{
        font-size: em(20) !important;
      }
    }
  
    .inner-text{
      html &{
        font-size:em(16) !important;
        line-height:em(22);
      }
      html.ka &{
        font-size:em(16) !important;
        line-height:em(22);
      }
    }
  
    .inner-link{
      font-size: em(18) !important;
    }
  
  
  
    .inner-quotes{
  
      html &{
        font-size: em(20) !important;
      }
  
      html.ka &{
        font-size: em(20) !important;
      }
  
    }
  
  
  
    /*Appartments*/
    .apartment-table{
      min-height:initial;
      padding: 0 6%;
      box-sizing: border-box;
    }
  
    .cell-table,
    .table{
      display:block;
    }
  
    .table-row{
      display:block;
    }
  
    .cell{
      display:block;
    }
  
  
    #apartment-image{
      width: 100%;
      margin-top:em(40);
    }
  
    #image-row{
      display: none;
    }
  
    #apartment-type-title{
      width:100%;
      padding: 0 6%;
      padding-bottom:em(15);
      box-sizing: border-box;
  
      span{
        &:first-child{
          width: auto;
          padding-right: 20px;
          html &{
            font-size: em(18);
          }
          html.ka &{
            font-size: em(16);
          }
        }
        &:last-child{
          font-size:em(20);
        }
      }
    }
  
    .apartment-table{
      .cell-4{
        width:100%;
      }
      .cell-1{
        width: 100%;
      }
    }
  
    .cell-table,
    .table{
      overflow:hidden;
      height:initial;
    }
  
    #apartment-info-floor-selector-container{
      height:auto;
  
      h2{
        padding: 0;
        padding-top:em(2);
  
        html.ka &{
          font-size:em(30);
          margin-bottom: em(10,30);
        }
        html &{
          font-size:em(45);
          margin-bottom: em(10,35);
        }
      }
  
      h3{
        font-size:em(26);
        margin-bottom: em(15,26);
        padding: 0;
      }
  
      h4{
        padding: 0;
        font-size:em(23);
        margin-bottom: em(20,23);
      }
    }
  
    #same-type-on-other-floor-selector{
  
      html.ka &{
        font-size:em(13);
        height:em(65,13);
        padding:em(20,13);
        padding-top: em(25,13);
      }
      html &{
        font-size:em(18);
        
        height:em(65,18);
        padding:em(20,18);
      }
  
    }
  
    #rooms-container-cell{
      padding: 0;
      margin-top:em(40);
    }
  
    #rooms-container{
      width: 100%;
    }
  
    #navigation-buttons-wrapper-cell{
      position: relative;
      bottom: initial;
      height: initial;
      width: 100%;
      margin-top:em(40);
    }
  
  
    #type-switchers-wrapper{
      width:100%;
      margin-top:em(40);
    }
  
    .type-switcher{
      width:100%;
      height: 50px;
      &.next{
        border-top:none;
        border-left:1px solid;
      }
    }
  
  
    .b5-text{
      padding: 0;
    }
  
  
  
    #footer-line{
      margin-top: em(30);
    }
  
  }
  
  