/**

List of Common Resolutions:

2560x1440
1920x1080
1680x1050
1600x900
1440x900
1366x768
1280x800
1024x768
800x600
768x1024
600x960
414x736
320x568
320x480

*/

@-ms-viewport{
    width:device-width;
  }
  @viewport{
    width:device-width;
  }
  @media screen and (min-width:2400px){
    body{
      font-size:22px;
    }
  }
  @media screen and (max-width:2200px){
    body{
      font-size: 18px;
    }
  }
  @media screen and (max-width:1920px){
    body{
      font-size: 16px;
    }
  }
  @media screen and(max-width: 1800px){
    body{
      font-size: 15px;
    }
  }
  @media screen and (max-width:1600px){
    body{
      font-size: 14px;
    }
  }
  @media screen and (max-width:1400px){
    body{
      font-size: 13px;
    }
  }
  @media screen and (max-width:$breakpoint-md){ //Converting to 4 grid system
    $grid-margin-width:3%;
    $menu-page-animation-time:1.7s;
    body{
      font-size: 16px;
    }
  
    #grid{
      .col:nth-child(4),.col:nth-child(5){
        display: none;
      }
      .col{
        width:23.5%;
        &.col-margin{
          width:3%;
        }
      }
    }
    .in-margins{
      margin-left:$grid-margin-width;
      margin-right:$grid-margin-width;
    }
    .page.in-margins{
      padding-left: $grid-margin-width;
      padding-right: $grid-margin-width;
    }
  
    header{
      margin-top:$grid-margin-width;
  
      #language-switchers-container{
        visibility: hidden;
        opacity:0;
        transition:opacity .3s ease, visibility 0s ease .3s;
        position: absolute;
        left:0;right:0;
        text-align: center;
        transform:none;
        height:100%;
  
        .language-switcher{
          display: inline-block;
          top: 50%;
          position: relative;
          transform: translate3d(0,-50%,0);
          margin-right:2px;
        }
        html.menu &{
          visibility: visible;
          opacity:1;
          transition:opacity .3s ease $menu-page-animation-time;
        }
      }
    }
  
    //Loading
    #main-loading-container{
      font-size: 14px;
    }
  
    //Landing
    h1.main-title{
      font-size: 14px;
    }
    #floor-selector-container{
      width:100% - 2*$grid-margin-width;
    }
    #floor-selector-container{
      font-size: 14px;
  
      .vertical-title{
        display: none;
      }
    }
    html.touch #floor-selector-container #view-floor-text-before-hover,
    #floor-selector-contact-container .wrapper,
    #navigation-ways-wrapper{
      display: none;
    }
    #discover-project{
      width: 200%;
      margin-left: -50%;
    }
    #floor-selector-flat-types-container #flat-types-wrapper{
      width:90%;
    }
    html.ka #floor-selector-container .view-floor-button-text{
      font-size: 1.6em;
    }
  
    //Menu
    #menu-icon{
      position: absolute;
      left:auto;
      //top:50%;
      transform:translate3d(0,-50%,0);
      right:2px;
      //background-color:white;
      //height:100%;
  
      #menu-icon-wrapper{
        width:em(42);
        height:em(42);
        padding:em(11) em(14) em(12);
      }
      #menu-texts-wrapper{
        display: none;
      }
    }
    html.menu{
      #grid{
        .col{
          &:nth-child(3) .grid-line{
            height:0;
          }
          &.opacity-transition{ //In menu when user hovers the menu item same grid gets opacity-transition class
            &.background-open .grid-background{
              opacity:1;
            }
          }
        }
      }
    }
    nav{
      .sub{
        display: none;
      }
      >ul{
        display: table;
        height:85%;
        position: absolute;
        left:0;right:0;
        bottom:0;
        >li{
          display: table-row;
          transform:scale(1) !important;
          transition:none !important;
          height:mathDivide(100%,6);
  
          >a{
            display: none;
          }
        }
      }
  
      .menu-li-container{
        display: table-cell;
        vertical-align: middle;
        height:100%;
  
        a{
          display: table;
          width:100%;
          height:100%;
  
          a span{
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .page-url{
        html.ka &, html &{
          padding:0;
        }
      }
    }
    #menu-mobile-background {
      display: block;
      visibility: hidden;
      opacity:0;
      transition:opacity .3s ease, visibility 0s ease .3s;
  
      .view.active &{
        visibility: visible;
        opacity:.25;
        transition:opacity .3s ease;
      }
  
    }
  
    //Types
    #types{
      font-size: 13px;
    }
    .type, .type.type-1, .type.type-2 {
      margin-top: em(60,13);
    }
    .type .flat-plan-image-wrapper .flat-image img{
      padding: 0 3%;
    }
  
    //Floors
    #floor{
      font-size: 14px;
  
      #floor-plan{
        position: absolute;
        top:5%;
        height:75%;
        margin:auto;
        svg{
          max-height:100%;
          top:0;
          bottom:auto;
        }
      }
    }
    #compass-image-wrapper{
      display: none;
    }
  
    .floor-details-container {
      position: absolute;
      bottom:4%;
      left:0;
      top:auto;right:auto;
    }
    .floor-details{
      h3{
        padding-right:3%;
      }
  
      p{
        text-align: left;
        padding-left:3%;
      }
    }
  
    //Inner Pages
    .page-title{
      display: none;
    }
    .page{
      //@extend .inner-margin-top-lg;
    }
  
  
  }
  @media screen and (max-width:$breakpoint-sm){
    //Loading
    #main-loading-container{
      font-size: 13px;
    }
  
    //Landing
    h1.main-title{
      font-size: 13px;
    }
    #floor-selector-container{
      font-size: 12px;
    }
    #floor-selector-flat-types-container .wrapper{
      display: none;
    }
    #floor-selector-view-button-container #view-floor-button{
      width:100%;
      box-sizing: border-box;
    }
  
    //Types
    #types-contacts-wrapper{
      display: none;
    }
    .type{
      &.type-2{
        clear:both;
      }
      .flat-plan-image-wrapper .flat-image img{
        padding: 0 1.5%;
      }
    }
  
    //Image Comparison Widget
    .comparison-control::after{
      width:30px;
      height:30px;
    }
  }
  
  @media screen and (max-width:$breakpoint-xs){
  
    header{
      #logo-itself {
        .logo-icon-only{
          display: block;
        }
        .main-logo{
          display: none;
        }
      }
    }
  
    //Loading
    #main-loading-container{
      font-size: 11px;
    }
  
    //Landing
    h1.main-title{
      font-size: 11px;
    }
    #floor-selector-container{
      font-size: 10px;
    }
    #floor-selector-contact-container{
      display: none;
    }
  
  
    #floor-selector-floor-number-container{
      text-align: left;
      .wrapper{
        margin-left:em(15,11) !important;
      }
      #floor-number-switchers-container{
        right:em(-5,11);
      }
    }
    #discover-project{
      width: 100%;
      margin-left: 0%;
    }
  
    //Menu
    #menu{
      font-size: 14px;
    }
  
    //Types
    #types{
      font-size: 12px;
    }
  
    //Floor
    #floor-content-wrapper{
      height:88%;
      top:0;
    }
    #floor #floor-plan{
      top:auto;
      bottom:15%;
    }
    #floor-scroller-wrapper{
      position: absolute;
      bottom:0;
      height:12%;
      left:0;right:0;
      border-top:1px solid $brand-golden;
    }
    .floor-details-container{
      bottom:em(20,14);
    }
    .floor-details{
      margin-top: em(18,14);
  
      h3{
        padding:0;
      }
      p{
        padding:0;
        margin-top:em(7,14);
  
        span{
          margin:0 em(5,14);
          &:first-child{
            margin-left:0;
          }
        }
      }
    }
    #floor-scroller{
      overflow:hidden;
      height: em(50,14);
      border:none;
  
      .vertical-title{
        display: none;
      }
      .floor-number{
        font-size:em(45,14);
        transform:scale(1);
        color:$brand-red;
        transition:none !important;
  
      }
    }
    #floor-switcher-arrows-container{
      width:8.25em;
      height:0;
      top:0;left:0;
      bottom:0;
      margin:auto;
      transform:none;
  
      .arrow{
        top:0 !important;
        bottom:auto !important;
  
        svg {
          color: $brand-golden;
        }
        &.up{
          left:0;
          right:auto;
  
          transform: translate3d(-50%, -50%, 0);
        }
        &.down{
          left:auto;
          right:0;
          transform: translate3d(50%, -50%, 0);
        }
      }
  
    }
    #floor-plan svg .flat-group{
      opacity:1;
    }
  
    //Apartment
    #apartment-type-title{
      display: none;
    }
  }
  @media screen and (max-width:$breakpoint-xxs) {
  
    //Header
    #menu-icon{
      width:25%;
      height:100%;
      background:white;
      right:0;
  
      #menu-icon-wrapper{
        height:0;
        padding:0;
        width:50%;
        padding-bottom:50%;
        position: absolute;
        top:50%;
        transform:translate3d(0,-47%,0);
        left:0;right:0;
        margin:auto;
      }
    }
  
    //Landing
    #floor-selector-container{
      font-size: 7px;
    }
    h1.main-title{
      font-size: 8px;
    }
    #floor-selector-floor-number-container{
      text-align: center;
      .wrapper{
        margin-left:em(8,10) !important;
      }
      #floor-number-switchers-container{
        display: none;
      }
    }
  
    //Menu
    #menu{
      font-size: 12px;
    }
  
    //Floors
    #floor {
      font-size: 12px;
    }
    .floor-details-container{
      display: none;
    }
    #floor-content-wrapper .nav-button-wrapper{
      .nav-button{
        html &{
          padding-top: .9em;
          padding-bottom: .9em;
        }
        html.ka &{
          padding-top: 1.1em;
          padding-bottom: .9em;
        }
        &::before{
          display: none;
        }
      }
    }
  }
  @media screen and(max-height:800px){
    h1.main-title{
      top:17%;
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    html.mobile.ka #same-type-on-other-floor-selector,
    html.mobile.en #same-type-on-other-floor-selector{
      font-size:16px !important;
    }
  }
  //@media screen and (max-width:1400px){
  //  html.ka body{
  //    font-size: 13px;
  //  }
  //  html body{
  //    font-size: 12px;
  //  }
  //
  //  //About page
  //  #about-page p{
  //    font-size: 1.35em;
  //  }
  //  #assets ul li p{
  //    font-size: 1.25em;
  //    margin-top: 1.3em;
  //  }
  //  #project-description-container .project-description p{
  //    margin-top: 2.3em;
  //  }
  //}
  //@media screen and (max-width:1300px){
  //  html.ka body,
  //  html body{
  //    font-size: 12px;
  //  }
  //
  //  //About page
  //  html #project-description-container .project-description h2{
  //    width:100%;
  //  }
  //}
  //@media screen and (max-width:1100px){
  //  #grid{
  //    .col:nth-child(4),.col:nth-child(5){
  //      display: none;
  //    }
  //    .col{
  //      width:23.5%;
  //      &.col-margin{
  //        width:3%;
  //      }
  //    }
  //  }
  //  header{
  //    margin: 3%;
  //    #logo-container{
  //      width:25%;
  //    }
  //    #logo-itself{
  //      width:88%;
  //      margin-left: 6%;
  //    }
  //    .language-switcher{
  //      right:0;
  //      transform:translateX(0);
  //      padding:1.1em 0.625em;
  //    }
  //  }
  //  .view{
  //    padding-top: 11%;
  //  }
  //  .page.in-margins{
  //    padding-left: 3%;
  //    padding-right:3%;
  //    //width:100%-3%*2;
  //    margin-left: 0;
  //    margin-right: 0;
  //  }
  //  .in-margins{
  //    margin-left:3%;
  //    margin-right: 3%;
  //  }
  //
  //  //Landing page
  //  #landing #landing-visit-us{
  //    width:50%;
  //  }
  //  .view.active #landing #landing-visit-us .phone-number::after{
  //    width:107%;
  //  }
  //
  //
  //  //About page
  //  #assets ul li{
  //    width:50%;
  //    margin-bottom: 4.5em;
  //    &:nth-child(3n+1){
  //      clear:none;
  //    }
  //    &:nth-child(2n+1){
  //      clear:both;
  //    }
  //  }
  //  #project-description-container .project-description p,
  //  #project-description-container .project-description-wrapper.vicent .project-description-image-wrapper img{
  //    width:100%;
  //  }
  //  #showroom .description{
  //    width:100%;
  //  }
  //  #showroom .social-container,
  //  #showroom .contact-info-container{
  //    width:50%;
  //    font-size: 1.2em;
  //  }
  //  #about-page{
  //    h2{
  //      font-size: 2.5em;
  //    }
  //    h3{
  //      font-size: 2em;
  //    }
  //  }
  //}
  //
  //
  //@media screen and (max-width:800px){
  //  html.ka body,
  //  html body{
  //    font-size: 11px;
  //  }
  //
  //  //About page
  //  #about-page{
  //    h2{
  //      font-size: 2em;
  //    }
  //    h3{
  //      font-size: 1.7em;
  //    }
  //    p{
  //      font-size: 1.1em;
  //    }
  //  }
  //  #showroom .social-container,
  //  #showroom .contact-info-container{
  //    font-size: 1.1em;
  //  }
  //}
  //@media screen and (max-width: 650px){
  //  header{
  //    margin:5% 3%;
  //  }
  //  header #logo-itself{
  //    width:120%;
  //  }
  //  .view {
  //    padding-top: 17.1%;
  //  }
  //
  //  //Landing page
  //  #landing{
  //    .main-slogan,
  //    #landing-visit-us{
  //      width:100%;
  //      a{
  //        width:50%;
  //      }
  //      .phone-number::after{
  //        .view.active &{
  //          width:104%;
  //        }
  //      }
  //    }
  //  }
  //
  //  //About page
  //  #project-description-container .project-description,
  //  #project-description-container .project-description-image-wrapper{
  //    width:100%;
  //    float:none;
  //  }
  //  #project-description-container .project-description-image-wrapper img{
  //    margin-top: 2.8em;
  //  }
  //  #assets{
  //    margin-top: 8em;
  //    ul li{
  //      float:none;
  //      width:100%;
  //      p{
  //        width:100%;
  //      }
  //      &:nth-child(2n+1){
  //        clear:none;
  //      }
  //    }
  //  }
  //  #showroom{
  //    margin-top: 7em;
  //    #visit-us-text-wrapper{
  //      width:100%;
  //      float:none;
  //      h2{
  //        padding:0 1.5%;
  //      }
  //      .description{
  //        margin-top: 1em;
  //        padding:0 1.5%;
  //      }
  //      .contact-info-container,
  //      .social-container{
  //        margin-top: 2em;
  //        padding:0 1.5%;
  //      }
  //    }
  //    img{
  //      width:100%;
  //      float:none;
  //      margin-top: 2.5em;
  //    }
  //  }
  //  #footer-line {
  //    margin-top: 7em;
  //  }
  //}
  //@media screen and (max-width: 450px) {
  //  header {
  //    margin: 7% 3%;
  //    #logo-itself {
  //      width: 188%;
  //    }
  //    .language-switcher{
  //      right:12.5%;
  //      transform:translateX(50%);
  //    }
  //  }
  //  .view {
  //    padding-top: 25%;
  //  }
  //
  //  //Landing page
  //  #landing{
  //    .main-slogan,
  //    #landing-visit-us{
  //      a{
  //        width:75%;
  //      }
  //      .phone-number::after{
  //        .view.active &{
  //          width:102%;
  //        }
  //      }
  //    }
  //  }
  //
  //}
  //@media screen and (max-width: 350px) {
  //  html.ka body,
  //  html body{
  //    font-size: 10px;
  //  }
  //}
  //
  //
  //@media screen and (max-height: 720px) {
  //  #landing{
  //    overflow: hidden; //for top margins
  //    height:auto;
  //    .main-slogan,
  //    #landing-visit-us,
  //    .about-button{
  //      position: relative;
  //      top:0;
  //      bottom:auto;
  //    }
  //    .main-slogan{
  //      margin-top: 1em;
  //    }
  //    #landing-visit-us{
  //      margin-top: 9em;
  //
  //      .email{
  //        html.ka &{
  //          margin-top: 1.35em;
  //        }
  //        html &{
  //          margin-top: .8em;
  //        }
  //      }
  //      .phone-number {
  //        html.ka & {
  //          margin-top: em(20, 17);
  //        }
  //        html & {
  //          margin-top: em(20, 25);
  //        }
  //      }
  //    }
  //    .about-button {
  //      display: inline-block;
  //      margin:5em auto 2em auto;
  //    }
  //    .contact-info-container{
  //      font-size: 1.3em;
  //    }
  //  }
  //}
  //
  //@media screen and (max-width: 700px) and (max-aspect-ratio: 28/40){
  //  #main-background{
  //    background-image: url('../img/back-mobile.jpg');
  //    height:115%;
  //    &.animated{
  //      top:-15%;
  //    }
  //  }
  //}