.dragdealer .handle {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  .dragdealer .handle:active{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  
  
  
  //Image Comparisons
  
  .comparison-widget {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    //overflow: hidden;
    vertical-align: top;
    cursor: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  //.comparison-widget:hover .comparison-separator {
  //  opacity: 1;
  //}
  //
  //.comparison-widget:hover .comparison-control {
  //  opacity: 1;
  //}
  
  .comparison-item {
    height: 100%;
    width: 100%;
    background: #FFF;
  }
  .comparison-item--first {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .comparison-item__content {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .comparison-item--first .comparison-image {
    width: auto;
    max-width: none;
    position: absolute;
    left: 0;
    top: 0;
  }
  .comparison-item__image {
    display: block;
    max-width: 100%;
    -webkit-user-drag: none;
    &.before{
      height: 100%;
      width: auto !important;
    }
  }
  
  .comparison-separator {
    width: 100%;
    height: 100%;
    position: absolute;
    right: -50%;
    top: 0;
    z-index: 10;
    background: rgba(0,0,0,0);
    cursor: none;
    opacity: 1;
  }
  .comparison-control {
    position: absolute;
    top: 0;
    left: 50%;
    background: $brand-golden;
    width:2px;
    height: 100%;
    margin-left: -1px;
    opacity: 1;
    transition:opacity $view-animation-time $inner-page-easing $view-animation-time*0.5;
  
  
    &::after{
      content:'';
      width: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 40px;
      transform:translate3d(-50%,-50%,0);
      background: url('/img/svg-icons/slider.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }
  
  
  
  .comparison-control__mask {
    width: 50px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: -18px;
    background: #FFF;
    opacity: 0;
  }