.view.active #page-not-found-container{
    transition:opacity $view-animation-time ease,visibility 0s;
  }
  
  #page-not-found-container{
    opacity:0;
    transition:opacity .5s ease 0s;
    width:100%;
    height:100%;
  
    .view.active &{
      opacity:1;
    }
    em{
      display: block;
    }
    p{
      color:$brand-red;
      font-weight: bold;
      position: absolute;
      top:50%;left:50%;
      transform:translate(-50%,-50%);
      width:100%;
      text-align: center;
  
      html.ka &{
        font-family: DejavuSansM;
        font-size:em(80);
        line-height: 1.3;
      }
      html &{
        
        font-size:em(100);
        text-transform: uppercase;
        font-weight: 800;
      }
    }
  }