$col-1-w:100%/6;
$col-4-w:100%*2/3;
$table-bottom-margin: em(40);

.view.active{

  .viewsbtns{
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;

    li{
      background: $red;
      color: #fff;
      padding: 10px;
      margin-bottom: 5px;
      // height: 43px;
      line-height: 34px;
      font-size: em(18);
    }
  }
.custom-select {
  position: relative;
  margin-top: 10px;
  select{
    width:100%;
    outline: none;
    height: 65px;
    padding-left: 15px;
  }
  &:not(.singlechild){
    pointer-events: all;
    &:after {
      position: absolute;
      content: "▼";
      right: 10px;
      top: 11px;
      font-size: 25px;
      border: 6px solid transparent;
      @include transition(all .3s ease);
      z-index: -9999;
  
    }
  }
  &.singlechild{
    select{
      pointer-events: none;
    }
  }
}
  #apartment-type-title{
    opacity:1;
    transform:translate3d(0,0,0);
    transition:opacity $view-animation-time*.8 $inner-page-easing,
               transform $view-animation-time*.8 $inner-page-easing;

    &::after{
      transform:scaleX(1) translate3d(0,0,0);
      transition:transform $view-animation-time*.6 $inner-page-easing $view-animation-time*.8;
    }
  }
  #apartment-info-floor-selector-container{
    h2,h3,h4{
      opacity:1;
      transform:translate3d(0,0,0);
    }
    h2{
      transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.15,
                 transform $view-animation-time $inner-page-easing $view-animation-time*.15;
    }
    h3{
      transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.2,
                 transform $view-animation-time $inner-page-easing $view-animation-time*.2;
    }
    h4{
      transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.25,
                 transform $view-animation-time $inner-page-easing $view-animation-time*.25;
    }
  }
  #same-type-on-other-floor-selector, .b5-text{
    opacity:1;
    transform:translate3d(0,0,0);
    transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.3,
               transform $view-animation-time $inner-page-easing $view-animation-time*.3;
  }

  #rooms-container{
    .room-number,.room-name,.room-area{
      opacity:1;
      transform: translate3d(0,0,0);
    }
    .room-number{
      transition:opacity $view-animation-time*.6 $inner-page-easing $view-animation-time*.35,
                 transform $view-animation-time $inner-page-easing $view-animation-time*.35;
    }
    .room-name{
      transition:opacity $view-animation-time*.6 $inner-page-easing $view-animation-time*.45,
                 transform $view-animation-time $inner-page-easing $view-animation-time*.45;
    }
    .room-area{
      transition:opacity $view-animation-time*.6 $inner-page-easing $view-animation-time*.55,
                 transform $view-animation-time $inner-page-easing $view-animation-time*.55;
    }
  }
  #image-cell::after{
    transform: scaleX(0) translate3d(0,0,0);
    transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.7,
               transform $view-animation-time $inner-page-easing $view-animation-time*.7;
  }
  .floor-plan-wrapper{
    opacity:1;
    // transform:translate3d(0,0,0);
    transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.8,
               transform $view-animation-time $inner-page-easing $view-animation-time*.8;
  }
  #navigation-buttons-wrapper,#type-switchers-wrapper{
    opacity:1;
    transform:translate3d(0,0,0);
    transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.8,
               transform $view-animation-time $inner-page-easing $view-animation-time*.8;
  
  }
}

#apartment{
  height:calc(100% - #{$table-bottom-margin});
}

.full-height-wrapper{
  position:relative;
  width:100%;
  height:100%;
}
.apartment-title-row{
  height:0; //For room list to take up all the space
}
#apartment-type-title{
  color:$brand-golden;
  width:100%;
  @extend .animating;
  opacity:0;
  transform:translate3d(0,-10%,0);
  transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.3,
             transform $view-animation-time $inner-page-easing $view-animation-time*.3;
  span{
    font-weight: bold;
    vertical-align: baseline;
    display: inline-block;
    &:first-child{
      width:75%;
      text-transform: uppercase;
      html &{
        font-size: em(22);
        
      }
      html.ka &{
        // font-family: DejavuSansM;
        font-size: em(24);
      }
    }
    &:last-child{
      width:25%;
      
      font-size:em(28);
    }
  }
  &::after{
    content:'';
    display: block;
    clear:both;
    margin-top:em(10);
    background-color: currentColor;
    transform-origin: left center;
    @extend .animating;
    transform:scaleX(0) translate3d(0,0,0);
    width:100%;
    height:1px;
    transition:opacity $view-animation-time*.6 $inner-page-easing,
               transform $view-animation-time*.6 $inner-page-easing;

    //@extend %pseudo-clear;
  }
}


#rooms-container{
  color:$brand-golden;
  width:100%;
  display: block;
  margin:em(50) 0;
  max-height: 75%;
  overflow-y:auto;

  ul{
    overflow: hidden;
  }

  span{
    vertical-align: middle;
    display: inline-block;
  }
  .num-room-wrapper{
    width:75%;
  }
  .room-number{
    color:white;
    background:$brand-green;
    text-align: center;
    font-size: em(18);
    
    font-weight: 200;
    width:em(40,18);
    line-height: em(40,18);
    display: inline-block;
    position: relative;
    @extend .animating;
    opacity:0;
    transform:translate3d(0,0,0);
    transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.2,
               transform $view-animation-time $inner-page-easing $view-animation-time*.2;

    &::after{
      content:'';
      display: block;
      width:50%;
      height:2px;
      position: absolute;
      bottom:-1px;
      background-color:white;
      margin:0 auto;
      left:0;right:0;
      z-index:1;
    }
  }
  .room-name{
    margin-left: 8%;
    @extend .animating;
    opacity:0;
    transform:translate3d(-15%,0,0);
    transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.15,
               transform $view-animation-time $inner-page-easing $view-animation-time*.15;
    html &{
      
      font-size: em(18);
      font-weight: 200;
    }
    html.ka &{
      // font-family: DejavuSansCondensed;
      font-size: em(16);
    }
  }
  .room-area{
    width:25%;
    font-size:em(15);
    
    font-weight: 200;

    @extend .animating;
    opacity:0;
    transform:translate3d(-15%,0,0);
    transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.1,
               transform $view-animation-time $inner-page-easing $view-animation-time*.1;
    b{
      font-weight: bold;
      display: inline-block;
      font-size: inherit;
      html.ka &{
        font-size:em(17,15);
      }
    }

    abbr{
      display: inline-block;
      margin-left:3px;
      html.ka &{
        font-family: DejavuSansCondensed;
      }
    }
  }
  li:last-child .room-number:after{
    display: none;
  }
}

#navigation-buttons-wrapper{
  color:$brand-golden;
  width:100%;
  padding-bottom: 2px;
  @extend .animating;
  &:not(.no-animate){
    opacity:0;
    transform:translate3d(0,10%,0);
    transition:opacity $view-animation-time $inner-page-easing,
               transform $view-animation-time $inner-page-easing;
  }
  .nav-button{
    margin: 0 5px;
    html.ka &{
      font-size:em(17);
      padding:em(27,18) 0 em(24,18) 0;
      margin-top: em(35,22);
      &:first-child{
        margin-top: 0;
      }
      &::after{
        right:em(6,18);left:em(6,18);
        top:em(6,18);bottom:em(6,18);
      }
    }
    html &{
      padding:em(27,22) 0;
      font-size:em(18);
      margin-top: em(25,22);
      &:first-child{
        margin-top: 0;
      }
      &::after{
        right:em(6,22);left:em(6,22);
        top:em(6,22);bottom:em(6,22);
      }
    }
  }
}

#image-cell::after{
  content:'';
  display: block;
  position: absolute;
  @extend .animating;
  top:0;bottom:0;
  left:2px;right:2px;
  background-color: #fff;
  transform-origin: right center;
  transform:scaleX(1) translate3d(0,0,0);
  transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.3,
             transform $view-animation-time $inner-page-easing $view-animation-time*.3;
}
#apartment-image{
  max-width: 85%;
  display: block;
  max-height: 100%;
  @extend %absolutely-centered;
  @extend .animating;
}

#type-switchers-wrapper{
  width:50%;
  margin:0 auto;
  @extend .animating;
  
  opacity:0;
  transform:translate3d(0,10%,0);
  transition:opacity $view-animation-time $inner-page-easing,
             transform $view-animation-time $inner-page-easing;
}

.type-switcher{
  text-transform: uppercase;
  width:50%;
  color:$brand-golden;
  border:1px solid;
  box-sizing: border-box;
  text-align: center;
  line-height: 2.3;
  font-size: em(18);
  background-color: $red;
  background-repeat: no-repeat;
  background-size:auto em(15);
  transition: background .3s ease 0s;
  position: relative;
  .arrow-icon{
    position: absolute;
    top:0;bottom:0;
    height:.8em;
    width:auto;
    display: block;
    transition:transform .3s ease 0s;
    fill:$brand-golden;
    margin:auto;
  }

  html &{
    
    font-weight: 200;
  }
  &:hover{
    &.prev{
      .arrow-icon {
        transform: translateX(-50%);
      }
    }
    &.next{
      .arrow-icon{
        transform: translateX(50%);
      }
    }
  }
  &.prev{
    float:left;
    .arrow-icon{
      left:8%;
    }
  }
  &.next{
    float:right;
    border-left:none;
    .arrow-icon{
      right:8%;
    }
  }
  &::after{
    @extend %pseudo-clear;
  }
}

#apartment-info-floor-selector-container{
  // height:0;
  h2{
    color:$red;
    padding-top:em(10);
    @extend .animating;
    opacity:0;
    transform:translate3d(0,-10%,0);
    transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.3,
               transform $view-animation-time $inner-page-easing $view-animation-time*.3;
    html.ka &{
      font-size:em(35);
      // font-family: DejavuSansM;
      margin-bottom: em(10,35);
      font-weight: bold;
    }
    html &{
      font-size:em(50);
      
      font-weight: 800;
      margin-bottom: em(10,35);
    }
  }
  h3{
    color:$black;
    font-size:em(30);
    
    font-weight: 800;
    margin-bottom: em(15,30);
    @extend .animating;
    opacity:0;
    transform:translate3d(0,-10%,0);
    transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.25,
               transform $view-animation-time $inner-page-easing $view-animation-time*.25;
    abbr{
      html.ka &{
        // font-family: DejavuSansM;
        font-size: em(26,30);
        font-weight: bold;
      }
    }
  }
  h4{
    color: rgba(0,0,0,.5);
    font-size:em(20);
    
    font-weight: bold;
    margin-bottom: em(20,28);
    @extend .animating;
    opacity:0;
    transform:translate3d(0,-10%,0);
    transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.2,
               transform $view-animation-time $inner-page-easing $view-animation-time*.2;
    .sold-text{
      display: none;
    }
    &.sold{
      text-transform: capitalize;
      .price{
        display: none;
      }
      .sold-text{
        display: block;
      }
      html.ka &{
        // font-family: DejavuSansM;
        font-size: em(22);
        padding-top: em(4);
      }
    }
  }
}
#same-type-on-other-floor-selector{
  font-weight: bold;
  outline:none;
  border:1px solid $black;
  color:$black;
  border-radius: 0;
  appearance:none;
  width:100%;
  box-sizing: border-box;

  @extend .animating;
  opacity:0;
  transform:translate3d(0,-10%,0);
  transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.15,
             transform $view-animation-time $inner-page-easing $view-animation-time*.15;
  html.ka &{
    font-size:em(15);
    height:em(65,15);
    padding:em(20,15);
    padding-top: em(25,15);
    line-height: 1.2;
  }
  html &{
    font-size:em(20);
    
    height:em(65,20);
    // padding:em(20,20);
  }
  html.mobile &{
    option{
      font-size: 50px;
    }
  }
  option{
    font-family: initial;
    color:initial;
  }

}

.b5-text{
  color:$brand-golden;
  position: relative;
  font-size:em(14);
  margin-top: em(35,14);
  line-height: 1.2;
  white-space: normal;
  @extend .animating;
  opacity:0;
  transform:translate3d(0,-10%,0);
  transition:opacity $view-animation-time $inner-page-easing $view-animation-time*.1,
             transform $view-animation-time $inner-page-easing $view-animation-time*.1;
  &::before{
    position: absolute;
    left:-1em;
    top:0;
    content:'*';
  }
  html &{
    
    font-weight: 200;
  }
}

.floor-plan-wrapper{
  // @extend .animating;
  opacity:0;
  // transform:translate3d(0,10%,0);
  transition:opacity $view-animation-time $inner-page-easing,
             transform $view-animation-time $inner-page-easing;

  .floor-title{
    color:$black;
    font-size:em(18);
    margin-bottom:em(25,18);
    text-align: center;
    html &{
      
      font-style: italic;
    }
  }
}
#apartment{
  #floor-plan{
    .flat-group.active{
      opacity:1;
    }
  }
}

.apartment-table{
  margin-bottom:$table-bottom-margin;
}

.cell-table,
.table{
  display:table;
  width:100%;
  border-collapse: collapse;
  overflow:hidden;
  height:100%;
  table-layout: fixed;
}

.table-row{
  display:table-row;
}

.cell{
  display:table-cell;
  // &:not(#inspire){
  //   position: relative;
  // }

  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;

  &.top{
    vertical-align: top;
  }
  &.bottom{
    vertical-align: bottom;
    height:10%;
  }
  &.middle{
    vertical-align: middle;
  }
}

.apartment-table{
  .cell-4{
    width:$col-4-w;
  }
  .cell-1{
    width: $col-1-w;

    .in-grid-margins{
      padding:0 100%/$col-1-w * 1.5%;
      box-sizing: border-box;
      max-width: 100%;
    }
  }
}

.absolute-wrapper{
  width:100%;
  height:100%;
  position:relative;
  top:0;left:0;
}




