#contact-page{
    #gmaps {
      margin-top: em(30);
      width:110%;
      position: relative;
      left:-5%;
      height: em(750);
    }
  }
  
  address{
    color:$brand-golden;
  
    p{
      html &{
        
        font-size: em(30);
        line-height: 1.2;
        font-style: italic;
      }
      html.ka &{
        font-family: BPGGini;
        font-size: em(18);
        line-height: 1.5;
      }
    }
  }
  
  
  .contact-info{
    color:$brand-golden;
    
    font-size: em(26);
    line-height: 1.2;
    font-style: italic;
  }
  
  
  .contact-title{
    color:$brand-golden;
  
    svg{
      color:$brand-red;
      fill:currentColor;
    }
    html &{
      
      font-weight: 800;
      font-size: em(30);
      svg{
        height:em(40,30);
      }
    }
  
    html.ka &{
      font-family: DejavuSansM;
      font-weight: bold;
      font-size: em(20);
      svg{
        height:em(40,21);
      }
      padding-top: em(5,21);
    }
  }
  
  
  
  
  