$floor-scroller-size:138;


.view.active #floor{
  #floor-plan,
  #floor-scroller-wrapper,
  #floor-content-wrapper .nav-button-wrapper,
  #floor-content-wrapper .floor-details-container{
    transform:translate3d(0,0,0);
    opacity:1;
  }
  #floor-plan{
    transition-delay: 0s;
  }
  #floor-scroller-wrapper{
    transition-delay:$view-animation-time*.2;
  }
  #floor-content-wrapper .nav-button-wrapper{
    transition-delay:$view-animation-time*.3;
  }
  #floor-content-wrapper .floor-details-container{
    transition-delay:$view-animation-time*.4;
  }
  #compass-image-wrapper{
    opacity:1;
    transition:opacity .3s ease $view-animation-time*.4;
    animation:compassRotation $view-animation-time*1.2 ease $view-animation-time*.5 1 forwards;
  }
  #compass-image-wrapper{
    opacity:1;
  }
}
//Before view is active
#floor #floor-plan,
#floor-scroller-wrapper,
#floor-content-wrapper .nav-button-wrapper,
#floor-content-wrapper .floor-details-container{
  @extend .animating;
  opacity:0;
  transform:translate3d(0,10%,0);
  transition: opacity $view-animation-time $inner-page-easing,
              transform $view-animation-time $inner-page-easing;
}
#floor #floor-plan{
  transition-delay: $view-animation-time*.4;
}
#floor-scroller-wrapper{
  transition-delay:$view-animation-time*.3;
}
#floor-content-wrapper .nav-button-wrapper{
  transition-delay:$view-animation-time*.2;
}
#floor-content-wrapper .floor-details-container{
  transition-delay:0s;
}
#compass-image-wrapper{
  opacity:0;
  transition:opacity $view-animation-time ease $view-animation-time*.3;
}


#floor-content-wrapper{
  position: relative;
  height:100%;

  .nav-button-wrapper{
    position: absolute;
    top:0;
    left:0;right:0;
    opacity:0;
    transform:translate3d(0,10%,0);
    .nav-button{
      html &{
        font-size:em(22);
        padding-top:em(27,22);
        padding-bottom:em(27,22);
      }
      html.ka &{
        font-size:em(18);
        padding-top:em(27,18);
        padding-bottom:em(24,18);
      }
    }
  }

}

.floor-details-container{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;

  h2{
    color:$brand-golden;

    html &{
      
      font-style: italic;
      font-size:em(28);
    }
    html.ka &{
      font-family: DejavuSansM;
      font-size:em(18);
      font-weight: bold;
      line-height: 1.1;
    }
  }
}
.floor-details{
  margin-top: em(25);
  @extend .row;
  line-height: 1.2;

  h3{
    color:$black;
    font-weight: bold;

    html &{
      
      font-size:em(18);

    }
    html.ka &{
      font-family: DejavuSansM;
      font-size:em(15);
    }
  }

  p{
    color: $black;
    
    font-weight: 200;
    font-size:em(16);
    text-align: right;
    line-height: 1.2;
    span{
      margin:0 em(3);
      display: inline-block;
      &:first-child{
        margin-left:0;
      }
    }
  }
}
#compass-image-wrapper{
  left:0;right:0;
  bottom:3%;
  position: absolute;
  @extend .animating;

  img{
    transform:rotate(-63deg);
    display: block;
    width:100%;
  }
}

#floor-scroller-wrapper{
  float:right;
  height:100%;
  position: relative;
}
#floor-scroller{
  height:em($floor-scroller-size);
  width:em($floor-scroller-size);

  border:1px solid $red;
  box-sizing: border-box;
  color:$brand-golden;
  @extend %absolutely-centered;

  .vertical-title p{
    html &{
      
      font-size:em(21);
      font-style:normal;
      color: #000;
    }
    html.ka &{
      font-size:em(18);
      font-family: BPGGini;
    }
  }


  #floors-wrapper{
    width:100%
  }
  .floor-number{
    line-height: #{$floor-scroller-size/100};
    text-align: center;
    color:$black;
    
    font-weight: bold;
    font-size:em(100);
    transform:scale(.68);
    transition:color .3s ease,transform .3s ease;

    &.active{
      transform:scale(1);
      color:$red;
      transition:color .2s ease,transform .2s ease;
    }
  }
}

#floor{
  #floor-plan{
    height:100%;
    svg{
      width:95%;
      max-height: 95%;
      @extend %absolutely-centered;
      bottom:auto;

    }
  }
}

#floor-switcher-arrows-container{
  top: 50%;
  position: absolute;
  transform: translate3d(0,-50%,0);
  height: em($floor-scroller-size);
  margin: 0 auto;
  width: 0;
  left: 0;
  right: 0;

  .arrow{
    position: absolute;
    left:0;right:0;
    margin:0 auto;
    width:em(22);
    padding:em(7);

    svg{
      color:$red;
      fill:currentColor !important;
      display: block;
    }

    &.up{
      top:0;
      transform:translate3d(-50%,-100%,0);
      padding-bottom:em(10);
    }

    &.down{
      bottom:0;
      transform:translate3d(-50%,100%,0);
      padding-top:em(10);
    }
  }
}

