$anim-delay:.2s;
$anim-timing:ease;
$headers-anim-time:.5s;
$headers-anim-full-time:$headers-anim-time+$headers-anim-time*.6;
$building-anim-time:.8s;
$building-anim-delay:$headers-anim-full-time*.6;
$building-anim-full-time:$building-anim-time+$building-anim-delay;
$border-anim-delay:$headers-anim-full-time;
$border-anim-time:.7s;
$border-anim-full-time:$border-anim-time*1.1 + $border-anim-delay;
$selector-group-anim-time:.3s;
$selector-group-anim-delay:$border-anim-full-time;
$selector-discover-anim-time:.3s;
$selector-hover-anim-time:.2s;


#landing{
  // background: $red;
  &.first-screen-visible{
    //Before first screen animation starts
    #building{
      top:130%;
      opacity:0;
    }
    #floor-selector-background{
      border-width:0;

      #floor-selector-white-border{
        .border{
          &.left,&.right{
            transform:scaleY(0);
          }
          &.top{
            &::after,&::before{
              transform:scaleX(0);
            }
          }
          &.bottom{
            &::after,&::before{
              transform:scaleX(0);
            }
          }
          &.bottom-line{
            transform:translate3d(0,100%,0) scaleY(0);
          }
        }
      }
    }
    h1.main-title{
      z-index: 999999;
      span{
        transform:translate3d(0,120%,0);
        opacity: 0;
      }
    }

    #navigation-ways-wrapper,
    #floor-selector-contact-container .wrapper,
    #floor-selector-floor-number-container .wrapper{
      top:70%;
    }
    #discover-project{
      opacity:0;
      transform:translate3d(0,-30%,0);
    }
    .arrow-in-circle{
      opacity:0;
      transform:translate3d(0,50%,0) scale(.4);
    }

    .view.active &{
      h1.main-title{
        i span{
          transition:opacity $headers-anim-time $anim-timing $anim-delay,transform $headers-anim-time $anim-timing $anim-delay;
        }
        b span{
          transition:opacity $headers-anim-time $anim-timing $anim-delay+$headers-anim-time*.6,transform $headers-anim-time $anim-timing $anim-delay+$headers-anim-time*.6;
        }
        span{
          transform:translate3d(0,0,0);
          opacity:1;
        }
      }
      #building{
        transition: opacity .3s $anim-timing $building-anim-delay;/*,top $building-anim-time $anim-timing $building-anim-delay*/
        top:98%;
        opacity:1;
      }
      #floor-selector-container{
        opacity:1;
        visibility: visible;
        transition:none;
      }
      #floor-selector-background{
        #floor-selector-white-border{
          .border{
            &.left,&.right{
              transform:scaleY(1);
              transition:transform $border-anim-time*.1 linear $border-anim-delay+$border-anim-time/2;//0.1 is proportion of border rect width/height
            }
            &.top{
              &::after,&::before{
                transform:scaleX(1);
                transition:transform $border-anim-time/2 linear $border-anim-delay;
              }
            }
            &.bottom{
              &::after,&::before{
                transform:scaleX(1);
                transition:transform $border-anim-time/2 linear $border-anim-delay+$border-anim-time/2 +$border-anim-time*.1;
              }
            }
            &.bottom-line{
              transform:translate3d(0,100%,0) scaleY(1);
              transition:transform $border-anim-time/2 linear $border-anim-full-time;
            }
          }
        }
      }

      #navigation-ways-wrapper,
      #floor-selector-contact-container .wrapper,
      #floor-selector-floor-number-container .wrapper{
        @extend .is-visible;
        top:50%;
        transition:top $selector-group-anim-time $anim-timing $selector-group-anim-delay,
                   opacity $selector-group-anim-time $anim-timing $selector-group-anim-delay;
      }

      #discover-project,
      .arrow-in-circle {
        @extend .is-visible;
        transition: opacity $selector-discover-anim-time $anim-timing $selector-group-anim-time+$selector-group-anim-delay,
                    transform $selector-discover-anim-time $anim-timing $selector-group-anim-time+$selector-group-anim-delay;
      }
      #discover-project{
        transform: translate3d(0,-50%,0);
      }
      .arrow-in-circle{
        transform: translate3d(0,50%,0) scale(1);
      }
    }

    //WHEN USER GOES TO ANOTHER PAGE WHILE FIRST SCREEN OPEN
    #building{
      transition:opacity .5s ease .5s, top .5s ease .5s;
    }
    #floor-selector-container{
      opacity:0;
      transition:opacity .5s ease, visibility 0s ease .5s;
    }
  }

  &.no-first-screen{
    //When the first screen is removed
    @extend .is-visible;

    .view.active &{
      h1.main-title{
        i span{
          transition:opacity $headers-anim-time/2 $anim-timing $border-anim-time/4 + $headers-anim-time/2,
                     transform $headers-anim-time $anim-timing $border-anim-time/4 + $headers-anim-time/2;
        }
        b span{
          transition:opacity $headers-anim-time/2 $anim-timing $border-anim-time/4,
                     transform $headers-anim-time/2 $anim-timing $border-anim-time/4;
        }
        span{
          transform:translate3d(0,-120%,0);
          opacity:0;
        }
      }
      #building{
        transition: top $building-anim-time $anim-timing $border-anim-time/4+$selector-group-anim-time/2; //fires when bottom line and floor selector divs are hidden
        top:56%;
        // top:77%;
        opacity: 1;
      }
      //This is needed to hide selector when user goes to other page
      #floor-selector-container{
        @extend .is-visible;
      }
      #floor-selector-background{
        transition:border .3s ease $building-anim-time*.6+$border-anim-time/4+$selector-group-anim-time/2;//fires after building is moved 80%
        #floor-selector-white-border{
          .border{
            &.bottom-line{
              transition:transform $border-anim-time/4 $anim-timing;//Fires the first
            }
          }
        }
      }
      //#navigation-ways-wrapper,
      //#floor-selector-contact-container .wrapper,
      //#floor-selector-floor-number-container .wrapper{
      //  transition: opacity $selector-group-anim-time/2 $anim-timing $border-anim-time/4, //Fires when bottom line is removed
      //              visibility 0s $anim-timing $border-anim-time/4+$selector-group-anim-time/2;
      //}
      #discover-project,
      .arrow-in-circle {
        transition: opacity $selector-group-anim-time/2 $anim-timing $border-anim-time/4, //Fires when bottom line is removed
                    visibility 0s $anim-timing $border-anim-time/4+$selector-group-anim-time/2;
      }
      #discover-project{
        transform: translate3d(0,-50%,0) scale(1);
      }
      .arrow-in-circle {
        transform: translate3d(0,50%,0) scale(1);
      }
      #view-floor-text-before-hover{
        transition: opacity .2s $building-anim-time*.6+$border-anim-time/4+$selector-group-anim-time/2 + .2s, //Fires the last
                    visibility 0s $anim-timing $building-anim-time*.6+$border-anim-time/4+$selector-group-anim-time/2 + .2s + .2s;
      }

    }


    //When user goes to other page
    #building{
      opacity:0;
      transition:opacity $view-animation-time ease;
    }
    #floor-selector-container{
      @extend .is-invisible;
      transition:opacity $view-animation-time ease; /*, visibility 0s ease $view-animation-time*/
    }

    //Defaults of no-first-screen
    #floor-selector-background{
      #floor-selector-white-border{
        .border{
          &.left,&.right{
            transform:scaleY(1);
          }
          &.top{
            &::after,&::before{
              transform:scaleX(1);
            }
          }
          &.bottom{
            &::after,&::before{
              transform:scaleX(1);
            }
          }
          &.bottom-line{
            transform:translate3d(0,100%,0) scaleY(0);
          }
        }
      }
    }
    .arrow-in-circle{
      opacity:0;
    }

    #view-floor-text-before-hover,
    #floor-selector-floor-number-container .wrapper{
      @extend .is-visible;
    }

    #flat-types-wrapper,
    #view-floor-button,
    #navigation-ways-wrapper,
    #discover-project,
    #floor-selector-contact-container .wrapper{
    //#floor-selector-floor-number-container .wrapper{
      @extend .is-invisible;
    }

    html.no-touch /*& #floor-selector-container:hover*/,
    #floor-selector-container.hovered,
    html.touch & #floor-selector-container{
      #floor-selector-full-background{
        // background-color:$floor-selector-color;
        // background-color: $brand-red;
        background-color:rgba(0,0,0,0.5);
      }

      #flat-types-wrapper,
      #view-floor-button,
      #floor-selector-contact-container .wrapper{
      //#floor-selector-floor-number-container .wrapper{
        @extend .is-visible;
        transition:opacity $selector-hover-anim-time ease;
      }
    }
  }

  //Defaults

  #floor-selector-full-background{
    transition:background-color $selector-hover-anim-time ease;
  }
  #floor-selector-background{
    // border:em($floor-selector-green-border-size) solid $floor-selector-color;
    border:em($floor-selector-green-border-size) solid $brand-red;
  }
  h1.main-title{
    span{
      transform:translate3d(0,-120%,0);
      opacity:0;
    }
  }
  #flat-types-wrapper,
  #view-floor-button,
  #view-floor-text-before-hover,
  #navigation-ways-wrapper,
  #discover-project,
  #floor-selector-contact-container .wrapper,
  #floor-selector-floor-number-container .wrapper{
    @extend .is-invisible;
    transition:opacity $selector-hover-anim-time ease, visibility 0s ease $selector-hover-anim-time;
  }
}

h1.main-title{
  color:white;
  position: absolute;
  top:30%;
  left:0;right:0;
  text-align: center;

  span{
    display: block;
    line-height: 1.25;
  }

  i{
    display: block;
    overflow: hidden;
    html &{
      font-style: italic;
      
      font-size: em(52);
      text-transform: lowercase;
    }
    html.ka &{
      font-family: BPGGini;
      font-size: em(35);
    }
  }

  b{
    font-weight: bold;
    display: block;
    overflow: hidden;
    margin:0 auto;
    float:none !important;

    html &{
      text-transform: uppercase;
      
      font-size: em(55);
      margin-top:em(25,55);
    }
    html.ka &{
      font-family: DejavuSansCondensed;
      font-size: em(40);
      margin-top: em(25,40);
    }
  }
}
#landing-background{
  position: absolute;
  display: block;
  width:100%;
  height: 100%;
  top:0;left:0;
  // background-color: #81c6f1;
  // background-color: #0d1f5d;
  // background-color: transparent;
  transition: opacity $background-animation-time ease $view-animation-time;


  &.hidden{
    @extend .is-invisible;
    //Hiding sky background Leave animation is over and white stripes has been shown
    transition: opacity $background-animation-time ease $background-animation-delay, visibility 0s ease $background-animation-time+$background-animation-delay;

    #building-bg{
      @extend .is-invisible;
      transition:opacity $view-animation-time ease, visibility 0s ease $view-animation-time; //Hiding building backgrounds on page leave
    }
  }

  #building-bg {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    background: #1e5799; /* Old browsers */
    background: linear-gradient(to bottom, #81c6f1 0%, #8fc6eb 33%, #cbeaff 66%);


    .building-bg{
      position: relative;
      top: 0;
      width: 100%;
      transform:translate3d(0,-20%,0);
    }

    .buildings-front,
    .buildings-back{
      position: absolute;
      width: 100%;
      left:0;
      right:0;
    }

    .buildings-back{
      z-index:1;
      bottom: -3%;
    }
    .buildings-front{
      z-index:2;
      bottom: -6%;
    }


  }
}

//Floor selector styles
#floor-selector-container{
  width:100% - 2*$grid-margin-width;
  height:em(220);
  position: fixed;
  margin:auto;
  // top: 57%;
  top:0;left:0;
  bottom:0;right:0;
  color:white;
  z-index: 20;
  &.min-width{
    min-width: $min-width*0.94;
  }

  .view-floor-button-text{
    font-weight: bold;
    display: block;

    html &{
      text-transform: uppercase;
      
      font-size: em(35);
    }
    html.ka &{
      font-family: DejavuSansM;
      font-size: em(30);
      margin-top: em(7,30);
    }
  }

  #view-floor-text-before-hover{
    color:white;
    width:80%;
    top:50%;
    left:0;right:0;
    margin: auto;
    transform:translate3d(0,-50%,0);
    text-align: center;
    position: absolute;
    z-index: 5;

    html.ka &{
      padding-top: em(7,30);
    }
  }

  .col{
    height:100%;
    position: relative;

    .wrapper{
      position: relative;
      top:50%;
      transform:translate3d(0,-50%,0);
      margin:0 auto;
    }
  }

  .vertical-title p{
    html &{
      font-size:em(18);
      // font-style:italic;
      
    }
    html.ka &{
      font-size:em(14);
      font-family: BPGGini;
    }
  }
}

#floor-selector-background{
  width:100%;
  height:100%;
  position: absolute;
  top:0;left:0;
  box-sizing: border-box;
  z-index: 0;

  #floor-selector-white-border{
    color:white;
    width:100%;
    height:100%;
    position: absolute;
    //top:-1px;left:-1px;
    z-index: 2;

    .border{
      position: absolute;
      background:white;

      &.top,&.bottom{
        left:0;right:0;

        &::after,&::before{
          content:'';
          display: block;
          height:1px;
          width:50%;
          background-color:white;
          position:absolute;
          margin:auto;
        }
        &::after{
          right:0;
        }
        &::before{
          left:0;
        }
      }
      &.left,&.right{
        width:1px;
        bottom:0;top:0;
        transform-origin: center top;
      }
      &.top{
        top:0;
        &::before{
          left:0;
          transform-origin:right center;
        }
        &::after{
          right:0;
          transform-origin:left center;
        }
      }
      &.bottom{
        bottom:0;
        &::before{
          left:0;
          transform-origin:left center;
        }
        &::after{
          right:0;
          transform-origin:right center;
        }
      }
      &.left{
        left:0;
      }
      &.right{
        right:0;
      }
      &.bottom-line{
        bottom:0;
        height:2000px;
        height:50vh;
        width:1px;
        left: 0;
        right: 0;
        margin: auto;
        transform:translate3d(0,100%,0);
        transform-origin:center top;
      }
    }
  }
  #floor-selector-full-background{
    width:100%;
    height:100%;
    top:0;left:0;
    z-index:0;
    position: absolute;
  }
}
.arrow-in-circle{
  background-color: white;
  border-radius:50%;
  position: absolute;
  width:em(33);
  height:em(33);
  bottom: 0;
  transform: translate3d(0,50%,0);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 50;
  cursor:pointer;

  svg{
    width:em(16);
    display: block;
    transform:translate3d(0,em(2),0);
    @extend %absolutely-centered;
  }
}
#floor-selector{
  width:100%;
  height:100%;
  position: absolute;
  top:0;left:0;
  z-index: 15;
  box-sizing: border-box;
}
#floor-selector-flat-types-container{
  .wrapper{
    //width:70%;
    position: relative;
  }
  #navigation-ways-wrapper{
    position: absolute;
    top:50%;
    transform:translate3d(0,-50%,0);
    left:0;right:0;
    
    .navigation-way{
      text-align: center;
      svg{
        height: em(48);
        display: block;
        margin:0 auto;
      }
      p{
        html &{
          
          font-style: italic;
          font-size: em(23);
          margin-top: em(15,23);
        }
        html.ka &{
          font-family: BPGGini;
          font-size: em(18);
          margin-top: em(15,18);
        }
      }
    }
  }
  #navigation-mobile{
    display: none;
  }
  #flat-types-wrapper{
    width:77%;
    margin:0 auto;
    position: relative;
  }
  .flat-types-table{
    td{
      
      font-weight: 200;
      font-size:em(20);

      b{
        font-weight: 800;
      }
      a{
        display: block;
        width:100%;
        height:100%;
        line-height: 1.6;
        color: #fff;
      }
      html.ka &{
        .type-tree-name{
          font-family: DejavuSansCondensed;
          font-size: em(18,20);
        }
      }
      html.no-touch &:hover{
        background-color:white;
        color:$brand-green;
        a{
          color:inherit;
        }
      }
      &.sold-out{
        .quantity{
          display: none;
        }
        html.no-touch &:hover,
        html.touch &{
          color:$red;
          a,span{
            cursor: default;
            color: $red;
          }
        }
        
      }
    }
  }
}

.flat-types-table{
  border-collapse: collapse;
  table-layout: fixed;
  width:100%;

  td{
    text-align: center;
    border:1px solid white;
    transition:color .2s ease, background-color .2s ease;
    position: relative;
    html.no-touch &:hover{
      background-color:white;
      color:$brand-green;
    }
    &.sold-out{
        .soldout-overlay{
          position: absolute;
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          z-index: 999999;
          a{
            pointer-events: none;
          }
        }
      .quantity{
        display: none;
      }
      html.no-touch &:hover{
        color:$brand-red;
      }
      html.touch &{
        color:$red;
        background-color: white;
      }
    }
  }
}

#floor-selector-view-button-container{
  #view-floor-button{
    outline: none;
    font-size:inherit;
    top:50%;
    transform: translate3d(0,-50%,0);
    position: absolute;
    cursor:pointer;
    margin:auto;
    left:0;right:0;
    width:80%;
    z-index: 20;
    padding:em(20) 0;
    border:em(10) solid white;
    background-color:white;
    // color:$brand-golden;
    color: $brand-red;
    text-align: center;

    //Button Green Border
    &::before{
      width:100%;
      height:100%;
      display: block;
      content:'';
      position: absolute;
      top:0;
      left:0;
      z-index: -1;
      box-sizing: border-box;
      padding:em(10);
      border:em(2) solid $brand-red;
    }

    .view-floor-button-text{
      display: inline-block;
      position: relative;
    }
    html.no-touch &:hover span::after{
      transform: scaleX(1) translate3d(0,0,0);
    }
  }
  #discover-project{
    position: absolute;
    color:white;
    top:50%;
    transform:translate3d(0,-50%,0);
    left:0;right:0;
    text-align: center;
    line-height: 1.2;

    html &{
      //
      //font-style: italic;
      //font-size:em(30);
      
      font-weight: bold;
      font-size:em(60);
    }
    html.ka &{
      font-family: BPGGini;
      font-size:em(26);
    }
  }
}

#floor-selector-contact-container{
  h3{
    border-bottom:1px solid white;

    html &{
      font-size:em(24);
      
      font-style:italic;
      padding-bottom: em(10,24);
    }
    html.ka &{
      font-family: BPGGini;
      font-size: em(18);
      padding-bottom: em(10,18);
    }
  }
  a{
    display: block;
    margin-top: em(10,19);
    font-size: em(19);
    
    font-weight: 200;
  }
}

#floor-selector-floor-number-container{
  text-align: center;

  .wrapper{
    left:auto!important;
    right:auto!important;
    position: relative!important;
    display: inline-block;
  }
  #floor-number-container{
    width:em(95);
    span{
      font-size: em(90);
      font-weight: bold;
      
    }
  }
  #floor-number-switchers-container{
    position: absolute;
    top: 50%;
    right:em(14);
    transform: translate3d(100%, -50%,0);
    .arrow{
      width:em(27);
      color:white;
      &.down{
        margin-top: em(20);
      }
    }
  }
}

#building{
  width:108.5%;
  position: absolute;
  left:-4.25%;
  z-index:10;
  top: 50%;
  transform: translate3d(0,-50%,0);
  height:em(84);


  #building-wrapper{
    width:100%;
  }
  .floor{
    width:100%;
    height:em(100);
    box-sizing: border-box;
    border-bottom:1px solid white;
    background-color: rgba(255, 159, 82, 0.51);
  }

  img{
    display: block;
    width:100%;
  }
  #building-top-part{
    position: absolute;
    left:0;right:0;
    top:1.5px;
    transform:translate(0,-100%);
  }
  #building-bottom-part{
    position: absolute;
    left:0;right:0;
    bottom:1.5px;
    transform:translate3d(0,100%,0);
  }

  .trees{
    position: absolute;
    bottom:0;
    left:0;right:0;
    transform:translate3d(0,200%,0);
  }

  .trees-2{
    transform:translate3d(0,163%,0) scaleX(-1);
  }
  .trees-3{
    transform:translate3d(0,227%,0);
  }


  .fields{
    position: absolute;
    left:0;right:0;
    bottom:0;
    transform:translate3d(0,100%,0);
    background: url('/img/pattern.png') repeat top center;
    width: 100%;
    height: 200vh;
    z-index: -1;
    background-size: 15%;
  }


}
