#menu-icon{
    position: fixed;
    top:50%;
    transform: translate3d(-50%,-50%,0);
    z-index:10;
    text-align: center;
    left:$grid-margin-width/2;
  
    @extend .is-invisible;
  
    &.animated{
      @extend .is-visible;
      transition: opacity $menu-animation-time ease $header-animation-time*.6;
    }
    html.no-touch &:hover{
      #menu-icon-wrapper svg{
        transform:translate3d(-50%,1px,0);
      }
    }
    #menu-icon-wrapper{
      width:em(30);
      height:em(30);
      overflow: hidden;
      margin:0 auto;
      padding:em(7) em(9) em(8);
      background-color: white;
      position: relative;
      z-index: 5;
      &::before,&::after{
        content:'';
        display: none;
        width:100%;
        height:10%;
        left:0;
        position: absolute;
        z-index:10;
        transform:translate3d(0,0,0);
      }
      &::before{
        top:-1px;
        background: linear-gradient(white, transparent);
      }
      &::after{
        bottom:-1px;
        background: linear-gradient(transparent, white);
      }
      .additional-lines{
        opacity: 0;
        transition:opacity .2s $menu-icon-transform-func $menu-icon-transform-time*.95;
      }
      .all-lines-except-close{
        transition:opacity .12s $menu-icon-transform-func;
      }
      .svg-wrapper{
        overflow: hidden;
        transform:translate3d(0,0,0);
        transition:transform $menu-icon-transform-time $menu-icon-transform-func .1s;
      }
      svg{
        width:200%;
        display: block;
        transition:transform .4s ease;
        transform:translate3d(0,1px,0);
        padding-bottom:2px;
      }
    }
    &.open{
      #menu-icon-wrapper {
        .additional-lines {
          opacity: 1;
          transition: opacity .12s $menu-icon-transform-func $menu-icon-transform-delay;
        }
        .all-lines-except-close {
          opacity: 0;
          transition: opacity .2s $menu-icon-transform-func $menu-icon-transform-time*.95+$menu-icon-transform-delay;
        }
        .svg-wrapper {
          transform: translate3d(0,-80%,0);
          transition: transform $menu-icon-transform-time $menu-icon-transform-func $menu-icon-transform-delay + .1s;
        }
      }
      #menu-texts-wrapper{
        .closed{
          opacity:0;
          transition: opacity .2s $menu-icon-transform-func;
        }
        .open{
          opacity:1;
          transition: opacity .2s $menu-icon-transform-func $menu-icon-transform-time*.95+$menu-icon-transform-delay;
        }
      }
    }
    #menu-texts-wrapper{
      position: relative;
      margin-top: em(8);
    }
    .menu-icon-text{
      color:$brand-golden;
  
      html.ka & {
        font-family: BPGGini;
        font-size: em(13);
      }
      html &{
        
        font-style: italic;
        text-transform: capitalize;
        font-size: em(15);
      }
      &.closed{
        transition: opacity .2s $menu-icon-transform-func $menu-icon-transform-time*.95;
      }
      &.open{
        position: absolute;
        top:0;
        left:0;right:0;
        opacity:0;
        transition: opacity .2s $menu-icon-transform-func;
      }
    }
  }
  
  #menu-background{
    position: absolute;
    width:101.5%;
    height:100%;
    top:0;left:0;
    z-index:10;
    background-color:white;
    transition: opacity $background-animation-time ease $background-animation-delay;
  
    #menu-background-image{
      width:100%;
      height:100%;
      background-image:url('~/assets/img/svg-icons/logo-icon.svg');
      background-repeat: no-repeat;
      background-position: center 90%;
      background-size: cover;
      top:0;left:-1.5%;
      z-index: 10;
      transition: opacity .2s ease;
    }
    &.faded{
      #menu-background-image{
        opacity:.7;
      }
    }
  
    &.hidden{
      @extend .is-invisible;
      //This only happens when going from other pages to transparent. So we are Hiding menu background when view animation has happened.
      transition: opacity $background-animation-time ease $view-animation-time, visibility 0s ease $view-animation-time+$background-animation-time;
    }
  }
  #menu-mobile-background{
    display: none;
    width:100%;
    height:100%;
    position: fixed;
    top:0;left:0;
    background-image:url('~/img/svg-icons/logo-icon.svg');
    background-repeat: no-repeat;
    background-position: center 90%;
    background-size: cover;
    z-index: -1;
  }
  #menu{
    @extend .is-invisible;
  
    transition:opacity $view-animation-time ease 0s, visibility 0s ease $view-animation-time;
  
    .view.active &{
      @extend .is-visible;
      transition:opacity $view-animation-time ease;
    }
  }
  nav{
    height:100%;
  
    >ul{
      height:100%;
      width:100%;
      display: block;
      transform:translate3d(0,0,0);
  
      > li{
        height:100%;
        text-align: center;
        position: relative;
        html.no-touch &{
          transition:transform .7s ease 0s;
          transform:translate3d(0,0,0) scale(.97);
        }
  
  
        >a{
          display: block;
          width: 100%;
          height: 100%;
          top:0;left:0;
          position: absolute;
        }
  
        html.no-touch &:hover{
          transform:translate3d(0,0,0) scale(1);
          transition:transform .5s ease;
        }
      }
    }
  
    .menu-li-container{
      top:45%;
      position: absolute;
      left:0;right:0;
    }
    .page-url{
      color:$website-blue;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      //-webkit-font-smoothing: subpixel-antialiased;
      //backface-visibility: hidden;
      html &{
        
        font-size:em(24);
        padding-bottom: em(30,24);
      }
      html.ka &{
        font-family: DejavuSansM;
        font-size:em(20);
        padding-bottom: em(30,20);
        padding-top:em(3,20);
      }
    }
    .sub{
      display: block;
      li{
        color:$brand-golden;
        margin-top: em(20);
        a{
          text-transform: capitalize;
          position: relative;
          html &{
            
            font-size: em(22);
            font-style: italic;
          }
          html.ka &{
            font-family: BPGGini;
            font-size:em(14);
          }
        }
        &:first-child{
          margin-top: 0;
        }
      }
    }
  
  }