#project-page{

    .scroll-element{
  
      h2{
  
        html &{
          font-size: em(45);
        }
        html.ka &{
          font-size: em(34);
        }
      }
  
  
    }
  
  
  
  
    /*Full Image*/
    .full-image{
      width:110%;
      position: relative;
      left:-5%;
      height:100vh;
      overflow: hidden;
  
      &.full-image-1{
        .image{
          background-image: url('~/img/project/about-4.jpg');
        }
      }
      &.full-image-2{
        .image{
          background-image: url('~/img/project/about-5.jpg');
        }
      }
  
  
      &.full-image-3{
        .image{
          background-image: url('~/img/project/about-6.jpg');
        }
      }
  
      &.full-image-4{
        .image{
          background-image: url('~/img/project/about-9.jpg');
        }
      }
  
      .image{
        width:100%;
        height: 100%;
        background-repeat:no-repeat;
        background-position:50% 0;
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        top:0;
        left:0;
      }
  
  
  
    }
  
  
    #technical-benefits,
    #safety,
    #assets{
      width: 100%;
  
  
      ul{
  
        li{
          float:left;
          box-sizing: border-box;
  
          &:nth-child(3n +1){
            clear:both;
          }
  
          p{
            line-height: 1.2;
            margin-top: em(10);
          }
        }
  
        &::after{
          @extend %pseudo-clear;
        }
      }
    }
  
  }