#showroom{
  // h2{
  //   font-size: 102pt;
  // }


  h3{
    font-size: 2.3em;
    font-family: Lobster1-4;
    padding-left: 30px;
  }

    #slider{
      position: relative;
  
      #slides{
        //margin-top: em(140);
        position: relative;
        padding: 0;
        list-style-type: none;
        //height:100vh;
        overflow:hidden;
  
        .slide{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 1;
          transition: opacity 1s ease;
  
          img{
            display: block;
            width:100%;
          }
        }
  
        .showing{
          opacity: 1;
          z-index: 2;
          position: relative;
          .slide-caption{
            position: absolute;
    bottom: 6%;
    left: 0;
    line-height: initial;
    width: 30%;
          }
        }
      }
  
      #slider-buttons-wrapper{
        color:$brand-golden;
        position: absolute;
        bottom:0;
        left:50%;
        //width: 390px;
        height: 45px;
        transform: translate3d(-50%,50%,0);
        backface-visibility: hidden;
        z-index: 9;
        background-color: #ffffff;
        color:$brand-golden;
        border:1px solid;
        box-sizing: border-box;
  
        &::after{
          content:'';
          position: absolute;
          background-color: $brand-golden;
          width: 1px;
          height: 100%;
          top:0;
          left:50%;
          margin-left:-0.5px;
        }
  
  
        .slider-nav{
          width:50%;
          height: 100%;
          position: relative;
          display: block;
          cursor: pointer;
  
          .arrow-icon{
            position: absolute;
            height:auto;
            width:70%;
            max-height:19px;
            display: block;
            transition:transform .3s ease 0s;
            margin:auto;
            top:0;
            bottom:0;
  
            & *{
              stroke: $brand-golden;
            }
          }
  
          html &{
            
            font-weight: 200;
          }
          html.ka &{
            font-family: DejavuSansCondensed;
          }
          html.no-touch &:hover{
            &.prev{
              .arrow-icon {
                transform: translate3d(-55%,0,0);
              }
            }
            &.next{
              .arrow-icon{
                transform: translate3d(55%,0,0);
              }
            }
          }
          &.prev{
            float:left;
            .arrow-icon{
              left:50%;
              transform: translate3d(-50%,0,0);
            }
          }
          &.next{
            float:right;
            border-left:none;
            .arrow-icon{
              right:50%;
              transform: translate3d(50%,0,0);
            }
          }
          &::after{
            @extend %pseudo-clear;
          }
        }
      }
  
    }
  
  }
  
  
  
  
  