//$type-text-anim-time: $view-animation-time*.25;
//$type-flats-anim-delay: $type-text-anim-time*.2;
//$type-flats-full-anim-time: $view-animation-time - $type-flats-anim-delay - $type-text-anim-time;
//
//$type-flat-anim-time: $type-flats-full-anim-time/(1.2*$types-amount);
//$type-flat-anim-delay: $type-flat-anim-time*.2;
//
//$type-text-anim-delay: $type-flats-full-anim-time*.6;
//
//$type-flat-enter-anim-time:.4s;

$types-amount:24;
$type-anim-time:$view-animation-time/2.8;
$type-anim-delay:$view-animation-time*.06;
$type-text-anim-time:$view-animation-time;
$type-text-anim-delay:$view-animation-time*.1;

.view.active{
  #types-text-wrapper{
    h1, p, #types-contacts-wrapper{
      opacity:1;
      transform:translate3d(0,0,0);
    }
    h1{
      transition-delay: 0s;
    }
    #types-contacts-wrapper{
      transition-delay: $type-text-anim-delay*2;
    }
  }
  #types.active .type{
    opacity:1;
    transform:translate3d(0,0,0);
    @include box-shadow((0 1px 3px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.3)));
    @for $i from 1 through $types-amount{
      &.type-#{$i}{
        transition: opacity $type-anim-time ease $type-anim-delay*($i - 1),
                    transform $type-anim-time ease $type-anim-delay*($i - 1);
      }
    }
  }


}

#types .page-wrapper{
  margin-bottom:em(50);
  padding-left: 1%;
  padding-right: 1%;
}
#types-text-wrapper{
  h1,p,#types-contacts-wrapper{
    @extend .animating;
    opacity:0;
    transform:translate3d(0,50%,0);
    transition:opacity $view-animation-time $inner-page-easing, transform $view-animation-time $inner-page-easing;
  }
  h1{
    // color:$brand-golden;
    color: $brand-red;
    float:none;
    transition-delay: $type-text-anim-delay*2;

    .number{
      line-height: 1;
    }
    html &{
      
      font-style: italic;
      font-size:em(60);
      .number{
        font-size:em(70,60);
      }
    }
    html.ka &{
      font-family: DejavuSansM;
      font-weight: bold;
      font-size:em(34);
      .number{
        font-size:em(70,34);
      }
    }
  }
  p{
    // color:$website-gray-400;
    color: $brand-red;

    line-height: 1.2;
    float:none;
    transition-delay: $type-text-anim-delay;

    html &{
      // 
      font-weight: 200;
      font-size:em(18);
      margin-top:em(40,18);
    }
    html.ka &{
      // font-family: DejavuSansCondensed;
      font-size:em(16);
      margin-top: em(40,16);
    }
  }
  #types-contacts-wrapper{
    margin-top: em(75);
    color:$brand-red;
    // color: $website-text-color;

    > div{
      float:left;
      width:50%;
      box-sizing: border-box;
    }
    a{
      font-size:em(26);
      display: block;
      
      font-style: italic;
      margin-top:em(20,26);
      &:first-child{
        margin-top: 0;
      }
    }
  }
}

.type{
  margin-top: em(40);
  height:em(250);
  @extend .animating;
  opacity:0;
  margin: 20px;
  padding: 10px 0;
  width: 22.2%;
  transform:translate3d(-10%,0,0);
  &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
    margin-top: 0;
  }
  // &.type-1,&.type-2,&.type-3{
  //   margin-top: 0;
  // }
  &.sold-out{
    .flat-plan-image-wrapper .flat-plan-image-hover{
      background-color:rgba($brand-red, .78);
      span{
        &.sold-out{
          display: block;
        }
        &.details{
          display: none;
        }
      }
    }

  }
  @for $i from 1 through $types-amount{
    &.type-#{$i}{
      transition: opacity $type-anim-time ease $type-anim-delay*($types-amount - $i),
                  transform $type-anim-time ease $type-anim-delay*($types-amount - $i);
    }
  }
  > div{
    float:left;
    width:50%;
    box-sizing: border-box;
    display: table;
    height:100%;
  }
  html.no-touch &:hover{
    .flat-plan-image-wrapper{
      .flat-plan-image-hover{
        transform:scale(1) translate3d(0,0,0);
        opacity:1;
      }
    }
    .type-title::after{
      transform:scaleX(1) translate3d(0,0,0);
    }
  }

  .flat-plan-image-wrapper{
    position: relative;
    .flat-image{
      position: absolute;
      z-index: 0;
      width:100%;
      height:100%;
      box-sizing: border-box;
      img{
        max-height: 100%;
        max-width: 100%;
        padding:0 9%;
        @extend %absolutely-centered;
        box-sizing: border-box;
      }
    }

    .flat-plan-image-hover{
      position: absolute;
      top:0;left:0;
      width:100%;
      height:100%;
      color:white;
      background-color:rgba($brand-green, .78);
      transition:opacity .3s ease, transform .3s ease;
      transform:scale(.9) translate3d(0,0,0);
      opacity:0;
      text-align: center;

      &::after{
        display: block;
        content:'';
        position: absolute;
        z-index:1;
        border:1px solid;
        top:em(10);left:em(10);
        bottom:em(10);right:em(10);
        box-sizing: border-box;
      }

      span{
        position: relative;
        z-index: 10;
        font-size:em(22);
        padding:em(5,22) 0;
        line-height: em(215,22);

        &.details{
          border-bottom:1px solid;
        }
        &.sold-out{
          display: none;
        }
        html.ka &{
          font-family: BPGGini;
        }
        html &{
          
          font-style:italic;
          text-transform: capitalize;
          padding:em(5,22) em(10,22);
        }
      }
    }
  }
  .flat-type-info-wrapper{
    display: table-cell;
    vertical-align: middle;
font-family: 'Oswald', sans-serif;

    h2{
      color:$red;
      font-weight: bold;

      html &{
        
        font-size:em(36);
      }
      html.ka &{
        font-family: 'Oswald', sans-serif;
        font-size:em(28);
      }
    }
    .flat-area{
      color:$black;
      
      font-weight: bold;
      font-size:em(28);
      margin-top:em(10,30);
      line-height: initial;
      html.ka & span{
        font-family: BPGGini;
        font-size: em(23,30);
      }
      span{
        font-size: 60%;
      }
    }
    .price{
      color:$website-text-color;
      font-size: em(19);
      margin-top:em(10,17);

      html &{
        font-weight: bold;
        
      }
      html.ka &{
        font-family: DejavuSansCondensed;
        b{
          font-weight: bold;
          
        }
      }
    }
    .flat-type{
      // color:$brand-golden;
      color: rgba(0,0,0,.4);
      font-size: em(14);
      margin-top:em(5,18);
      font-weight: bold;
      span{
        font-size:em(18);
      }
      html.ka &{
        font-family: DejavuSansCondensed;
        span{
          
          font-style: italic;
        }
      }
      html &{
        
        font-style: italic;
      }
    }
  }
}
