

@import 'modules/modules';
@import 'partials/partials';

// @import "~bootstrap/scss/bootstrap";
#modal{
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 31, 32,0.5);
  animation-duration: .5s !important;;

  &.open{
      z-index: 999999;
  }
  display: flex;
  .modalcontainer{
    height: 90%;
      width: 80%; 
      margin: auto;
      background: #fff;
      padding: 15px;
      position: relative;
      .close{
        position: absolute;
        bottom: 46px;
        right: 30px;
        font-size: 2.3em;
        font-weight: 600;
        color: $red;
      }
    .slick img{
        max-height: 850px;
        width: 100%;
    }
    
    .carousel-buttons{
        display: flex;
        justify-content: center;
        padding: 15px;
        div{
            margin: 10px;
            font-size: 29.84pt;
            font-family: 'Oswald', sans-serif;
        }
        .active{
            color:$red;
        }
    }
    .carousel-arrows {
      position: absolute;
      left: 30px;
      bottom: 50px;
      div{
        display: inline-block;
        &:first-child{
          margin-right: 15px;
        }
      }
    }
  }
}
.patternbg{
  background: url('./assets/img/pattern-bg.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 49% 380px;
  &.pattern--interior{
    background-position: right top;
    background-size: 58%;
  }
}
.text-right{
  text-align: right;
}
.filternav{
  position: absolute;
  width: 40px;
  background: $red;
  color: white;
  z-index: 999;
  text-align: center;
  height: 100%;
  right: 0;
  @include transition(width .5s ease);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .filtersection{
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    @include transition(all .3s ease);
  }
  &.active{
    width: 200px;
    .filtersection{
      visibility: visible;
      opacity: 1;
    }
  }
  &.active ~ #main-container{
    width: 88%;
  }
  .menu{
    align-self: end;
    &::after{
      content:'';
      position: absolute;
      z-index:-1;
      width: 30px;
      height: 6%;
      left: -15px;
      top: 50%; 
      background: $red;
      @include transform(translateY(-50%));
      @include border-radius(0px);
    }
    .burger {
      cursor: pointer;
      .line {
        position: relative;
        margin: 5px 0;
        width: 30px;
        height: 3px;
        background-color: #fff;
        @include transition (all .24s ease);
        @include border-radius(0px);
      }
      &.active {
        .line {
          &:nth-child(2) {
            @include transform(scale(0));
          }
          &:nth-child(1) {
            @include transform((translateY(8px) rotate(45deg)));
          }
          &:nth-child(3) {
            @include transform((translateY(-8px) rotate(-45deg)));
          }
        }
      }
    }
  }
  
}

.view{
  #landingpage{
    border: 15px solid $black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    svg{
      position: relative;
      right: -550px;
    }
    .st0{fill:$red;}
    .rotatingWheel {
      transform-box: fill-box;
      transform-origin: 50% 50%;
      animation-name: spin;
      animation-duration: 5s;
      // animation-delay: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    .rotatingWheel2 {
      transform-box: fill-box;
      transform-origin: 50% 50%;
      animation-name: spin;
      animation-duration: 2.5s;
      // animation-delay: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    @keyframes spin {
      100% {
        transform: rotate(-360deg);
      }
    }
    .move{
      animation: move 15s infinite linear;
      animation-delay: 1s;
    }
  }
  &.active{
    #landingpage{
      transition: opacity 1s,visibility 1s
    }
  }
}

#appheader{
  ~div{
        position: absolute;
  width: 100%;
  height: calc(100% - 120px);
  // padding-top: 45px;
  }
}
#__nuxt, #__layout, #__layout > div, #app{
  position: relative;
    height: 100%;
}
//Scroll styles
.custom-scroll *::-webkit-scrollbar {
  width: $scrollbar-width;
}

.custom-scroll *::-webkit-scrollbar-track{
  background-color: transparent;
}

.custom-scroll *::-webkit-scrollbar-thumb {
  background-color: $black;
}

//Selection colors
::selection {
  background: rgba($brand-red,.9);
  color: white;
}

html,body{
  // width: 1920px;
  // height: 1080px;
  width:100%;
  height:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;

  // font-family: 'Roboto', sans-serif;
}
h2, h3, h4{
  font-family: 'Oswald', sans-serif;
}
p{
  font-family: GothamBookRegular;
  font-size: 12pt;
    line-height: 1.4;
}
html{
  &.no-touch{
    //All the hover events go here
  }
  &.mobile{
    //All mobile stuff goes here
    cursor:pointer;
  }
  &.ready:not(.ng-cloak) body{
    display: block;
    @extend .is-visible;
  }
}
body{
  color:$black;
  position: relative;
  @extend .is-invisible;
  transition: opacity $body-fadein-time $timing-function;
}
#svg-container{
  width: 0;
  height: 0;
  position: absolute;
  z-index: -10;
  overflow: hidden;
}

.main-background{
  width:100%;
  z-index:-1;
  height:100%;
  position: fixed;
  top:0;left:0;
  transition:top $background-animation-time $view-anim-timing-function 0s;
  &.animated{
    top:-40%;
  }
}

#grid{
  position: fixed;
  height:100%;
  left:0;right:0;
  z-index: 5;

  .col{
    position: relative;
    width:15.4%;
    height:100%;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    flex-basis: initial;
    box-flex: initial;
    flex-grow: initial;
    max-width: initial;
    @extend %col;
    box-sizing: content-box;

    &.col-margin{
      width:$grid-margin-width;
    }
    .grid-line, .grid-background{
      content:'';
      display: block;
      position: absolute;
      width:100%;
      height:100%;
      top:0;left:0;
      box-sizing: border-box;
    }
    .grid-line{
      border-right: 1px solid $gridline-color;
      z-index: 10;
      transition:height .5s ease;
    }
    &:last-child .grid-line{
      border-right: none;
    }
    &.gridlines-hidden .grid-line{
      height:0;
    }
    .grid-background{
      background-color: white;
      z-index: 5;
      transform:translateX(-110%);
      width:101%;
    }
    &.opacity-transition{ //In menu when user hovers the menu item same grid gets opacity-transition class
      &.background-open .grid-background{
        opacity:0;
        transition:transform $grid-background-animation-time ease 0s, opacity .5s ease;
      }
    }
    &.background-open .grid-background{
      transform:translateX(0%);
      transition:transform $grid-background-animation-time ease 0s, opacity .8s ease .15s;
    }
    &.background-closed .grid-background{
      transform:translateX(110%);
      transition:transform $grid-background-animation-time ease 0s;
    }
  }
}

header{
  display: block;
  z-index:15;
  //position: fixed;
  position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999999;
  // position: relative;
  @extend .is-invisible;
  // margin:$grid-margin-width/2 auto;

  // #logo-container{
  //   left:0;
  //   position: relative;
  //   padding-right: 1px;
  //   z-index:10;
  // }
  #logo-itself {
    display: block;
    box-sizing: border-box;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 30%;
    // background-color:white;
    position: relative;

    .logo-icon-only{
      display: none;
      //height:100%;
      margin:0 auto;
      width:100%;
    }
    .main-logo{
      display: block;
      width:100%;
      // padding: 5px;
    }
  }
  #language-switchers-container{
    position: absolute;
    right:-2%;
    top:0;
    transform:translateX(50%);
    z-index: 5;
    //background-color: white;
    //border:1px solid $brand-green;
  }

  &.animated{
    @extend .is-visible;
    transition: opacity $logo-animation-time ease;
  }
}
.language-switcher{
  color:$brand-golden;
  padding:em(16) em(10);
  display: block;
  background-color:white;
  &.active{
    outline:2px solid $brand-green;
  }
  abbr{
    display: none;
  }
  svg{
    display: block;
    width:em(28);
  }
}
#main-loading-container{
  width:100%;
  height:100%;
  @extend .is-visible;
  position: fixed;
  top:0;left:0;
  z-index:1000;
  color:$brand-golden;
  transition:opacity .5s ease, visibility 0s ease .5s;

  .loading{
    top:50%;
    left:50%;
    transform: translate3d(-50%,-50%,0);
    position: absolute;
  }
  &.hidden{
    @extend .is-invisible;
  }
}

.loading{
  width:em(148);
  display: block;
  &.en{
    .ka-text{
      display: none;
    }
  }
  &.ka{
    .en-text{
      display: none;
    }
  }
  .animating-logo{
    path{
      opacity:$loading-animation-initial-opacity;
      animation:loading-blink $loading-animation-time ease-out 0s infinite;
    }
    @for $i from 1 through $logo-children{
      path:nth-child(#{$i}){
        animation-delay:#{$loading-animation-time / $logo-children * ($i - 1)};
      }
    }
  }
}

.in-margins{
  // margin-left:$grid-margin-width;
  // margin-right: $grid-margin-width;
}

#main-container{
  // position: relative;
  // // z-index:10;
  // height:100%;
  // overflow: hidden;

    position: absolute;
width: 100%;
height: 100%;
@include transition(width .5s ease);
// padding-top: 45px;

}

#view-container{
  width:100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index:10;
}
#appheader{
  position: absolute!important;
  bottom: 0px!important;
  width: 100%!important;
  height: 120px !important;
  margin-bottom: 0px !important;
  @include box-shadow(0px 9px 43px 18px #eaeaea);
}
.view{
  width:100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index:10;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 45px;
  margin-bottom: 90px;
  &:not(.scrollable){
    padding-top:0 !important;
  }
  &.scrollable{
    //padding-top: 8.5%;
  }

  &.active .template-container{
    visibility: visible;
    transition:none;
  }

  .template-container{
    width:100%;
    height:100% !important;
    position:relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    transition:visibility 0s linear $view-animation-time;
    &:focus{
      outline:none;
    }
  }
}
.page{
  position: relative;
  &.full{
    height:100%;
    overflow: hidden;
    .page-wrapper{
      height:100%;
    }
  }
  .page-wrapper{
    display: block;
    position: relative;
    min-height: 100%;
  }

  &.in-margins{
    margin-left:0;
    margin-right:0;
    padding-left:$grid-margin-width;
    padding-right:$grid-margin-width;
    box-sizing:border-box;
  }
  &:focus{
    outline:none;
  }
}

.page{
  @extend .is-invisible;
  transition:opacity $view-animation-time,visibility 0s ease $view-animation-time;

  .view.active &{
    @extend .is-visible;
    transition:opacity 0s,visibility 0s;
  }
}

#footer-line{
  margin-top: em(60);
  height:em(30);
  width:150%;
  position: relative;
  left:-25%;
  background-color: $brand-green;

  html.project &{
    margin-top: 0;
  }
}

@import 'pages/pages';
//@import 'partials/media';
@import "partials/media_goga";
@import "partials/media_misha";


.v-input input{
  text-transform: uppercase !important;
}