<template>
 <transition name="slide-fade">
    <div class="view scrollable" ref="view" v-if="!isHome">
      <header class="row in-margins animated" style="display:flex;">
        <div id="logo-container" class="col-2 col-md-3">
          <router-link to="/" id="logo-itself">
            <img src="@/assets/img/tricycle-red.png" class="main-logo" />
          </router-link>
        </div>
        <div class="col-8 col-md-9" style="align-self:center">
          <div id="navigation-buttons-wrapper" class="no-animate">
            <router-link class="nav-button prev" to="/building">
              Building
            </router-link>
            <router-link class="nav-button prev" to="/model">
              Models
            </router-link>
            <!-- <router-link class="nav-button prev" to="/floor/1" :class="{'router-link-active': subIsActive('/floor')}">
            Floors
          </router-link> -->
                      <router-link class="nav-button prev" to="/interior">
              Interior
            </router-link>
            <router-link class="nav-button prev" to="/neighbourhood">
              Neighbourhood
            </router-link>
            <router-link class="nav-button prev" to="/builderstory">
              Builder
            </router-link>
            <!-- <router-link class="nav-button prev" to="/dashboard">
              dashboard
            </router-link> -->
          </div>
        </div>
        <div class="col-2 col-md-2" style="align-self: center">
          <img src="@/assets/img/lash.png" class="main-logo" width="100" style="padding-right: 16px;float:right" />

        </div>
      </header>
    </div>
  </transition>
</template>

<script>
  export default {
    data() {
      return {
        isHome: true,
      }
    },
    watch: {
      '$route.name': function (id) {
        this.checkNavigation()
      }
    },
    methods: {
      checkNavigation: function () {
        if (this.$route.name == 'Landing' /*|| this.$route.name == 'Dashboard'*/) {
          this.isHome = true;
        } else {
          this.isHome = false
        }
      },
      subIsActive(input) {
        const paths = Array.isArray(input) ? input : [input]
        return paths.some(path => {
          return this.$route.path.indexOf(path) === 0 // current path starts with this path string
        })
      }
    },
    mounted() {
      this.checkNavigation()
    }
  }
</script>

<style scoped lang="scss">
  .st0 {
    fill: #D8262F;
  }

  .view {
    top: initial !important;

  }

  #navigation-buttons-wrapper {
    text-align: center;

    .nav-button {
      margin-top: 0px;
      width: 200px;
      display: inline-block;


      &.router-link-active {
        background: #231f20;
        color: #fff;
      }
    }
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }

  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter,
  .slide-fade-leave-to

  /* .slide-fade-leave-active below version 2.1.8 */
    {
    transform: translateY(45px);
    opacity: 0;
  }
</style>