<template>
  <div>
    <div id="main-container">
      <div id="view-container">
        <div class="view scrollable" ref="view">
          <div id="template-container" class="template-container landing">
            <div id="landing" @click="removeFirstScreen" class="page in-margins full" :class="{'first-screen-visible': backgroundAnimationHandler.landingFirstScreenVisible,'no-first-screen':!backgroundAnimationHandler.landingFirstScreenVisible, 'hash-available':backgroundAnimationHandler.hash}"
              style="width: 100%;">
              <div class="page-wrapper" >
                <div id="floor-selector-container" class="noselect min-width" :class="{'first-screen-visible':backgroundAnimationHandler.landingFirstScreenVisible, 'hovered': activefloor, 'hash-available':backgroundAnimationHandler.hash}" ref="floorselectorcontainer">
                  <div id="floor-selector-background">
                    <div id="floor-selector-white-border">
                      <div class="border top"></div>
                      <div class="border right"></div>
                      <div class="border left"></div>
                      <div class="border bottom"></div>
                    </div>
                    <div id="floor-selector-full-background"></div>
                  </div>
                  <div id="floor-selector" class="row">
                    <div id="floor-selector-flat-types-container" class="col col-4 col-md-4 col-xs-3 in-grid-margins">
                      <div class="wrapper">
                        <div id="flat-types-wrapper">
                          <h4 class="vertical-title left">
                            <p>Model types</p>
                          </h4>
                          <table types-table="" id="floor-selector-flat-types-table" class="flat-types-table" flat-url="/en/apartment">
                            <tbody>
                              <tr v-for="i in rowCount" :key="i">
                                <td colspan="1" class="row" :class="[item.available ? 'available' : 'sold-out']" v-for="(item, idx) in itemCountInRow(i)" :key="idx" v-if="floors[currentFloor]">
                                  <div v-if="!item.available" class="soldout-overlay">sold</div>
                                  <router-link :to="'/model/'+item.name | lowercase"><b>{{item.name}}</b></router-link>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div id="navigation-ways-wrapper" class="row">
                          <div class="navigation-way col-12">
                            <svg viewBox="0 0 30 56" id="drag-icon" width="100%" height="100%"><title>drag-icon</title> <g id="drag-icon-XMLID_70_"> <g id="drag-icon-XMLID_71_"> <path id="drag-icon-XMLID_11_" fill="#FFFFFF" d="M14.8,38.9c-1,0-2.1,0-3.2-0.1C5,38.5,2.6,32.8,1.1,26.7l-0.9-5.4c-0.4-1.8,0-3.7,1.2-5.2    c1.2-1.5,3-2.3,4.9-2.3v1c-1.6,0-3.1,0.7-4,1.9s-1.3,2.8-1,4.4l0.9,5.4c1.7,6.6,3.9,11,9.5,11.4c3.2,0.2,6.3,0,6.3,0    c7.5,0,11-3.8,11-11.9V23h1v2.9c0,8.7-3.9,13-12,13C18,38.9,16.6,38.9,14.8,38.9z"></path> </g> <g id="drag-icon-XMLID_78_"> <path id="drag-icon-XMLID_10_" fill="#FFFFFF" d="M6.4,23h-1V6.6c0-1.9,1.6-3.5,3.5-3.5s3.5,1.6,3.5,3.5v4.9h-1V6.6c0-1.3-1.1-2.4-2.4-2.4    c-1.3,0-2.4,1.1-2.4,2.4V23z"></path> </g> <g id="drag-icon-XMLID_79_"> <path id="drag-icon-XMLID_9_" fill="#FFFFFF" d="M18.2,11.5h-1v-8c0-1.3-1.1-2.4-2.4-2.4s-2.4,1.1-2.4,2.4v8h-1v-8c0-1.9,1.6-3.5,3.5-3.5    c1.9,0,3.5,1.6,3.5,3.5V11.5z"></path> </g> <g id="drag-icon-XMLID_80_"> <path id="drag-icon-XMLID_8_" fill="#FFFFFF" d="M24.1,11.5h-1v-8C23.1,2.1,22,1,20.6,1c-1.3,0-2.4,1.1-2.4,2.4v8h-1v-8    c0-1.9,1.6-3.5,3.5-3.5c1.9,0,3.5,1.6,3.5,3.5V11.5z"></path> </g> <g id="drag-icon-XMLID_81_"> <path id="drag-icon-XMLID_2_" fill="#FFFFFF" d="M30,25.1h-1V6.4C29,5.1,27.9,4,26.5,4c-1.3,0-2.4,1.1-2.4,2.4v5.1h-1V6.4    c0-1.9,1.6-3.5,3.5-3.5C28.4,3,30,4.5,30,6.4V25.1z"></path> </g> <g id="drag-icon-XMLID_152_" opacity="0.4"> <rect id="drag-icon-XMLID_7_" x="27.5" y="33" fill="#FFFFFF" width="1" height="16.1"></rect> </g> <g id="drag-icon-XMLID_82_" opacity="0.4"> <rect id="drag-icon-XMLID_6_" x="2.8" y="33.6" fill="#FFFFFF" width="1" height="15.6"></rect> </g> <g id="drag-icon-XMLID_243_" opacity="0.4"> <rect id="drag-icon-XMLID_5_" x="15.1" y="38" fill="#FFFFFF" width="1" height="18"></rect> </g> <g id="drag-icon-XMLID_262_" opacity="0.4"> <rect id="drag-icon-XMLID_4_" x="8.9" y="38" fill="#FFFFFF" width="1" height="14.9"></rect> </g> <g id="drag-icon-XMLID_278_" opacity="0.4"> <rect id="drag-icon-XMLID_3_" x="21.2" y="38" fill="#FFFFFF" width="1" height="14.9"></rect> </g> </g> </svg>
                            <p>Drag</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="floor-selector-view-button-container" class="col col-4 col-md-4  col-xs-6">
                      <router-link id="view-floor-button" :to="'/floor/'+currentFloor">
                        <span class="view-floor-button-text underline-link">
                          View floor plate </span>
                      </router-link>
                      <h3 id="discover-project">
                        EXPLORE TRICYCLE</h3>
                    </div>
                    <div id="floor-selector-contact-container" class="col col-2 col-md-1 in-grid-margins">
                      <!-- <div class="wrapper">
                        <h3>Contact us</h3>
                        <a class="email underline-link animating" href="mailto:info@tbilisigardens.ge" target="_blank">
                          info@tbilisigardens.ge </a>
                        <a class="phone-number underline-link animating ng-binding" href="tel:+995322202323">
                          +995 322 202 323
                        </a>
                      </div> -->

                    </div>
                    <div id="floor-selector-floor-number-container" class="col col-2 col-md-3 col-xs-3">
                      <div class="wrapper">
                        <h4 class="vertical-title left">
                          <p>
                            Floor Number </p>
                        </h4>
                        <div id="floor-number-container">
                          <span class="ng-binding">{{currentFloor}}</span>
                        </div>
                        <div id="floor-number-switchers-container">
                          <button class="arrow up" @click="scrollByFloors(-1, $event)" :class="{disabled: currentFloor==numberOfFloors || backgroundAnimationHandler.landingFirstScreenVisible}">
                            <i class="material-icons arrow-icon">keyboard_arrow_up</i>
                          </button>
                          <button class="arrow down" @click="scrollByFloors(1, $event)" :class="{disabled: currentFloor==1 || backgroundAnimationHandler.landingFirstScreenVisible}">
                            <i class="material-icons arrow-icon">keyboard_arrow_down</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="view-floor-text-before-hover" class="view-floor-button-text">
                    View floor plan </div>
                  <div class="arrow-in-circle" @click="removeFirstScreen">
                      <i class="material-icons arrow-icon" style="font-size: 32px !important;color: #000;">keyboard_arrow_down</i>
                  </div>

                </div>

                <div id="building" class="dragdealer" style="height: 180px">
                  <div id="building-wrapper" class="handle" style="perspective: 1000px; backface-visibility: hidden; transform: translate3d(0px, -1484px, 0px);">
                    <img id="building-top-part" src="@/assets/img/landing/testv2.jpg" alt="building top part"/>
                    <img id="building-middle-part" src="@/assets/img/landing/test_02.jpg" alt="building" />
                    <img id="building-bottom-part" src="@/assets/img/landing/test_03.jpg" alt="building bottom part" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
  import {mapState} from 'vuex';
  import Dragdealer from "../../static/libs/dragdealer.js";
  export default {
    data() {
      return {
        numberOfFloors: 14,
        currentFloor: 14,
        modelsPerRow: 3,
        scrolled: false,
        backgroundAnimationHandler: {
          buildingScrollProgress: 0,
          landingFirstScreenVisible: true,
          hash: false
        },
        dragDealer: '',
        activefloor: true,
      };
    },
    computed: {
      ...mapState({
        floors: state => state.floors
      }),
      rowCount(){     
          if(this.floors[this.currentFloor]){
            return Math.ceil(Object.values(this.floors[this.currentFloor].models).length / this.modelsPerRow)
          }
      },
    },
    mounted(){
      // this.checkHash()
      this.initDragDealer();
    },
    methods: {
      itemCountInRow(index){
        return Object.values(this.floors[this.currentFloor].models).slice((index - 1) * this.modelsPerRow, index * this.modelsPerRow)
      },
      initDragDealer: function (e) {
        var vm = this;
        this.dragDealer = new Dragdealer("building", {
          steps: this.numberOfFloors,
          speed: 0.35,
          loose: true,
          requestAnimationFrame: true,
          vertical: true,
          horizontal: false,
          slide: true,
          disabled: true,
          animationCallback: function (x, y) {
            if (this.disabled) {
              return;
            }
            if (y < 0) {
              //This disables elastic scroll
              y = 0;
              this.setValue(x, y, true);
              return;
            }
            if (y > 1) {
              //This disables elastic scroll
              y = 1;
              this.setValue(x, y, true);
              return;
            }
            // if (vm.currentFloor != this.getStep()[1]) {
            //   vm.updateFloor((vm.numberOfFloors+1) - this.getStep()[1]);
            // }
          },
          callback: function (x, y) {
            if (vm.currentFloor != this.getStep()[1]) {
              vm.updateFloor((vm.numberOfFloors+1) - this.getStep()[1]);
            }
          }
        });

      },
      updateFloor (num) {
          this.currentFloor = num;
          this.$router.replace({ hash: ''+this.currentFloor })
      },
      removeFirstScreen: function () {
        this.backgroundAnimationHandler.landingFirstScreenVisible = false;
        this.dragDealer.enable();
      },
      checkHash () {
        var hash = this.$route.hash.split('#')[1]
        if (hash) {
          this.removeFirstScreen();
          this.backgroundAnimationHandler.hash = true
          setTimeout(() => {
            this.currentFloor = hash;
            this.dragDealer.setStep(0, (this.numberOfFloors + 1 - hash), false);
          }, 0);
        } else {
          this.$router.replace({
            hash: '' + this.currentFloor
          })
        }
        // setTimeout(() => {
        //   this.dragDealer.enable();
        // }, 500);
      },
      scrollByFloors(i, event){
        event.preventDefault();
        this.dragDealer.setStep(0, this.dragDealer.getStep()[1] + i);
      }
    }
  };

</script>

<style scoped lang="scss">
.view{
  padding-top: 0px;
}
.hash-available{
  transition: opacity .5s ease;
}
.arrow-icon{
  font-size: 60px !important;
}
</style>
