<template>
    <div id="main-container">
      <div id="view-container" class="patternbg">
        <div class="view scrollable" ref="view">
          <div id="template-container" class="template-container wolf">
            <div id="wolf-page" class="page in-margins full" style="width: 100%;">
              <div class="page-wrapper">
                <section id="project-description-container">
                  <div class="project-description-wrapper row clearfix">
                    <div class="project-description clearfix col-6 col-xs-12">
                      <div class="col-12 col-md-12 in-grid-margins-sub">
                        <h2 class="inner-title">NEW THINKING<br>FOR OVER 60 YEARS</h2>
                        <p class="intro inner-text inner-margin-top-sm" style="font-size: 2.3em;margin-top: 20px;margin-bottom: 20px">
                          The roots of the Lash Group of Companies go back to 1955.<br>
                        </p>
                        <div class="project-description-image-wrapper col-12 col-xs-12 xs-margin">
                          <img class="project-description-image" src="@/assets/img/builderstory-img1.jpg" alt="" style="margin-right: 30px;">
                        </div>
                      </div>
                    </div>
                    <div class="project-description-image-wrapper col-6 col-xs-12 xs-margin">
                      <img class="project-description-image" src="@/assets/img/builderstory-img2.jpg" alt="">
                      <div class="project-description">
                        <p class="intro inner-text inner-margin-top-sm">
                          From 1955, the company evolved into what is today one of Toronto’s premiere residential builder. From striving to reach ever-higher standards of quality to raising the bar on design and construction to its focus on providing outstanding property management services, Lash is committed to leading never following. Over the years, the company has prided itself on its vision to see future potential in untapped neighbourhoods both in the GTA and in Florida. 
                          With its insightful ability for creating unique, inspired condominium lifestyles, the company today is proud to introduce its newest addition to the Markham and Ellesmere intersection Tricycle. The third phase of the me Living community, Tricycle is improving on the extremely high standard established by its sister buildings. 
                          One need only to look at the many renowned condominium communities across Greater Toronto to see Lash’s commitment for establishing lasting value in its condominium residences.
                        </p>
                        </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  export default {

  }

</script>

<style scoped>
.project-description-image{
  width: 83% !important;
    height: auto;
    margin: 0 auto;
}
</style>
