<template>
  <div>
    <v-container fluid grid-list-xl>
      <v-layout wrap align-center>
        <v-flex xs12 sm6 d-flex>
          <v-select :items="Object.keys(floors)" label="Select Floor" solo v-if="floors" @change="checkSelectedFloor"></v-select>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid v-if="currentFloor">
      <v-layout>
        <v-flex>
          <v-toolbar flat color="">
            <v-toolbar-title>FLOOR {{currentFloor}}</v-toolbar-title>
            <v-divider class="mx-2" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <v-btn slot="activator" color="primary" dark class="mb-2">New Model</v-btn>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.name" label="Model Name"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.sqft" label="SQ.FT."></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-switch label="Available" v-model="editedItem.available" color="green"></v-switch>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                  <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
          <v-data-table :headers="headers" :items="(floors[this.currentFloor].models)" hide-actions class="elevation-1"
            v-if="floors[this.currentFloor]">
            <template slot="items" slot-scope="props">
              <td class="text-xs-center">{{ props.item.name }}</td>
              <td class="text-xs-center">{{ props.item.sqft }}</td>
              <td class="text-xs-center">
                <template v-if="props.item.available == true">
                  <v-chip color="green" text-color="white" label>Available</v-chip>
                </template>
                <template v-else>
                  <v-chip color="red" text-color="white" label>Sold</v-chip>
                </template>
              </td>
              <td class="justify-center layout px-0">
                <v-icon small class="mr-2" @click="editItem(props.item)">
                  edit
                </v-icon>
                <v-icon small @click="deleteItem(props.item)">
                  delete
                </v-icon>
              </td>
            </template>
            <template slot="no-data">
              <v-btn color="primary">Reset</v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import {
    mapState
  } from 'vuex';
  export default {
    name: 'HelloWorld',
    data: () => ({
      currentFloor: '',
      dialog: false,
      headers: [{
          text: 'Model',
          value: 'model',
          align: 'center'
        },
        {
          text: 'Sq.ft.',
          value: 'sqft',
          align: 'center'
        },
        {
          text: 'Available',
          value: 'available',
          align: 'center'
        },
        {
          text: 'Actions',
          value: 'name',
          sortable: false,
          align: 'center'
        }
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        model: '',
        floor: '',
        sqft: '',
        available: true,
      },
      defaultItem: {
        model: '',
        floor: '',
        sqft: '',
        available: true,
      }
    }),
    computed: {
      ...mapState({
        floors: state => state.floors
      }),
      formTitle() {
        return this.editedIndex === -1 ? 'New Model' : 'Edit Model'
      }
    },
    watch: {
      dialog(val) {
        val || this.close()
      }
    },
    methods: {
      checkSelectedFloor(floor) {
        this.currentFloor = floor;
      },
      editItem(item, idx) {
        this.editedIndex = this.floors[this.currentFloor];
        item.floor = this.currentFloor
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem(item) {
        const index = this.desserts.indexOf(item)
        confirm('Are you sure you want to delete this model?') && this.desserts.splice(index, 1)
      },

      close() {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save() {
        this.$store.dispatch('updateModel', this.editedItem);
        // if (this.editedIndex > -1) {
        //   Object.assign(this.desserts[this.editedIndex], this.editedItem)
        // } else {
        //   this.desserts.push(this.editedItem)
        // }
        this.close()
      }
    },
    methods: {
      name() {
        
      }
    },

  }

</script>

<style scoped>
  .view {
    padding-top: 0px !important;
  }

  nav {
    height: initial !important;
  }

</style>
