<template>
  <div id="app">
    <v-app id="inspire">
      <v-container fluid>
        <v-layout wrap align-center>
          <v-flex xs12 sm6 d-flex>
            <v-select :items="Object.keys(floors)" label="Select Floor" solo v-if="floors" @change="checkSelectedFloor" v-model="defaultSelected"></v-select>
          </v-flex>
        </v-layout>

      <v-layout>
        <v-flex>
          <v-toolbar flat color="">
            <v-toolbar-title>FLOOR {{currentFloor}}</v-toolbar-title>
            <v-divider class="mx-2" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <v-btn slot="activator" color="primary" dark class="mb-2">New Model</v-btn>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.name" label="Model Name"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.sqft" label="SQ.FT."></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-switch label="Available" v-model="editedItem.available" color="green"></v-switch>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                  <!-- <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn> -->
                  <v-btn color="green darken-3" flat @click="updateModel" v-if="formStatus=='Save'">Update</v-btn>
                  <v-btn color="green darken-3" flat @click="createModel" v-if="formStatus=='Create'">Create</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
          <v-data-table :headers="headers" :items="(Object.values(floors[this.currentFloor].models))" hide-actions class="elevation-1" v-if="floors[this.currentFloor]">
            <template slot="items" slot-scope="props">
              <td class="text-xs-center">{{ props.item.name }}</td>
              <td class="text-xs-center">{{ props.item.sqft }}</td>
              <td class="text-xs-center">
                <template v-if="props.item.available == true">
                  <v-chip color="green" text-color="white" label>Available</v-chip>
                </template>
                <template v-else>
                  <v-chip color="red" text-color="white" label>Sold</v-chip>
                </template>
              </td>
              <td class="justify-center layout px-0">
                <v-icon small class="mr-2" @click="editItem(props.item, props.index)">
                  edit
                </v-icon>
                <!-- <v-icon small @click="deleteItem(props.item, props.index)">
                  delete
                </v-icon> -->
              </td>
            </template>
            <template slot="no-data">
              <v-btn color="primary">Reset</v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
      </v-container>

    </v-app>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  export default {
    name: 'Dashboard',
    data: () => ({
      dialog: false,
      defaultSelected: '1',
      currentFloor: '1',
      editedIndex: -1,
      headers: [
        {text: 'Model', value: 'model', align: 'center'},
        {text: 'Sq.ft.', value: 'sqft', align: 'center'},
        {text: 'Available', value: 'available', align: 'center'},
        {text: 'Actions', value: 'name',  sortable: false, align: 'center'}
      ],
      editedItem: {
        model: '', floor: '', sqft: '',
        available: true
      },
      defaultItem: {
        model: '', floor: '', sqft: '',
        available: true
      }
    }),
    computed: {
      ...mapState({
        floors: state => state.floors,
        models: state => state.floor.models,
      }),
      formTitle() {
        return this.editedIndex === -1 ? 'New Model' : 'Edit Model'
      },
      formStatus() {
        return this.editedIndex === -1 ? 'Create' : 'Save'
      }
    },
    watch: {
      dialog(val) {
        val || this.close();
      }
    },
    mounted(){
      this.$store.dispatch('fetchFloor', this.currentFloor)
    },
    methods: {
      checkSelectedFloor(floor) {
        this.currentFloor = floor;
        this.$store.dispatch('fetchFloor', this.currentFloor)
      },
      editItem(item, idx) {
        this.editedIndex = this.floors[this.currentFloor];
        item.floor = this.currentFloor
        item.model = idx;
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },
      deleteItem(item) {
        const index = this.desserts.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
      },
      close() {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1;
        }, 300)
      },
      updateModel() {
        this.$store.dispatch('updateModel', this.editedItem);
        this.close()
      },
      createModel(){
        this.editedItem.floor = this.currentFloor;
        this.editedItem.model = Object.keys(this.models).length;
        this.$store.dispatch('createModel', this.editedItem);
        this.close()
      }
    }
  }
</script>
<style scoped lang="scss">
.view {
  padding-top: 0px !important;
}
nav{
  height: auto;
}
</style>
