<template>
  <div id="showroom">
    <div id="main-container">
      <div id="view-container" class="patternbg pattern--interior">
        <div class="view scrollable" ref="view">
          <div id="template-container" class="template-container wolf">
            <div id="wolf-page" class="page in-margins full" style="width: calc(100% + 5px);">
              <div class="page-wrapper">
                <section id="project-description-container">
                  <div class="project-description-wrapper row clearfix">
                    <div class="col-9">
                                            <div class="project-description-image-wrapper col-12 col-xs-12 xs-margin">
                        <img class="project-description-image" src="@/assets/img/interior-landing.jpg" alt="">
                      </div>
                    </div>
                    <div class="project-description clearfix col-3 col-xs-12" style="float:right">
                        <h2 class="inner-title text-right">URBAN LIVING<div style="height: 40px;"></div>CONDO LIFESTYLE</h2>
                        <div id="navigation-buttons-wrapper">
                            <a v-for="(button, i) in buttons" @click="Modal(i)" :key="i" class="nav-button btn-red" ><span v-html="button"></span></a>
                        </div>
                    </div>             
                  </div>
                <br><br><br>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ref="modal" id="modal" class="animated">
        <div class="modalcontainer">
            <slick ref="slick" :options="slickOptions" @beforeChange="handleBeforeChange">
                <img src="@/assets/img/lobby.jpg" alt="">
                <img src="@/assets/img/interior.jpg" alt="">
                <img src="@/assets/img/courtyard.jpg" alt="">
                <img src="@/assets/img/amenities.jpg" alt="">
            </slick>
            <div class="carousel-buttons">
                <div @click="gotoSlide(0)">LOBBY</div>
                <div @click="gotoSlide(1)">INTERIOR</div>
                <div @click="gotoSlide(2)">COURTYARD</div>
                <div @click="gotoSlide(3)">AMENITIES</div>
            </div>
            <div class="carousel-arrows">
              <div @click="prev"><img src="@/assets/img/slick-prev.png" width="30"></div>
              <div @click="next"><img src="@/assets/img/slick-next.png" width="30"></div>
            </div>
            <i class="material-icons close" @click="closeModal()">close</i>
        </div>
    </div>
  </div>
</template>

<script>
import Slick from 'vue-slick';
  export default {
    components: { Slick },
    data() {
      return {
          buttons:[`VIEW<br>LOBBY`,`VIEW<br>INTERIOR`, `VIEW<br>COURTYARD` , `VIEW<br>AMENITIES`],
          slides:['amenities.jpg', 'interior.jpg', 'lobby.jpg', 'rendering.jpg'],
          slickOptions: {
              slidesToShow: 1,
              infinite: false,
              accessibility: true,
              adaptiveHeight: false,
              arrows: false,
              dots: false,
              draggable: true,
              edgeFriction: 0.30,
              swipe: true,
              fade: true
          },
          isActive: false
      }
    },
    methods: {
        Modal(i) {
            this.$refs.modal.classList.add('fadeIn', 'open');
            this.$refs.slick.goTo(i);
            $('.carousel-buttons div').eq(i).addClass('active')
        },
        closeModal() {
            this.$refs.modal.classList.remove('fadeIn', 'open');
        },
        next() {
            this.$refs.slick.next();
        },
        prev() {
            this.$refs.slick.prev();
        },
        gotoSlide(i){
            this.$refs.slick.goTo(i);
            $('.carousel-buttons div').removeClass('active')
            $('.carousel-buttons div').eq(i).addClass('active')
        },
        handleBeforeChange(event, slick, currentSlide, nextSlide) {
            $('.carousel-buttons div').removeClass('active')
            $('.carousel-buttons div').eq(nextSlide).addClass('active')
        }
    },
  }
</script>

<style scoped lang="scss">
  .project-description-image {
    width: 100% !important;
    height: auto;
    margin: 0 auto;
  }

  #navigation-buttons-wrapper {
    margin-top: 160px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    .nav-button {
      padding: 20px;
      line-height: 1.5;
      letter-spacing: 2px;
        width: 38%;
        margin: 5px;
    &:first-child {
      margin-top: 5px;
    }
  }
}


</style>