<template>
  <div id="main-container" @click="$router.push('/building')">
    <div id="view-container">
        <div class="view" ref="view">
          <div id="template-container" class="template-container floor">
            <div id="landingpage" class="page in-margins full" style="width: 100%;">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 481.99 329.3841" style="enable-background:new 0 0 481.99 329.3841;width: 450px" xml:space="preserve" class="move">
                    <g>
                        <path class="st0 rotatingWheel2" d="M269.3839,202.9766c-34.3772,0-62.3436,27.9668-62.3436,62.344c0,34.3746,27.9664,62.3413,62.3436,62.3413
                            c20.3614,0,39.482-9.9789,51.15-26.6946c3.2777-4.6952,2.1271-11.1575-2.5655-14.4303
                            c-4.6925-3.2777-11.1574-2.1323-14.4329,2.5655c-7.7917,11.1626-20.5607,17.8299-34.1516,17.8299
                            c-22.9477,0-41.6143-18.6696-41.6143-41.6117c0-22.9451,18.6666-41.6143,41.6143-41.6143c19.1824,0,35.6262,13.3602,40.29,31.2497
                            h-41.0128c-5.7242,0-10.365,4.6408-10.365,10.3647c0,5.7238,4.6407,10.3646,10.365,10.3646h52.6994
                            c5.7239,0,10.3647-4.6407,10.3647-10.3646c0-0.5132-0.0078-1.0262-0.0183-1.5468
                            C330.8881,230.2516,302.9292,202.9766,269.3839,202.9766z"/>
                        <path  class="st0 rotatingWheel" d="M154.7579,134.3341c-2.4693-1.3165-5.3634-1.573-8.0273-0.7205c-2.6638,0.8524-4.8688,2.7466-6.1178,5.2498
                            l-34.5792,69.4383l-35.2375-69.0809c-1.2725-2.4923-3.4984-4.366-6.1697-5.1927c-2.6716-0.8238-5.5632-0.539-8.025,0.8036
                            C23.2272,153.0189,2.495,187.9146,2.495,225.8908c0,45.5297,30.4674,86.3848,74.0895,99.3458
                            c0.9847,0.2929,1.9799,0.4328,2.9568,0.4328c4.4697,0,8.5924-2.9124,9.9319-7.4135c1.6299-5.488-1.4975-11.2584-6.9833-12.8884
                            c-34.8952-10.3698-59.2653-43.05-59.2653-79.4768c0-26.79,12.8988-51.6629,34.2553-67.1532l39.4298,77.3002
                            c1.77,3.4723,5.3381,5.6568,9.2326,5.6568h0.0492c3.9151-0.0183,7.4831-2.2415,9.2298-5.7448l38.6992-77.7045
                            c21.7814,15.4411,34.9396,40.5055,34.9396,67.6455c0,36.4968-23.3856,68.3112-58.1929,79.1708
                            c-5.4648,1.7026-8.5144,7.5145-6.8096,12.9819c1.7026,5.4622,7.5144,8.5201,12.9792,6.807
                            c43.5164-13.5726,72.7526-53.3393,72.7526-98.9597C209.7896,187.4741,188.7024,152.3894,154.7579,134.3341z"/>

                        <path class="st0" d="M416.2469,201.1828c-24.673,0-47.188,15.0083-57.1199,37.5099
                            c-12.0982-24.2299-23.3103-40.2566-38.614-58.3093l33.4081-38.5982c0.1864-0.215,0.3134-0.4558,0.4793-0.6787l28.4126,3.5162
                            c0.3779,0.0466,0.754,0.0723,1.1245,0.0723c2.2799,0,4.4361-0.8603,6.2911-2.5133c2.734-2.4435,4.4335-6.3355,4.4335-10.1548
                            c0-6.491-5.2445-11.7695-11.6911-11.7695h-66.552c-7.0094,0.0831-11.6784,1.6247-11.6784,8.8671
                            c0,2.4981,1.8968,5.7709,10.9762,7.188l13.8731,1.7182l-22.9966,26.9272c-42.1439-43.7973-89.1411-68.9105-114.9453-80.51
                            l15.0356-30.2736c1.2803,0.0314,2.5423,0.1219,3.8275,0.1219c27.6399,0,56.6845-7.258,80.6945-20.9056
                            c4.7935-2.7261,7.1282-8.665,4.8297-13.7023c-2.5781-5.6617-9.3463-7.7657-14.5961-4.7496
                            c-30.972,17.7807-71.5163,23.3361-103.3023,14.1582c-15.5573-4.4932-26.9615-12.1966-32.1491-21.7062
                            c-2.5237-4.6281-8.1051-6.9262-12.9919-5.0059c-5.9263,2.3317-8.3255,9.2423-5.4053,14.7046
                            c7.9211,14.8164,23.4188,25.9198,44.8194,32.0972c4.1719,1.2046,8.5043,2.1167,12.8991,2.8916l-28.8814,57.0085
                            c-1.9717,5.3925,0.7722,11.3754,6.1334,13.3628c5.3586,1.985,11.3029-0.7772,13.2771-6.1697l6.4682-13.0237
                            c6.7857,3.1975,15.7855,7.5215,16.7811,8.0385c11.961,6.2267,23.5824,13.1063,34.805,20.579
                            c29.6172,19.727,56.5601,43.7083,78.5336,71.7604c11.4735,14.6453,21.0844,30.6407,29.3399,47.2968
                            c7.8513,15.8399,12.8652,33.6593,22.6935,48.6882c11.5826,17.711,30.4957,28.06,51.7874,28.06
                            c34.8748,0,63.2481-28.3734,63.2481-63.2456C479.495,229.5587,451.1216,201.1828,416.2469,201.1828z M424.4583,305.7679
                            c-2.7879,0.5598-5.5323,0.8268-8.2114,0.8268c-18.7837-0.0078-34.385-13.2305-40.6557-31.3611
                            c-0.2799-0.6709-0.5546-1.3214-0.8315-1.9847h27.399c2.946,4.6978,8.1335,7.8461,14.0881,7.8461
                            c9.2013,0,16.664-7.4626,16.664-16.6614c0-9.2039-7.4626-16.6665-16.664-16.6665c-4.4827,0-8.5327,1.7905-11.5283,4.672h-29.1531
                            c5.1902-17.576,21.4497-30.4438,40.6814-30.4438c23.3983,0,42.4358,19.0349,42.4358,42.4383
                            C458.6826,284.3673,443.9232,301.8555,424.4583,305.7679z"/>
                    </g>
                </svg>
            </div>
            </div>
        </div>
    </div>
    
  </div>
</template>

<script>
  export default {

  }
</script>

<style scoped lang="scss">

</style>


