<template>
  <div id="showroom">
    <div id="main-container">
      <div id="view-container" class="patternbg">
        <div class="view scrollable" ref="view">
          <div id="template-container" class="template-container wolf">
            <div id="wolf-page" class="page in-margins full" style="width: calc(100% + 5px);">
              <div class="page-wrapper">
                <section id="project-description-container" class="topcontainer">
                  <div class="project-description-wrapper row clearfix">
                    <div class="project-description clearfix col-4 col-xs-12">
                        <h2 class="inner-title">WELCOME TO THE<br>NEIGHBOURHOOD</h2>
                    </div>
                    <div class="col-8 col-xs-12 xs-margin project-description">
                      <h3>As part of the Lash compliment of homes at Markham and Ellesmere, living at Tricycle is
                        everything you could want from an urban community and more.</h3>
                    </div>              
                  </div>
                <br><br><br>
                </section>
                <section id="project-description-container">
                  <div class="project-description-wrapper row clearfix">
                    <slick ref="slick" :options="slickOptions" @beforeChange="handleBeforeChange" @afterChange="handleAfterChange" id="neighbourhoodslider">
                      <div class="project-description-image-wrapper col-12 col-xs-12 xs-margin" v-for="(slide,i) in slides" :key="i">
                        <img class="project-description-image" :src='"@/assets/img/neighbourhood/neighbourhood-slider"+(i+1)+".png"' alt="">
                        <div class="textwrapper animated col-5" :class="'wrapper'+(i+1)" >
                          <h4>{{slide.title}}</h4>
                          <p>{{slide.description}}</p>
                        </div>
                      </div>
                    </slick>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slick from 'vue-slick';
  export default {
    components: { Slick },
    data() {
      return {
        slides:[
          {title: 'Playing in the park_', description: 'The area around Markham and Ellesmere is filled with green space and other activities to keep you busy. The area has an exceptional network of parklands and trails including Confederation Park. With an off-leash dog park, places to play soccer tennis baseball, and basketball, and not to mention the Scarboro Figure Skating Club, this park has everything for the outdoorsy family. '},
          {title: 'Getting around Markham and Ellesmere_', description: 'If you want it, it’s nearby. The great part about living here is that the whole GTA is at your door step. Jump in your car and you’re basically already on the 401 which can take you quickly east and west of the city. If you want to head downtown, just take the Don Valley Parkway, which is just a quick drive away, and you’ll be in the downtown core in no time. If you prefer to take transit, there are TTC stop everywhere that can take you anywhere. And the GO Train System is close too for those longer distance trips. It’s hard to imagine having better access than you do here.'},
          {title: 'EDUCATION_', description: 'If you’re interested in higher learning, University of Toronto Scarborough Campus and Centennial College are both around the corner, and younger families can trust that they will have their choice of some of the best primary and secondary schools all within walking distance.'},
          {title: 'Grab a bite_', description: 'The area around Markham and Ellesmere is filled with green space and other activities to keep you busy. The area has an exceptional network of parklands and trails including Confederation Park. With an off-leash dog park, places to play soccer tennis baseball, and basketball, and not to mention the Scarboro Figure Skating Club, this park has everything for the outdoorsy family. '},
          {title: 'Day tripping_', description: 'When your fridge is empty you don’t need to worry. This neighbourhood can feel you no matter what you’re craving. You can enjoy a quick pick me ups at Tim Horton’s. There’s also the local gem The Sizzling Skillet which features great food to enjoy with family and friends. With a breakfast menu that’s as good as the dinner, you’ll be back here time and again. If you’ve got reason to celebrate, you’ll be happy heading to The Keg nearby. Needless to say, there are restaurants for every occasion and every taste.'}
        ],
        slickOptions: {
          slidesToShow: 1,
          infinite: false,
          accessibility: true,
          adaptiveHeight: false,
          arrows: true,
          dots: true,
          draggable: true,
          edgeFriction: 0.30,
          swipe: true,
        },
      };
    },
    mounted(){
      setTimeout(() => {
        $('.textwrapper.wrapper1').addClass('fadeIn');
      }, 750);
    },
    methods:{
      handleBeforeChange(event, slick, currentSlide, nextSlide) {
        $('#neighbourhoodslider .slick-slide.slick-active .textwrapper').removeClass('fadeIn');
      },
      handleAfterChange(event, slick, currentSlide) {
        $('#neighbourhoodslider .slick-slide.slick-active .textwrapper').addClass('fadeIn');
      },
    }
  }
</script>

<style lang="scss">

  /* .project-description-image {
    width: 100% !important;
    height: auto;
    margin: 0 auto;
  }*/
  .topcontainer .project-description-wrapper{
    display: flex;
    align-items: center;
  }

.slick-dots {
    width: 11% !important;
    right: 60px !important;
    float: right !important;
    bottom: -29px !important;
    li {
      width: 28px !important;
      height: 30px !important;
      margin: 0 3px !important;

      button{
        width: inherit !important;
        height: inherit !important;
        &:before {
          font-size: 22px !important;
          width: 30px !important;
          height: 30px !important;
          line-height: 30px !important;
          color: #231f20 !important;;
          opacity: 1 !important;;
        }
      }
      &.slick-active button:before {
        opacity: 1 !important;
        color: #d8262f !important;
      }
    }
}
.slick-next, .slick-prev{
bottom: -40px !important;
    width: 28px !important;
    height: 28px !important;
    top: initial !important;
    &:before{
    content: '' !important;
  }

}
.slick-next{
  right: 36px !important;
    background: url('../assets/img/slick-next.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
    &:hover{
    background: url('../assets/img/slick-next.png') !important;
      background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
  }
}
.slick-prev{
  right: 248px !important;
  left: initial !important;
  background: url('../assets/img/slick-prev.png') !important;
  background-repeat: no-repeat !important;
    background-position: center !important;
  background-size: 100% !important;
    &:hover{
  background: url('../assets/img/slick-prev.png') !important;
    background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
  }

}
.textwrapper{
  opacity: 0;
  padding-right: 15px;
  position: absolute;
  bottom: 0px;
  h4{
    font-weight: bold;
    font-size: 33pt;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &.wrapper2{
    right: 0px;
    padding-left: 15px;
    padding-right: 0px;
    h4{
      font-size: 29pt;
    }
  }
  &.wrapper3{
    padding-right: 15px;
    padding-left: 0px;
    width: 30%;
    h4{
      font-size: 29pt;
    }
  }
  &.wrapper4{
    padding-right: 15px;
    padding-left: 0px;
    right: 48%;
    bottom: 25px;
    width: 29%;
    h4{
      font-size: 29pt;
    }
  }
  &.wrapper5{
    padding-right: 15px;
    padding-left: 0px;
    right: 29%;
    bottom: 67px;
    width: 38%;
    h4{
      font-size: 29pt;
    }
  }
}
</style>