.noselect {
    user-select: none;
  }
  %absolutely-centered{
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    position: absolute;
  }
  %display-flex{
    display: flex;
  }
  
  .is-shown{
    display: block;
  }
  .is-hidden{
    display: none;
  }
  .is-visible{
    visibility: visible;
    opacity:1;
  }
  .is-invisible{
    visibility: hidden;
    opacity:0;
  }
  
  %pseudo-clear{
    content:'';
    width:0px;
    height:0px;
    clear:both;
    display: block;
  }
  .clear{
    width:0px;
    height:0px;
    clear:both;
    display: block;
  }
  .clearfix{
    &:before,
    &:after{
      content:'';
      clear:both;
      display: block;
    }
  }
  .center-block{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
  }
  
  .overridden-button{
    appearance: none;
    background: transparent;
    box-shadow: none;
    border: 0;
    outline:none;
    box-sizing: content-box;
    padding: 0;
    font-size: inherit;
    display: block;
    cursor:pointer;
    &:focus{
      outline: none;
    }
  }
  
  .nav-button{
    @extend .overridden-button;
    text-transform: uppercase;
    color:$black;
    fill:$brand-golden;
    text-align: center;
    border:2px solid $black;
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
    @include border-radius(3px);
    //background-repeat:no-repeat;
    //background-size:auto 1em;
    transition:background $button-transition-time ease, color $button-transition-time ease;
    &.btn-red{
      border-color: $red;
      @include border-radius(0px);
      color: #fff;
      &::before{
        background-color: $red;

      }
    }
    html.no-touch &:hover{
      color:white;
      &:before{
        background:$brand-golden;
        transition:background $button-transition-time ease;
      }
      .arrow-icon{
        fill:white;
      }
    }
  
    &::before{
      display: block;
      content:'';
      box-sizing: border-box;
      right:em(5);left:em(5);
      top:em(5);bottom:em(5);
      position: absolute;
      // border:1px solid $brand-green;
      border:2px solid $brand-golden;
      background: #fff;
      z-index: -1;
    }
  
    html.ka &{
      font-family: DejavuSansM;
    }
    .arrow-icon{
      display: block;
      position: absolute;
      top:0;
      bottom:0;
      height:.9em;
      width:.48em;
      transition:transform $button-transition-time ease, fill $button-transition-time ease;
      margin:auto 0;
      z-index: 0;
    }
    &.prev{
      .arrow-icon{
        left:10%;
      }
      html.no-touch &:hover .arrow-icon{
        transform:translateX(-50%);
      }
    }
    &.next{
      .arrow-icon{
        right:90%;
      }
      html.no-touch &:hover .arrow-icon{
        transform:translateX(50%);
      }
    }
  }
  
  .arrow{
    @extend .overridden-button;
    fill:currentColor;
    transition:opacity .2s ease 0s;
  
    &.disabled{
      opacity:.5;
    }
  }
  .dragdealer{
    display: block;
    @extend .noselect;
  }
  .vertical-title{
    position: absolute;
    top: 0;
    bottom: 0;
    width:em(15); //Half of height + 5px offset
    height:em(18);
    white-space: nowrap;
    margin:auto;
  
    p{
      position: absolute;
      transform: translate3d(-50%,0,0) rotate(-90deg);
    }
  
    &.left{
      transform:translate3d(-100%,0,0);
      left: 0;
      //p{
      //  margin-left: -1em;
      //}
    }
    &.right{
      transform:translate3d(100%,0,0);
      right:0;
      p{
        margin-left: 1em;
      }
    }
  
  }
  .number{
    font-family:Neuton;
    font-style: italic;
  }
  
  
  .underline-link{
    position: relative;
    display: inline-block !important;
    width: auto !important;
    html.no-touch &:hover:after{
      transform: scaleX(1) translate3d(0,0,0);
    }
    &::after{
      display: block;
      content:'';
      backface-visibility: hidden;
      width:100%;
      position: absolute;
      height:1px;
      background-color: currentColor;
      transform:scaleX(0) translate3d(0,0,0);
      transition:transform .3s ease;
      left:0;right:0;
      bottom:em(-2);
    }
  }
  
  .page-title{
    float:right !important;
    color:$brand-golden;
    margin-bottom:em(50);
    display:table;
  
    span{
      padding-left:em(25,26);
      display:table-cell;
      white-space: nowrap;
      html.ka &{
        font-family: BPGGini;
        font-size:em(26);
      }
      html &{
        
        font-size:em(30);
        font-style: italic;
      }
    }
    .line{
      display: table-cell;
      vertical-align:middle;
      width:100%;
      position: relative;
  
      &::before{
        content:'';
        background-color: $brand-golden;
        height:1px;
        top:50%;
        left:0;
        position:absolute;
        width:100%;
      }
    }
  
  }
  
  #floor-plan.small{
    // display: none;
    svg{
      position: absolute;
    bottom: 0;
      width: 200px;
      margin: 0 auto;
      .current{
        fill: rgba(149, 138, 138, 0.8) !important;
      }
      .not-current{
        fill: none !important;
      }
    }
  }
  #floor-plan{
    display: block;
    // position:relative;
    @extend .noselect;
  
    &.small svg .flat-group{
      text{
        display: none;
        &:last-child{
          display: block;
        }
      }
    }

    svg{
      display: none;
      &.active{
        display: block;
      }
      .flat-group{
        opacity:1;
        cursor:pointer;
        transition:opacity .3s ease;
        fill:rgba($brand-green,.8);
        &.sold{
          opacity:1;
          cursor:default;
          fill:rgba($red,.8);
        }
        text{
          font-family:MissionGothic;
          font-weight: bold;
          fill:white;
  
          &:last-child{
            display: none;
          }
        }
        &:hover{
          opacity:1;
        }
      }
    }
  }
  
  .lari{
    
    font-weight: 800;
  }
  
  .animating{
    backface-visibility:hidden;
    transform:translate3d(0,0,0);
  }
  
  
  
  $list-space: (
      xs: 20,
      sm: 40,
      md: 80,
      lg: 100,
      xl: 150,
      xxl: 200,
  );
  
  
  
  @each $key, $value in $list-space {
  
    .inner-margin-top-#{$key}{
      margin-top: em($value);
    }
  
  }
  
  
  
  
  /*Inner Pages font-sizes*/
  .inner-title{
    color:$red;
    ~ .inner-text{
      font-family: Lobster1-4;
    }
    html &{
      
      font-weight: 800;
      text-transform: uppercase;
      font-size: em(90);
      letter-spacing: letterSpacing(5,86);
    }
    html.ka &{
      line-height: 1.2;
      font-family: DejavuSansM;
      font-weight: bold;
      font-size: em(90);
      letter-spacing: letterSpacing(5,90);
    }
  }
  
  .inner-title-small{
    color:$brand-red;
    line-height: 1.2;
  
    html &{
      
      font-weight: 800;
      font-size: em(54);
    }
  
    html.ka &{
      font-family: DejavuSansM;
      font-weight: bold;
      font-size: em(36);
    }
  
  }
  
  
  .inner-caption{
    color:$brand-golden;
  
    html &{
      
      font-size: em(32);
      line-height: 1.2;
      font-style: italic;
    }
  
    html.ka &{
      font-family: BPGGini;
      font-size: em(28);
      line-height: 1.2;
    }
  
  }
  
  .inner-quotes{
    color:$brand-golden;
  
    html &{
      
      font-size: em(30);
      line-height: 1.2;
      font-style: italic;
    }
  
    html.ka &{
      font-family: BPGGini;
      font-size: em(26);
      line-height: 1.2;
    }
  
  
  }
  
  .inner-text{
    color:$black;
  
    html.ka &{
      font-family: DejavuSansCondensed;
      font-size:em(20);
      line-height:em(22);
    }
    html &{
      font-weight: 200;
      // font-size:em(19);
      line-height:em(26);
    }
  }
  
  .inner-link{
    color:$brand-red;
    
    font-size: em(26);
    font-style: italic;
  }
  
  
  .inner-left{
    float:left !important;;
  }
  
  .inner-right{
    float:right !important;
  }
  
  
  #project-description-container{
  
    .project-description-wrapper{
      position: relative;
  
  
      .project-description{
  
        h2{
          transform: translateY(100%);
          opacity: 0;
          transition: transform $view-animation-time $inner-page-easing $view-animation-time*0.1, opacity $view-animation-time $view-animation-time*0.1;
        }
        p{
          transform: translateY(100%);
          opacity: 0;
          transition: transform $view-animation-time $inner-page-easing $view-animation-time*0.15, opacity $view-animation-time $view-animation-time*0.15;
        }
  
        a{
          opacity: 0;
          transition: transform $view-animation-time $inner-page-easing $view-animation-time*0.2, opacity $view-animation-time $view-animation-time*0.2;
        }
  
        h3{
          transform: translateY(100%);
          opacity: 0;
          transition: transform $view-animation-time $inner-page-easing $view-animation-time*0.1, opacity $view-animation-time $view-animation-time*0.1;
        }
  
      }
  
      .project-description-image-wrapper:not(.no-mask){
        // line-height: 0;
        position: relative;
  
        img{
          width:100%;
          display: block;
          line-height: 0;
          opacity:0;
          clip-path: polygon(0 0%, 0% 0%, 0% 100%, 0% 100%);
        }
  
      }
  
      .no-mask{
        line-height: 0;
        position: relative;
        opacity: 0;
        transition: opacity $view-animation-time $view-animation-time*0.1;
  
        img{
          width:100%;
          display: block;
          line-height: 0;
        }
  
      }
  
  
      /*Section location*/
      &.location{
  
        .project-description{
          padding:0 5%;
          text-align: center;
  
          p.caption{
            position: relative;
  
            &::before {
              content: "“";
              position: absolute;
              left:-20px;
              top:0;
              font-size:em(57);
              transform: translateY(-70%);
  
            }
  
            &::after {
              content: ",,";
              position: absolute;
              right:-20px;
              bottom:0;
              font-size:em(57);
              transform: translateY(50%);
            }
  
          }
  
        }
      }
  
  
      .view.active &:nth-of-type(1),
      .view.active &.active,
      .view.active &.scrolled {
  
        .project-description{
  
          h3,h2,p,a{
            transform: translateY(0px);
            opacity: 1;
          }
  
        }
  
        .project-description-image-wrapper:not(.no-mask){
  
          img{
            animation: maskFromLeft $view-animation-time*1 $inner-page-easing $view-animation-time*.5 forwards;
          }
  
        }
  
        .no-mask{
          opacity: 1;
        }
  
      }
  
    }
  
    .on-scroll-fadein{
      opacity: 0;
      transition: opacity $view-animation-time $view-animation-time*0.1;
  
      &.active,
      &.scrolled{
        opacity: 1;
      }
  
  
    }
  
  }
  
  .min-width{
    min-width: $min-width;
  }
  
  .hidden-lg{
    display: none;
  }