@mixin background-position($x,$y){
    background-position:$x $y;
    -ms-background-position-x: $x;
    -ms-background-position-y: $y;
  }
  @mixin font-face($font-family, $font-weight, $font-style) {
      $filepath: "./assets/fonts/";
      $font-name: $font-family;
  
      @if($font-weight != normal) {
        $font-name : $font-name + capitalize($font-weight);
      }
      @if($font-style != normal) {
        $font-name : $font-name + capitalize($font-style);
      }
  
      $filepath : $filepath + $font-name;
  
      @font-face {
          font-family: "#{$font-family}";
          src: url($filepath + ".eot");
          src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf") format('truetype'), url($filepath + ".svg#" + $font-name) format('svg');
          font-weight:$font-weight;
          font-style:$font-style;
      }
  }

@mixin transform($transforms) {
    -moz-transform: $transforms;
      -o-transform: $transforms;
     -ms-transform: $transforms;
 -webkit-transform: $transforms;
       transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition: $transition;
      -o-transition: $transition;
     -ms-transition: $transition;
 -webkit-transition: $transition;
 transition: $transition;
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
      -o-border-radius: $radius;
     -ms-border-radius: $radius;
 -webkit-border-radius: $radius;
       border-radius: $radius;
}

@mixin backgroundclip($backgroundclip) {
    -moz-background-clip: $backgroundclip;
      -o-background-clip: $backgroundclip;
     -ms-background-clip: $backgroundclip;
 -webkit-background-clip: $backgroundclip;
       background-clip: $backgroundclip;
}

@mixin transition-delay($transition-delay) {
    -moz-transition-delay: $transition-delay;
      -o-transition-delay: $transition-delay;
     -ms-transition-delay: $transition-delay;
 -webkit-transition-delay: $transition-delay;
 transition-delay: $transition-delay;
}

@mixin animation($animation){
    animation: $animation;
    -o-animation: $animation;
    -ms-animation: $animation;
    -webkit-animation: $animation;
    -moz-animation: $animation;

}

@mixin box-shadow($boxshadow){
    box-shadow: $boxshadow;
    -o-box-shadow: $boxshadow;
    -ms-box-shadow: $boxshadow;
    -webkit-box-shadow: $boxshadow;
    -moz-box-shadow: $boxshadow;

}