//Colors Used
$red: #d8262f;
$black: #231f20;

// $brand-golden: #A28C6D;
$brand-golden: #fff;
$brand-green: #60bb82;
$brand-red: #000;
$website-text-color: #FFFFFF;
$website-gray-1000:#363F49;
$website-gray-800:#505D68;
$website-gray-400:#677C7B;
$website-blue:#385663;
$light-green : #677C7B;
$floor-selector-color:rgba($brand-green,.85);
$min-width:320px;
$gridline-color: rgba(162,140,109,.2);  //Needed because grid is drawn as .1 px but the browser cannot render it correctly

$scrollbar-width:5px;

//Body fadein animation
$body-fadein-time: .2s;
$timing-function:ease;

//Loading animation
$loading-animation-initial-opacity:.3;
$loading-animation-time:2.5s;
$loading-animation-delay:0s;
$logo-children:6;

//Homepage animation Timings
//$background-animation-time:2.3s;
$header-animation-time:.5s;
$logo-animation-time:$header-animation-time*.7;
$floor-selector-green-border-size:18;

$button-transition-time:.3s;

//Grid
$grid-width:15.4%;
$grid-margin-width:3.8%;
$grid-background-animation-time:.6s;

//VIEWS
$view-animation-time:1s;
$view-anim-timing-function:ease-out;
//$background-animation-time:$view-animation-time;
$background-animation-time:0s;
$background-animation-delay:$view-animation-time+$grid-background-animation-time*.8 + .1s;

//Menu animations
$menu-animation-time:$header-animation-time*.4;
$menu-icon-transform-time:1.2s;
$menu-icon-transform-delay:$view-animation-time*.8;
$menu-icon-transform-func:ease-out;

//Inner page Easing
// $inner-page-easing:cubic-bezier(0.19, 1, 0.22, 1);
$inner-page-easing: cubic-bezier(.4, .2, .2, 1);

//Font Sizes


/*Breakpoints*/

$breakpoint-md : 1200px;
$breakpoint-sm : 992px;
$breakpoint-xs : 750px;
$breakpoint-xxs : 450px;