<template>
  <div class="filternav" v-if="isModel" v-bind:class="{active :isActiveFilter}">
    <div class="menu" @click="filterToggle">
        <div class="burger" v-bind:class="{active :isActiveFilter}">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="filtersection">
    </div>
  </div>
</template>

<script>
  export default {
    props: ['isModel'],
    data() {
      return {
        isActiveFilter: false
      }
    },
    methods: {
      filterToggle: function () {
        this.isActiveFilter = !this.isActiveFilter
      }
    },
  }
</script>

<style scoped lang="scss">

</style>