<template>
  <div>
    <div class="filternav" v-if="isModels" v-bind:class="{active :isActiveFilter}">
      <!-- <div class="menu" @click="filterToggle">
        <div class="burger" v-bind:class="{active :isActiveFilter}">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div> -->
      <div class="filtersection">
         <div>Suite Types</div>
        <div class="checkboxes">
          <label v-for="(modeltype,index) in modeltypes" :key="index"><input class="form-check-input" type="radio" v-model="selectedType" name="producttype" :value="modeltype.value"/><span>{{ modeltype.value }}</span></label>
        </div>
      </div>
    </div>
    <div id="main-container">
      <div id="view-container">
        <div class="view scrollable" ref="view">
          <div id="template-container" class="template-container apartment">
            <div id="apartment" class="page in-margins" style="width: 100%;">
              <div class="table apartment-table md-margin-sm" id="apartment-table">
                <div class="table-row" id="table-row">
                  <div id="cell-3" class="cell cell-1">
                    <div id="table-3" class="cell-table">
                      <div class="table-row">
                        <div class="cell top in-grid-margins">
                          <div id="apartment-info-floor-selector-container">
                            <h2>{{getModelDetails.name}}</h2>
                            <h3> {{getModelDetails.sqft}} <abbr title="Square Meter">sq.ft.</abbr></h3>
                            <h4> {{getModelDetails.type}}</h4>
                            <div v-if="$refs.floorSelector" style="margin-top: 35px;font-size: 21px">Floors Available: <b>{{floorLength}}</b></div>
<div id="floor">
                                                <div id="compass-image-wrapper" class="in-grid-margins-sub">
                    <img id="compass-image" src="@/assets/img/compass.svg" alt="Compass">
                  </div>
</div>
                            <div class="custom-select" id="same-type-on-other-floor-selector">
                              <select  ref="floorSelector" @change="detectFloor($event.target.selectedIndex)" v-if="getModelDetails" class="">
                                <option value="1" v-if="itemsContains(1)">1st floor</option>
                                <option value="2-6" v-if="itemsContains(2)">2nd - 6th floor</option>
                                <option value="7" v-if="itemsContains(7)">7th floor</option>
                                <option value="8-12" v-if="itemsContains(8)">8th - 12th floor</option>
                                <option value="13" v-if="itemsContains(13)">13th floor</option>
                                <option value="14" v-if="itemsContains(14)">14th floor</option>
                                <!-- <option v-for="(floor, index) in sortby(getModelsPerFloor)" :key="index" :value="floor">{{floor | floorFormat }} Floor</option> -->
                              </select>
                            </div>
                            <br><br>
                            <div style="font-size: 21px">360˚ Views</div>
                            <ul class="viewsbtns">
                              <li @click="Modal('DJI_0005')" v-if="selectedFloor == '2nd - 6th floor' || selectedFloor == '1st floor'">FLOOR 1-3</li>
                              <li @click="Modal('DJI_0011')" v-if="selectedFloor == '2nd - 6th floor'">FLOOR 4-6</li>
                              <li @click="Modal('DJI_0017')" v-if="selectedFloor == '7th floor' || selectedFloor == '8th - 12th floor'">FLOOR 7-9</li>
                              <li @click="Modal('DJI_0022')" v-if="selectedFloor == '8th - 12th floor'">FLOOR 10-12</li>
                              <li @click="Modal('DJI_0028')" v-if="selectedFloor == '13th floor' || selectedFloor == '14th floor'">FLOOR 13-14</li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="table-row hidden-md hidden-xs">
                        <div class="cell bottom  in-grid-margins">
                          <div class="floor-plan-wrapper">
                            <!-- <h3 class="floor-title text-center">{{selectedFloor}}</h3> -->
                            
                            <floorplan-keyplate :fpClass="getClass" :fpFloor="getFloorChild" :fpModel="$route.params.id"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="cell-2" class="cell cell-4">
                    <div id="table-2" class="cell-table">
                      <div id="image-row" class="table-row">
                        <div id="image-cell" class="cell middle" style="position:relative;">
                          
                          <img id="apartment-image" src="@/assets/img/model-plans/3b-opt.svg" alt="Plan of Apartment" v-if="selectedFloor === '1st floor' && getModelDetails.name === '3B'">
                          <img id="apartment-image" src="@/assets/img/model-plans/2c+d-opt.svg" alt="Plan of Apartment" v-else-if="selectedFloor === '1st floor' && getModelDetails.name === '2C+D'">
                          <img id="apartment-image" src="@/assets/img/model-plans/1c+d-opt.svg" alt="Plan of Apartment" v-else-if="selectedFloor === '1st floor' && getModelDetails.name === 'C+D'">
                          <img id="apartment-image" :src='"@/assets/img/model-plans/"+(getModelDetails.name).toLowerCase()+".svg"' alt="Plan of Apartment" v-else-if="getModelDetails.name">

                          </div>
                      </div>
                      <div class="table-row" id="type-switchers-wrapper-row">
                        <div class="cell bottom" id="type-switchers-wrapper-cell">
                          <div id="type-switchers-wrapper">
                            <div style="text-align:center;margin-bottom: 5px"> {{modelposition}} / {{modeltype.length}} </div>
                            <button @click="goToType(-1)" class="type-switcher prev overridden-button">
                              <i class="material-icons arrow-icon">chevron_left</i>
                              Previous model
                            </button>
                            <button @click="goToType(1)" class="type-switcher next overridden-button">
                              Next model
                              <i class="material-icons arrow-icon">chevron_right</i>
                            </button>
                            <p class="clear"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div ref="modal" id="modal" class="animated">
        <div class="modalcontainer">
          <vue-plyr v-if="videoURL == 'DJI_0005'" :options="options">
  <video src="@/assets/vids/DJI_0005.mp4">
    <source src="@/assets/vids/DJI_0005.mp4" type="video/mp4" size="1920">
  </video>
</vue-plyr>
          <vue-plyr v-if="videoURL == 'DJI_0011'">
  <video src="@/assets/vids/DJI_0011.mp4">
    <source src="@/assets/vids/DJI_0011.mp4" type="video/mp4" size="1920">
  </video>
</vue-plyr>
          <vue-plyr v-if="videoURL == 'DJI_0017'">
  <video src="@/assets/vids/DJI_0017.mp4">
    <source src="@/assets/vids/DJI_0017.mp4" type="video/mp4" size="1920">
  </video>
</vue-plyr>
          <vue-plyr v-if="videoURL == 'DJI_0022'">
  <video src="@/assets/vids/DJI_0022.mp4">
    <source src="@/assets/vids/DJI_0022.mp4" type="video/mp4" size="1920">
  </video>
</vue-plyr>
          <vue-plyr v-if="videoURL == 'DJI_0028'">
  <video src="@/assets/vids/DJI_0028.mp4">
    <source src="@/assets/vids/DJI_0028.mp4" type="video/mp4" size="1920">
  </video>
</vue-plyr>
            <i class="material-icons close" @click="closeModal()">close</i>
        </div>
    </div>
  </div>
</template>
<script>
  import FloorPlanKeyplate from '@/components/Floor/FloorPlanKeyplate'
  import {mapGetters,mapActions,mapState} from "vuex";
  export default {
    data() {
      return {
        getClass: 'small',
        getFloorChild: '',
        selectedFloor: null,
        isActiveFilter: true,
        isModels: true,
        selectedType: '',
        modeltypes: [
          {value: '1 BEDROOM + DEN'},
          {value: '2 BEDROOM'},
          {value: '2 BEDROOM + DEN'},
          {value: '3 BEDROOM'},
          {value: '3 BEDROOM + DEN'},
        ],
        modeltype:[],
        modelposition: 1,
        activeUsers: '',
        floorAvailable: true,
        kenneth: true,
        floorLength: '',
        videoURL: '',
        options:{
          fullscreen: false
        }
      }
    },
    components: {
      'floorplan-keyplate': FloorPlanKeyplate
    },
    watch: {
      '$route': {
        handler: 'onUrlChange',
        immediate: true,
        deep: true
      },
      'selectedType'(){
        this.filterModels()
      },
      '$refs.floorSelector'(){
      }
    },
    mounted() {
      setTimeout(() => {
        this.selectedType = this.getModelDetails.type;
      }, 750);
    },
    computed: {
      ...mapGetters(["getModelDetails", "getModelsPerFloor"]),

    },
    methods: {
      ...mapActions(["fetchModelDetails", "fetchModelsPerFloor", "fetchFloor"]),
              Modal(i) {
            this.$refs.modal.classList.add('fadeIn', 'open');
            this.videoURL = i;
        },
        closeModal() {
            this.$refs.modal.classList.remove('fadeIn', 'open');
        },
      sortby(arr) {
        return arr.slice().sort(function (a, b) {
          return a - b;
        });
      },
      itemsContains(n) {
        n = n.toString();
        if(this.$store.state.modelDetails.floors == undefined){
          return false
        }else{
          return this.$store.state.modelDetails.floors.includes(n)
          var value = this.$refs.floorSelector[0].value;
          this.selectedFloor = this.$refs.floorSelector[0].text
          
        }
      },
      detectFloor(selectedIndex) {
        var value = this.$refs.floorSelector[selectedIndex].value;
        if(value == '2-6'){
          this.getFloorChild = 2
        } else if(value == '8-12'){
          this.getFloorChild = 8
        }else{
          this.getFloorChild = value
        }
        this.selectedFloor = this.$refs.floorSelector[selectedIndex].text;
        
      },
      goToType(direction){
        var currentIndex = this.modeltype.indexOf(''+this.$route.params.id)
        var nextIndex = this.modeltype;
        
        if(direction == -1){
          if(currentIndex != 0){
            this.$router.push('/model/'+nextIndex[currentIndex-1])
            this.modelposition--;
          }
        }else{
          if(currentIndex < this.modeltype.length-1){
            this.$router.push('/model/'+nextIndex[currentIndex+1])
            this.modelposition++;
          }  
        }
      },
      filterToggle() {
        this.isActiveFilter = !this.isActiveFilter
      },
      onUrlChange() {
        var id = this.$route.params.id
        var vm = this;
        this.fetchModelDetails(id);
        this.fetchModelsPerFloor(id)
        if(this.$refs){
          $("#same-type-on-other-floor-selector").prop("selectedIndex", 0);
          setTimeout(() => {
            var value = this.$refs.floorSelector[0].value;
            this.selectedFloor = this.$refs.floorSelector[0].text;
            this.floorLength = this.$refs.floorSelector.length;
            switch(value){
              case '1':  this.getFloorChild = 1
                break;
              case '2-6':  this.getFloorChild = 2
                break;
              case '7':  this.getFloorChild = 7
                break;
              case '8-12':  this.getFloorChild = 8
                break;
              case '13':  this.getFloorChild = 13
                break;
              case '14':  this.getFloorChild = 14
                break;
              }
            if($("#same-type-on-other-floor-selector option").length == 1){
                $('#same-type-on-other-floor-selector').addClass('singlechild')
            }else{
              $('#same-type-on-other-floor-selector').removeClass('singlechild')
            }
          }, 600);
        }
      },
      filterModels() {
        this.modeltype = [];
        var t = this.$store.state.models;
        var nextblog;
        for(var i=0; i<Object.keys(t).length;i++){
          if (Object.values(t)[i].type == this.selectedType){
            nextblog = Object.keys(t)[i];
            this.modeltype.push(nextblog)
          }
        }
        this.modelposition = this.modeltype.indexOf(''+this.$route.params.id)+1;
        if(this.modelposition == 0){
          this.modelposition =1;
          this.$router.push('/model/'+this.modeltype[0])
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .filtersection .checkboxes {
    label {
      span {
        margin: 10px auto;
        padding: 10px;
        display: block;
        border: 2px solid #000;
        white-space: nowrap;
        text-align: left;
      }
    }

    input {
      vertical-align: middle;
      visibility: hidden;
      display: none;
      z-index: -9;
    }

    input[type=radio]:checked~span {
      background-color: #000;
      font-style: normal;
    }
  }
  #floor-plan{
    svg{
      .flat-group{
        &.current{
          fill: grey !important;
        }
        &.not-current{
          fill: none !important;
        }
      }
    }
  }
 
 #compass-image-wrapper{
       left: 21%;
    bottom: 0%;
    position: absolute;
    right: inherit;
    img{
      width: 80%;
    }
 }


</style>