<template>
<div id="modeloverview">
  <div class="filternav" v-if="isModels" v-bind:class="{active :isActiveFilter}">
    <!-- <div class="menu" @click="filterToggle">
        <div class="burger" v-bind:class="{active :isActiveFilter}">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div> -->
    <div class="filtersection">
      <p>Suite Types</p>
        <div class="checkboxes">
          <label v-for="(stack,index) in stacks" :key="index"><input class="form-check-input" type="checkbox"  v-model="stack.checked" @change="getfilteredData" /> <span>{{ stack.value }}</span></label>
        </div>
    </div>

  </div>
  <div id="main-container">
    <div id="view-container">
      <div class="view scrollable" ref="view">
        <div id="template-container" class="template-container types">
          <div id="types" class="page in-margins" style="width: 100%;" ref="types">
            <div class="page-wrapper row">
              <router-link v-for="(model, key) in filteredData" :key="key" class="type row col-4 col-md-6 col-xs-12"
                :class="'type-'+(key+1)" :to="'/model/'+model.name | lowercase" v-if="models">
                <div class="flat-plan-image-wrapper">
                  <div class="flat-image">
                    <img :src='"@/assets/img/model-plans/"+(model.name).toLowerCase()+".svg"' v-if="model.name"/>
                  </div>

                </div>
                <div class="flat-type-info in-grid-margins-sub">
                  <div class="flat-type-info-wrapper">
                    <h2 class="type-title underline-link">{{model.name | uppercase}}</h2>
                    <p class="flat-area">{{model.sqft}} <span>SQ.FT.</span></p>
                    <p class="flat-type"><span>{{model.type | uppercase}}</span></p>
                  </div>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
  export default {
    data() {
      return {
        isActiveFilter: true,
        isModels: true,
        filteredData: [],
        // selectedType: '',
        stacks: [
          {checked: false,value: '1 BEDROOM + DEN'},
          {checked: false,value: '2 BEDROOM'},
          {checked: false,value: '2 BEDROOM + DEN'},
          {checked: false,value: '3 BEDROOM'},
          {checked: false,value: '3 BEDROOM + DEN'},
        ]
      }
    },
    computed: {
      ...mapState(["models"]),
      selectedFilters() {
        this.filteredData = this.$store.state.models
        let filters = [];
        checkedFilters = [];
        let checkedFilters = this.stacks.filter(obj => obj.checked);
        checkedFilters.forEach(element => {
          filters.push(element.value);
        });
        return filters;
      }

    },
    watch: {
      '$route'(id) {
        this.checkNavigation()
      },
      // 'selectedType': function(){
      //   this.filterModels()
      // }
    },
    mounted(){
      this.getfilteredData();
            setTimeout(() => {
        this.selectedType = this.$store.state.models;
                if(this.$refs.types)
          this.$refs.types.classList.add('active');
      }, 650);
    },
    created(){
      this.checkNavigation()
    },
    methods: {
      checkNavigation() {
        this.$route.name == 'ModelOverview' ? this.isModels=true : this.isModels=false
      },
      filterToggle() {
        this.isActiveFilter = !this.isActiveFilter
      },
      getfilteredData() {
        this.filteredData = this.$store.state.models;
        let filteredDataByfilters = [];
        if (this.selectedFilters.length > 0) {
          Object.values(this.filteredData).filter(obj => this.selectedFilters.forEach(val => {
            if(obj.type == val){
              filteredDataByfilters.push(obj)
            }
          }));
          this.filteredData = Object.values(filteredDataByfilters);
        }else{
           setTimeout(() => {
              this.filteredData = Object.values(this.$store.state.models);
           }, 500);
        }
      }
      //       filterModels: function(){
      //   this.modeltype = [];
      //   var t = this.$store.state.models;
      //   this.filteredData = t;
      //   var nextblog;
      //   console.log('trogger');
      //   // for(var i=0; i<Object.keys(t).length;i++){
      //   //   // if (Object.values(t)[i].type == this.selectedType){
      //   //     console.log(Object.values(t)[i].type);
      //   //     // nextblog = Object.keys(t)[i];
      //   //     // console.log('trigger');
      //   //   // }
      //   // }

      // }
    }
  }
</script>

<style scoped lang="scss">
.filtersection .checkboxes {
  label {
    span {
      margin: 10px auto;
      padding: 10px;
      display: block;
      border: 2px solid #000;
      white-space: nowrap;
      text-align: left;
    }
  }
  input {
    vertical-align: middle;
    visibility: hidden;
    display: none;
    z-index: -9;
  }
  input[type=checkbox]:checked ~ span {
    background-color: #000;
    font-style: normal;
  } 
}
</style>
