<template>

    <div>
      <!-- <model-filter :isModel="isModels"/> -->
    <app-header id="appheader"/>    
    <router-view />
        </div>
</template>

<script>
import AppHeader from '@/components/AppHeader'
import ModelFilter from '@/components/Models/ModelFilter'
  export default {
    name: 'App',
    components:{
      'app-header': AppHeader,
      'model-filter' : ModelFilter
    },
    data() {
      return {
        isModels: true
      }
    },
    watch: {
      '$route': function (id) {
        this.checkNavigation()
      }
    },
    created: function(){
      this.checkNavigation()
    },
    methods: {
      checkNavigation: function () {
        this.$route.name == 'ModelOverview' ? this.isModels=true : this.isModels=false
      }
    }
  }
</script>
<style lang="scss">
  @import '@/assets/css/main.scss';

</style>